@charset "UTF-8"; 
/* commonstyle
 * all the pages need to include
 *   */
body{    font-size: 13px;} 

.mui-popup{width: 87.5%;    -webkit-transform: translate3d(-50%,0,0) scale(0);
    transform: translate3d(-50%,0,0) scale(0);top:10px;}// 解决弹窗卡一下的问题，初始宽度设为想要的宽度
header{
    &.mui-bar-nav{
        .logo{height: 28px;
    position: absolute;
    left: 44px;
    top: 0;
    bottom: 0;
    margin: auto;}
        .btn-login,.btn-demo,.btn-register{ margin-left: 5px !important;   padding:4px 5px;font-size: 12px;    top: 10px;}
        .btn-download{     display: inline-block;
    width: 24px;
    height: 24px;background: url(images/icon-download.png) center/24px no-repeat;
    margin: 10px;
    float: left;}
        .mui-icon-bars{font-weight: bold;}
    }
}
.mui-bar .mui-icon:active{opacity: 1;}
    .yjym{    text-align: center;
    height: 20px;
    line-height: 19px;
    font-size: 13px;}
.mui-bar-nav~.mui-content {
    padding-top: 44px;    padding-bottom: 70px;
}
/* banner-slide */
.banner-slide{position: relative;
    .banner-ads{    font-size: 12px;
    color: #fff;
    background: rgba(51, 51, 51, 0.9);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 40px;
    line-height: 40px;
        .btn-download{    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 11px;
    color: #fff;
    margin: 10px 10px 0 0;
    width: 70px;
    height: 22px;
    float: right;
    line-height: 20px;}
    }
    .close-slide{background: url(./images/icon-close-with-circle.png) center/14px no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 2;}
}
/* notice */
.notice{height: 28px;line-height: 28px;  display: -webkit-box;  display: -ms-flexbox;  display: flex;  overflow: hidden;
    .btn-title{padding: 0px 6px; margin: 3px 10px;font-size: 12px;}
    .notice-list{-webkit-box-flex: 1;-ms-flex: 1;flex: 1;width: 270px;
        .marquee {width: 100%;
          overflow: hidden;
          a{font-size: 13px;color: #333;}
        }
    }
}
.notice-slider{padding-bottom: 21px;height: 320px;
    .mui-slider-group{height: 100%;}
    .mui-slider-item{
        a{    line-height: 18px !important;
    font-size: 13px;
    color: #666;
    display: block;
    border-bottom: 1px dashed #666;
    margin-bottom: 10px;
    padding-bottom: 10px;}
    }
}
.notice-alert{      
     border-radius: 8px; 
     &.mui-popup-in{    transform: translate3d(-50%,0,0) scale(1);top: 10px;}
    .mui-popup-inner{border-radius: 0;    padding: 15px 5px 15px 15px;
        .mui-popup-text{    margin: 12px 0 0;}
    }
    .mui-popup-button{border-radius: 0 !important;font-size: 15px;}
    .mui-popup-title{font-size: 15px;color: #333;    height: 29px;
    margin: 0 -15px;
    border-bottom: 1px solid #0003;}
}
/* nav */
.nav{height: 66px;    display: block;padding: 0 8px;
    .swiper-container{height: 65px;}
    .swiper-slide{    font-size: 13px;
    height: 61px;display: inline-block;
    width: 63px;text-align: center;
    padding: 27px 0 0;
    line-height: 32px;
        &>span{position: relative;z-index:2;}
        &.swiper-slide-active{border-bottom: 0;
            &>span{color:#1279d9;}
        }
        &.item-live:before{content: '';position:absolute;left:0;top:0;z-index: 2;width:100%;height:100%;background:url(images/icon-live.png) no-repeat center 5px/22px !important;}
        &.item-casino:before{content: '';position:absolute;left:0;top:0;z-index: 2;width:100%;height:100%;background:url(images/icon-casino.png) no-repeat center 4px/22px !important;}
        &.item-lottery:before{content: '';position:absolute;left:0;top:0;z-index:2;width:100%;height:100%;background: url(images/icon-lottery.png) no-repeat center 4px/20px !important;}
        &.item-sports:before{content: '';position:absolute;left:0;top:0;z-index: 2;width:100%;height:100%;background: url(images/icon-sports.png) no-repeat center 4px/20px !important;}
        &.item-fish:before{content: '';position:absolute;left:0;top:0;z-index: 2;width:100%;height:100%;background: url(images/icon-fish.png) no-repeat center 4px/22px !important;}
        &.item-chess-and-card:before{content: '';position:absolute;left:0;top:0;z-index: 2;width:100%;height:100%;    background: url(images/icon-chess-and-card.png) no-repeat center 6px/16px !important;}
    }
}
/* mui-bar-tab */
.mui-bar-tab{
    height: 51px;
    .mui-tab-label{
        font-size: 13px !important;
    }
}
/* ui-bar-tab */
.mui-bar-tab{
    .mui-icon,.mui-icon:active{background: url(images/footer-nav-icon.png) no-repeat center/auto 80px;
        &.icon-deposit{background: url(images/footer-nav-icon.png) no-repeat center/auto 80px;background-position: -9px -4px;}
        &.icon-promo{background: url(images/footer-nav-icon.png) no-repeat center/auto 80px;background-position: -49px -5px;}
        &.icon-home{      width: 46px;    height: 46px;    position: absolute;    left: 50%;    margin-left: -23px;    top: -13px;    background: #c2c2c2;    border-radius: 23px;
            &+.mui-tab-label{margin-top: 31px;}
            &:after{    content: '';    width: 36px;    height: 36px;    background: url(images/footer-nav-icon.png) no-repeat -83px -2px/auto 80px;    position: absolute;    left: 5px;    top: 5px;}
        }
        &.icon-service{background: url(images/footer-nav-icon.png) no-repeat center/auto 80px;background-position: -129px -5px;}
        &.icon-mine{background: url(images/footer-nav-icon.png) no-repeat center/auto 80px;background-position: -168px -5px;}        
    }
    .mui-active{
        .mui-icon{background-position-y: -45px;
            &.icon-home{
                &:after{    background: url(images/footer-nav-icon.png) no-repeat -83px -43px/auto 80px;}
            }
        }            
    }
}
/* mui-off-canvas-left */
.mui-off-canvas-left{width: 60%;
    .person-info{height: 154px;padding-bottom:1px;  
        .un-login{text-align: center;  padding-top: 40px;
                p{font-size: 12px;  }
            .btn-login{    font-size: 15px;    padding: 6px 30px;    border-radius: 18px;}
        }
        .login{text-align: center;padding-top: 30px;
                .icon-person{background: url(images/icon-person.png) center /100%;width: 33px;height: 33px;display: inline-block;}
                p{font-size: 12px;  }
                .btn-person{    font-size: 15px; padding: 6px 30px;  border-radius: 18px;}
        }
    }
    .side-nav{
        ul{margin: 5px 0;}
        li{height: 40px;line-height: 40px;padding-left: 66px;position: relative;        
            &:before{content: ''; background: url(images/icon-side-menu-sprite.png) no-repeat 0 0/28px;width: 30px;height: 30px;position: absolute;    left: 20px;  top: 5px;}           
            &.home:before{background-position: center 1px;}
            &.pro:before{background-position: center -44px;}
            &.download:before{background-position: center -88px;}
            &.deposit:before{background-position: center -134px;}
            &.about:before{background-position: center -178px;}
            &.question:before{background-position: center -224px;}
            &.service:before{background-position: center -269px;}
            &.reg_rules:before{background-position: center -314px;}
            &.lang:before{background-position: center -360px;}
            &.pc:before{background-position: center -448px;}
            &.trans:before{background-position: center -404px;}
            &.lang:after{content: ''; background: url(images/icon-flag.png) no-repeat 0 0/30px;   width: 30px;   height: 22px;   position: absolute;   top: 8px;   left: 100px;}
            &.lang.zh-CN:after{background-position: 0 0;}
            &.lang.ja-JP:after{background-position: 0 -32px;}
            &.lang.en-US:after{background-position: 0 -62px;}
        }
    }
    .btn-logout{    font-size: 15px;
    padding: 6px 30px;
    border-radius: 18px;    margin: 10px auto;
    display: block;
    width: 122px;}
}
/* lang-menu */
.lang-menu{ display:none;list-style: none;  padding: 0; position: absolute;    width: 63px;    height: 120px;    margin: 0;    left: 80%;    top: 360px;    z-index: 11;
    li{height: 40px;line-height: 40px;position: relative;
        &:before{content: '';  position: absolute;    width: 15px;    height: 15px;    left: 6px;    top: 13px;    background: url(images/icon-lang-select.png) no-repeat 0 bottom/15px;}
        &.current:before{background-position: 0 0;}        
        &:after{content: '';width: 30px;height: 22px;background: url(images/icon-flag.png) no-repeat 0 0/30px;position: absolute;right: 5px;    top: 10px;}
        &.zh-CN:after{background-position: 0 0;}
        &.en-US:after{background-position: 0 -64px;}
        &.ja-JP:after{background-position: 0 -32px;}
        a{display: block;width: 100%;height: 100%;font-size: 0;}
    }
}

.mui-bar-nav{z-index: 997;}

/* index-canvas-show 首页的侧滑菜单 */
.index-canvas-wrap{    position: absolute;    top: 0;    bottom: 0;    z-index: 9999;left: -100%;-webkit-transition: all 0.5s  ease-in-out;transition: all 0.5s  ease-in-out;
    aside{visibility: visible; }
    .mui-icon-closeempty{    position: absolute;     margin-left: -40px;   left: 60%;    background: #444;    color: #fff;    width: 40px;    height: 40px;    text-align: center;    line-height: 40px;    font-size: 40px;}
}
.index-canvas-show{
    &,body{height: 100%;} 
    body{     overflow: hidden;position: fixed;top: 0;left: 0;bottom: 0;right: 0;}
    .index-canvas-wrap{left: 0;}
}
/* index-login-info */
.login-info{
    display: inline-block;
    height: 24px;
    padding-right: 10px;
    margin-top: 10px;
    min-width: 40px;
    float: right;
    position: relative;
    .user_name,.money{font-size: 9px;text-align: right;line-height: 13px;}   
    .money{padding-left: 10px;    height: 14px;    line-height: 14px;} 
    //login-pop-window
    .ex {
        width: 190px;
        background-color: rgba(102,102,102,.98);
        padding-left: 20px;
        position: absolute;
        top: 34px;
        padding-top: 5px;-webkit-transition: all 0.3s;transition: all 0.3s;
        right: -205px; height: 400px;  z-index: 100;
        border-right: 0;
        &.open{right: -10px;}
    }
    .ex hr {
        border-top: 0;
        border-bottom: 1px solid #909090;
        margin: 5px 0
    }
    .ex table {
        width: 160px
    }
    .ex table tr td {
        color: #fff;
        font-size: 10px;
        line-height: 20px;
        text-transform: uppercase
    }
    .ex table tr td:last-child {
        text-align: right
    }
    .ex .ct {
        position: absolute;
        bottom: 0; 
        left: 20px;
        width: 150px
    }
    .ex .ct p .go {
        display: block;
        height: 35px;
        line-height: 35px;
        color: #fff; 
        font-size: 10px;
        background-color: #403f3f;    font-size: 13px;
    border-radius: 5px;
        text-align: center
    }   
     .mui-scroll-wrapper.mui-assets {
        top: 68px;height: 230px;
        left: 20px;
    }
}
/* 添加到桌面图标 */
.desk{    position: fixed;
    z-index: 902;
    background: #ffffffe6;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 60px;
    border-radius: 4px;
    bottom: 70px;}

.desk .logo {
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px
}

.desk .tip {
    width: 200px;
    float: left;
    padding: 9px 0;
    line-height: 20px
}

.desk .close {
    width: 40px;
    float: right;
    text-align: center;
    padding: 5px 0 0 10px
}

.desk div>img {
    width: 48px;
    margin-top: 6px;
    border-radius: 5px
}


.desk .desk-text {
    font-size: 12px;color: #333;
}

.desk .desk-text em {
    display: inline-block;
    width: 27px;
    height: 15px;
    background-size: 27px auto!important;
    vertical-align: middle;
    margin: 0 5px;
    background: url(./images/desk.png) no-repeat top left;
}

.desk i {
    display: inline-block;
    width: 24px;
    height: 21px;
    background: url(./images/close.png) no-repeat top left;
    background-size: 18px auto!important;
    margin: 5px
}
/* login and register page */
.type-header{
    padding: 15px 0;text-align: center;font-size: 0;    border: 0;display: block;
    .mui-btn{display: inline-block;width: auto;line-height: 1;    padding: 7px 25px;border-radius:4px; border-color: #1766bb;color: #1766bb;        
        &:first-child{border-top-right-radius: 0;border-bottom-right-radius:0;border-left-width: 1px;}
        &:last-child{border-top-left-radius: 0;border-bottom-left-radius: 0;}
        &.mui-active{background: #1766bb;}
    }
}
// 注册登录样式
.mui-bar.mui-bar-blue{    background-color: #1766bb;}
.login-wrap,.register-wrap{
        position: fixed;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    overflow: hidden;transition: all 0.3s ease-in-out;
    .mui-bar-nav{position: relative;}  
    .mui-icon-arrowleft,.mui-title{color: #fff;}       
}
.login-wrap{
    .login-icon{background: url(./images/login-icon.png) 0 0/100%;width: (265px/2);height:  (265px/2);margin: (35px/2) auto (74px/2-10);}
}
.mui-content-without-footer-address{    padding: 44px 0 0 0 !important;}
.type-content{
    .mui-control-content{padding: 10px 30px;
            .mui-input-group{background-color: transparent;
                &:before,&:after{content: none;}
                .mui-input-row{height: auto;
                    &:after{content: none;}
                    label,input{float: none;}
                    label{    padding: 0;
    width: 100px;
    display: block;
    font-size: 12px;
    color: #999;
    margin-bottom: 0;
    line-height: 16px;
    height: 16px;}
                    input[type=text],input[type=password]{border: 1px solid #ddd;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #333;
    background: #fff;}
                    .mui-icon-eye,.mui-icon-clear{    top: 26px;    height: 35px;    line-height: 35px;}     
                    .error-info{position: absolute;right: 0;top: 0;font-size: 12px;color: #333;
                        .mui-icon-info{    color: #f65d5d;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: top;
    margin-top: 1px;}
                    }
                    .forget-pas{position: absolute;color: #999;right: 0;}
                    &.password-input-row{height: 100px;}
                    .mui-input-select~.mui-icon-arrowdown{font-size: 20px;    z-index: 1;    right: 0;    width: 38px;    text-align: center;    color: #999;    top: 26px;    height: 35px;    line-height: 35px;    position: absolute;}
                    .mui-flex{display: -webkit-box;display: -ms-flexbox;display: flex;position: relative;
                        input{-webkit-box-flex: 1;-ms-flex: 1;flex: 1;}
                        .mui-icon-clear{    top: 5px; right: 120px;}
                        img{width: 110px;  height: 35px;  margin: 5px;}
                    }
                }
                .mui-button-row{height: auto;           
                    .mui-btn-block{    font-size: 14px;    padding: 10px 0;                    
                    }                
                }
                .tk{height: 45px;
                    input[type=checkbox]{    left: 0;   top: 9px;
                        &:before{font-size: 24px;    color: #1766bb;}
                    }
                    a{color: #999;float: left;line-height: 45px;margin-left: 30px;}
                }
                .icon-star{    background: url(images/icon-star.png) no-repeat center/100%;    display: inline-block;    width: 12px;    height: 12px;    margin: 0 4px -1px;}
            }
    }
}
.copy-right{    font-size: 9px;
    color: #999;
    margin: 0 10px;
    text-align: center;
    border-top: 1px solid #efefef;
    padding: 10px 0 0;    margin-top: 10px;}

/* 关于我们，注册条款 */
[data-list="terms"],[data-list="about"]{
        padding: 0 5px;
}

/* 线上样式修复  */
#transactionType{
    width: 141px;
    text-align: center;
    .mui-table-view-cell:after{
        right: 15px;
    }
}
