/* commonstyle
 * all the pages need to include
 *   */
body {
  font-size: 12px;
}

header.mui-bar-nav .logo {
  height: 20px;
  position: absolute;
  left: 44px;
  top: 0;
  bottom: 0;
  margin: auto;
}
header.mui-bar-nav .btn-login, header.mui-bar-nav .btn-demo, header.mui-bar-nav .btn-register {
  margin-left: 5px !important;
  padding: 4px 5px;
  font-size: 12px;
  top: 10px;
}
header.mui-bar-nav .btn-download {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(images/icon-download.png) center/24px no-repeat;
  margin: 10px;
  float: left;
}
header.mui-bar-nav .yjym {
  text-align: center;
  height: 17px;
  line-height: 16px;
  position: absolute;
  top: 44px;
  font-size: 10px;
  left: 0;
  right: 0;
}
header.mui-bar-nav .mui-icon-bars {
  font-weight: bold;
}

.mui-bar-nav ~ .mui-content {
  padding-top: 61px;
  padding-bottom: 51px;
}

/* banner-slide */
.banner-slide .close-slide {
  background: url(./images/icon-close-with-circle.png) center/14px no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

/* notice */
.notice {
  height: 28px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.notice .btn-title {
  padding: 0px 2px;
  margin: 3px 10px;
  font-size: 12px;
}
.notice .notice-list {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.notice .notice-list p {
  margin: 0;
  font-size: 12px;
}

.notice-slider {
  padding-bottom: 21px;
}
.notice-slider .mui-slider-item > a {
  line-height: 18px !important;
  font-size: 12px;
  color: #666;
}
.notice-slider .mui-slider-indicator {
  bottom: -5px;
}

.notice-alert {
  border-radius: 10px;
}
.notice-alert .mui-popup-inner {
  border-radius: 0;
}
.notice-alert .mui-popup-button {
  border-radius: 0 !important;
  font-size: 15px;
}
.notice-alert .mui-popup-title {
  background: url(images/notice-title-bg.png) no-repeat center/auto 8px;
  font-size: 15px;
  color: #333;
}

/* nav */
.nav {
  height: 65px;
}
.nav .mui-scroll-wrapper {
  height: 70px;
}
.nav .mui-scroll-wrapper .mui-scroll {
  height: 70px;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-transition-duration: 0ms !important;
  transition-duration: 0ms !important;
  width: 100%;
  font-size: 0;
}
.nav .mui-scroll-wrapper .mui-scroll .mui-control-item {
  font-size: 12px;
  height: 61px;
  width: 20%;
  padding: 27px 0 0;
  line-height: 32px;
}
.nav .mui-scroll-wrapper .mui-scroll .mui-control-item.mui-active {
  border-bottom: 0;
}
.nav .mui-scroll-wrapper .mui-scroll .mui-control-item.item-live {
  background: url(images/icon-live.png) no-repeat center 3px/24px;
}
.nav .mui-scroll-wrapper .mui-scroll .mui-control-item.item-casino {
  background: url(images/icon-casino.png) no-repeat center 3px/24px;
}
.nav .mui-scroll-wrapper .mui-scroll .mui-control-item.item-lottery {
  background: url(images/icon-lottery.png) no-repeat center 3px/24px;
}
.nav .mui-scroll-wrapper .mui-scroll .mui-control-item.item-sports {
  background: url(images/icon-sports.png) no-repeat center 3px/24px;
}
.nav .mui-scroll-wrapper .mui-scroll .mui-control-item.item-fish {
  background: url(images/icon-fish.png) no-repeat center 3px/24px;
}

/* mui-bar-tab */
.mui-bar-tab {
  height: 51px;
}

/* ui-bar-tab */
.mui-bar-tab .mui-icon {
  background: url(images/footer-nav-icon.png) no-repeat center/auto 80px;
}
.mui-bar-tab .mui-icon.icon-deposit {
  background-position: -9px -4px;
}
.mui-bar-tab .mui-icon.icon-promo {
  background-position: -49px -5px;
}
.mui-bar-tab .mui-icon.icon-home {
  width: 46px;
  height: 46px;
  position: absolute;
  left: 50%;
  margin-left: -23px;
  top: -13px;
  background: #c2c2c2;
  border-radius: 23px;
}
.mui-bar-tab .mui-icon.icon-home + .mui-tab-label {
  margin-top: 31px;
}
.mui-bar-tab .mui-icon.icon-home:after {
  content: '';
  width: 36px;
  height: 36px;
  background: url(images/footer-nav-icon.png) no-repeat -83px -2px/auto 80px;
  position: absolute;
  left: 5px;
  top: 5px;
}
.mui-bar-tab .mui-icon.icon-service {
  background-position: -129px -5px;
}
.mui-bar-tab .mui-icon.icon-mine {
  background-position: -168px -5px;
}
.mui-bar-tab .mui-active .mui-icon {
  background-position-y: -45px;
}
.mui-bar-tab .mui-active .mui-icon.icon-home:after {
  background: url(images/footer-nav-icon.png) no-repeat -83px -43px/auto 80px;
}

/* mui-off-canvas-left */
.mui-off-canvas-left {
  width: 80%;
}
.mui-off-canvas-left .person-info {
  height: 154px;
  padding-bottom: 1px;
}
.mui-off-canvas-left .person-info .un-login {
  text-align: center;
  padding-top: 40px;
}
.mui-off-canvas-left .person-info .un-login p {
  font-size: 12px;
}
.mui-off-canvas-left .person-info .un-login .btn-login {
  font-size: 15px;
  padding: 6px 30px;
  border-radius: 18px;
}
.mui-off-canvas-left .person-info .login {
  text-align: center;
  padding-top: 30px;
}
.mui-off-canvas-left .person-info .login .icon-person {
  background: url(images/icon-person.png) center/100%;
  width: 33px;
  height: 33px;
  display: inline-block;
}
.mui-off-canvas-left .person-info .login p {
  font-size: 12px;
}
.mui-off-canvas-left .person-info .login .btn-person {
  font-size: 15px;
  padding: 6px 30px;
  border-radius: 18px;
}
.mui-off-canvas-left .side-nav ul {
  margin: 5px 0;
}
.mui-off-canvas-left .side-nav li {
  height: 40px;
  line-height: 40px;
  padding-left: 66px;
  position: relative;
}
.mui-off-canvas-left .side-nav li:before {
  content: '';
  background: url(images/icon-side-menu-sprite.png) no-repeat 0 0/28px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 5px;
}
.mui-off-canvas-left .side-nav li.home:before {
  background-position: center 1px;
}
.mui-off-canvas-left .side-nav li.pro:before {
  background-position: center -44px;
}
.mui-off-canvas-left .side-nav li.download:before {
  background-position: center -88px;
}
.mui-off-canvas-left .side-nav li.deposit:before {
  background-position: center -134px;
}
.mui-off-canvas-left .side-nav li.about:before {
  background-position: center -178px;
}
.mui-off-canvas-left .side-nav li.question:before {
  background-position: center -224px;
}
.mui-off-canvas-left .side-nav li.service:before {
  background-position: center -269px;
}
.mui-off-canvas-left .side-nav li.reg_rules:before {
  background-position: center -314px;
}
.mui-off-canvas-left .side-nav li.lang:before {
  background-position: center -360px;
}
.mui-off-canvas-left .side-nav li.pc:before {
  background-position: center -448px;
}
.mui-off-canvas-left .side-nav li.trans:before {
  background-position: center -404px;
}
.mui-off-canvas-left .side-nav li.lang:after {
  content: '';
  background: url(images/icon-flag.png) no-repeat 0 0/30px;
  width: 30px;
  height: 22px;
  position: absolute;
  top: 8px;
  left: 100px;
}
.mui-off-canvas-left .side-nav li.lang.zh-CN:after {
  background-position: 0 0;
}
.mui-off-canvas-left .side-nav li.lang.ja-JP:after {
  background-position: 0 -32px;
}
.mui-off-canvas-left .side-nav li.lang.en-US:after {
  background-position: 0 -62px;
}
.mui-off-canvas-left .btn-logout {
  font-size: 15px;
  padding: 6px 30px;
  border-radius: 18px;
  margin: 10px auto;
  display: block;
  width: 122px;
}

/* lang-menu */
.lang-menu {
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 63px;
  height: 120px;
  margin: 0;
  left: 80%;
  top: 400px;
  z-index: 11;
}
.lang-menu li {
  height: 40px;
  line-height: 40px;
  position: relative;
}
.lang-menu li:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: 6px;
  top: 13px;
  background: url(images/icon-lang-select.png) no-repeat 0 bottom/15px;
}
.lang-menu li.current:before {
  background-position: 0 0;
}
.lang-menu li:after {
  content: '';
  width: 30px;
  height: 22px;
  background: url(images/icon-flag.png) no-repeat 0 0/30px;
  position: absolute;
  right: 5px;
  top: 10px;
}
.lang-menu li.zh-CN:after {
  background-position: 0 0;
}
.lang-menu li.en-US:after {
  background-position: 0 -32px;
}
.lang-menu li.ja-JP:after {
  background-position: 0 -64px;
}
.lang-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}

/* index-login-info */
.login-info {
  display: inline-block;
  height: 24px;
  padding-right: 10px;
  margin-top: 10px;
  min-width: 40px;
  float: right;
  position: relative;
}
.login-info .user_name, .login-info .money {
  font-size: 9px;
  text-align: right;
  line-height: 13px;
}
.login-info .ex {
  width: 190px;
  background-color: rgba(102, 102, 102, 0.98);
  padding-left: 20px;
  position: absolute;
  top: 34px;
  padding-top: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  right: -200px;
  height: 475px;
  z-index: 10;
}
.login-info .ex.open {
  right: -10px;
}
.login-info .ex hr {
  border-top: 0;
  border-bottom: 1px solid #909090;
  margin: 5px 0;
}
.login-info .ex table {
  width: 160px;
}
.login-info .ex table tr td {
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  text-transform: uppercase;
}
.login-info .ex table tr td:last-child {
  text-align: right;
}
.login-info .ex .ct {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 150px;
}
.login-info .ex .ct p .go {
  display: block;
  height: 35px;
  line-height: 35px;
  color: #fff;
  font-size: 10px;
  background-color: #403f3f;
  text-align: center;
}
.login-info .mui-scroll-wrapper.mui-assets {
  top: 68px;
  height: 308px;
  left: 20px;
}

/* casino-list */
.casino-list-bar {
  background-color: #efefef;
  border-bottom: 1px solid #ccc;
}

.mui-content-casino-list {
  padding-top: 44px !important;
  background: #efefef;
}
.mui-content-casino-list .casino-wrap {
  padding: 10px;
}
.mui-content-casino-list .electronic-search {
  position: relative;
  margin-bottom: 10px;
}
.mui-content-casino-list .electronic-search input {
  margin: 0;
  height: 35px;
  font-size: 14px;
  border: 1px solid #ccc;
  padding-right: 100px;
}
.mui-content-casino-list .electronic-search .btn-search {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  color: #333;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 84px;
  background: #ccc;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.mui-content-casino-list .electronic-search .mui-icon-clear {
  right: 80px;
  top: 8px;
}
.mui-content-casino-list .casino-list {
  margin-left: -5px;
  margin-right: -5px;
}
.mui-content-casino-list .casino-list a {
  text-align: center;
  display: block;
  padding: 0 5px;
}
.mui-content-casino-list .casino-list a p {
  height: 24px;
  line-height: 24px;
  background: #ccc;
  color: #333;
  font-size: 12px;
}
.mui-content-casino-list .casino-list .img-wrap {
  background: #fff;
  padding: 8px 0;
}
.mui-content-casino-list .casino-list .img-wrap img {
  width: 60px;
  vertical-align: middle;
}

/* about */
.about-wrap {
  padding: 10px 20px;
}
.about-wrap p {
  font-size: 12px;
  color: #333;
}

/* content style */
.content-without-notice {
  padding-top: 44px !important;
}

.content-without-footer {
  padding-bottom: 0 !important;
}

/* promo-detail */
.promo-detail-content .gb-imgs > .ct {
  padding: 10px;
}
.promo-detail-content .gb-imgs > .ct ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.promo-detail-content .gb-imgs > .ct ul li > a {
  width: 100%;
  line-height: 0;
  display: inline-block;
}
.promo-detail-content .gb-imgs > .ct ul li > a img {
  width: 100%;
}
.promo-detail-content .gb-imgs > .ct ul li > .ct {
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 5px;
}
.promo-detail-content .gb-imgs > .ct ul li > .ct h5 {
  font-size: 14px;
  font-weight: normal;
  color: #8f8f94;
  position: relative;
  text-align: center;
}
.promo-detail-content .gb-imgs > .ct ul li > .ct h5 > i {
  display: block;
  border-bottom: 1px dashed #e2e2e2;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.promo-detail-content .gb-imgs > .ct ul li > .ct h5 span {
  display: inline-block;
  height: 23px;
  padding: 0 7px;
  border-radius: 3px;
  line-height: 23px;
  color: #fff;
  background-color: #1766bb;
  font-size: 12px;
  position: relative;
  z-index: 1;
}
.promo-detail-content .gb-imgs > .ct ul li > .ct p {
  padding: 5px 0;
  line-height: 18px;
  color: #999;
  font-size: 12px;
  margin-bottom: 0;
}
.promo-detail-content .gb-form-foot {
  padding: 10px;
}
.promo-detail-content .gb-form-foot .submit {
  border: 1px solid #1766bb;
  background-color: #1766bb;
  width: 100%;
  padding: 10px 12px;
  font-size: 13px;
}

/* promo-records */
.promo-record-content .promo-records-warp {
  padding: 0 10px;
  margin-top: 10px;
  height: 85px;
}
.promo-record-content .promo-records-warp i {
  display: block;
  width: 4px;
  height: 85px;
  position: absolute;
  top: 0;
  left: -3px;
  background-repeat: repeat-y;
  background: url(../images/pro-bg.png);
}
.promo-record-content .promo-records-warp .pro-bg-left {
  background-position: 0 0;
}
.promo-record-content .promo-records-warp .pro-bg-right {
  background-position: right top;
  left: -1px;
}
.promo-record-content .promo-box-left {
  background: #fff;
  padding: 10px 10px;
  height: 85px;
  width: 68%;
  float: left;
  position: relative;
}
.promo-record-content .promo-box-left h5 {
  font-size: 12px;
  color: #333;
  line-height: 15px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 0;
  margin-bottom: 7px;
  min-height: 45px;
}
.promo-record-content .promo-box-left .text {
  font-size: 10px !important;
  color: #999;
  line-height: 16px;
}
.promo-record-content .promo-box-left .text .sum {
  float: left;
}
.promo-record-content .promo-box-left .text .time {
  display: inline-block;
  float: right;
  margin-right: 20px;
}
.promo-record-content .promo-box-right {
  border-radius: 4px;
  position: relative;
  padding: 10px 10px;
  color: #fff;
  line-height: 16px;
  height: 85px;
  width: 32%;
  float: left;
}
.promo-record-content .promo-box-right.promo-gray {
  background: #7b7b7b;
}
.promo-record-content .promo-box-right.promo-blue {
  background: #3488e7;
}
.promo-record-content .promo-box-right.promo-green {
  background: #1fbd66;
}
.promo-record-content .promo-box-right.promo-orange {
  background: #f07e11;
}
.promo-record-content .promo-box-right span {
  display: block;
  font-size: 12px;
  text-align: center;
}
.promo-record-content .promo-box-right .num {
  font-size: 20px;
  margin-top: 15px;
}
.promo-record-content .promo-box-right .annotation {
  line-height: 16px;
  margin-top: 10px;
  font-size: 10px;
}
.promo-record-content .promo-box-right .round {
  position: absolute;
  z-index: 999;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #f2f2f2;
}
.promo-record-content .promo-box-right .radio-up {
  left: -3px;
  top: -5px;
}
.promo-record-content .promo-box-right .radio-dwon {
  left: -3px;
  bottom: -5px;
}
.promo-record-content .org {
  color: #f1aa4d;
}

/*# sourceMappingURL=common.css.map */
