.hongbao-wrap{
    width: 120px;height: 110px;position: fixed;right: 0;bottom: 50px;z-index: 2001;cursor: pointer;margin: 0;-webkit-transform: rotateZ(0);transform: rotateZ(0);opacity: 1;filter:alpha(opacity=100);
    -webkit-transition: all 1s;
    transition: all 1s;-webkit-transform-origin: center;transform-origin: center;
    .extra,.img{position: absolute;}
    .img{-webkit-animation: scaleIn 3s infinite;animation: scaleIn 3s infinite;}
     .hongbao-slider{ 
        .mui-slider-item{height:298px*0.35;}
    }
    .mui-slider-indicator{bottom: -7px;}
    .hb_type_1{
        .extra{background: url(images/hongbao/hongbao_type1.png) 0 0/100%;width: 193px*0.35;height: 192px*0.35;top: 78px*0.35;left:26px;}
        .img{background: url(images/hongbao/hongbao_extra1_hover.png) 0 0/100%;width: 274px*0.35;height: 223px*0.35;top: 50px*0.35;left: 15px;}
        &:hover{
            .extra{background-image: url(images/hongbao/hongbao_type1_hover.png) 0 0/100%;}
        } 
    }
    .hb_type_2{
        .extra{background: url(images/hongbao/hongbao_type2.png) 0 0/100%;width: 204px*0.35;height: 191px*0.35;top: 84px*0.35;left: 66px*0.35;}
        .img{background: url(images/hongbao/hongbao_extra2_hover.png) 0 0/100%;width: 336px*0.35;height: 214px*0.35;top: 64px*0.35;left: 0;}
        &:hover{
            .extra{background-image: url(images/hongbao/hongbao_type2_hover.png) 0 0/100%;}
        }
    }
    .hb_type_3{
        .extra{background: url(images/hongbao/hongbao_type3.png) 0 0/100%;width: 215px*0.35;height: 284px*0.35;top: 22px*0.35;left: 58px*0.35;}
        .img{background: url(images/hongbao/hongbao_extra3_hover.png) 0 0/100%;width: 266px*0.35;height: 168px*0.35;top: 0;left: 16px*0.35;}
        &:hover{
            .extra{background-image: url(images/hongbao/hongbao_type3_hover.png) 0 0/100%;}
        }
    }
    &.hide_hongbao{right: 50%;margin-right: -172px*0.35;bottom: 50%;margin-bottom: -149px*0.35;-webkit-transform: rotateZ(720deg);transform: rotateZ(720deg);opacity: 0;filter:alpha(opacity=0);}
}
/* caidai donghua */
@-webkit-keyframes scaleIn{
    from{-webkit-transform: scale(0);transform: scale(0);opacity: 0;}
    to{-webkit-transform: scale(1);transform: scale(1);opacity: 1;}
}
@keyframes scaleIn{
    from{-webkit-transform: scale(0);transform: scale(0);opacity: 0;}
    to{-webkit-transform: scale(1);transform: scale(1);opacity: 1;}
}
@-webkit-keyframes rotateZ{
    from{-webkit-transform: rotateZ(0);transform: rotateZ(0);}
    to{-webkit-transform: rotateZ(360deg);transform: rotateZ(360deg);}
}
@keyframes rotateZ{
    from{-webkit-transform: rotateZ(0);transform: rotateZ(0);}
    to{-webkit-transform: rotateZ(360deg);transform: rotateZ(360deg);}
}
.hongbao_detail{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 2001;background: rgba(0,0,0,0.7);display: none;
    .hongbao_inner{width: 559px*0.71;height: 586px*0.71;position: absolute;margin: auto;top: 0;right: 0;bottom: 0;left: 0;
        .icon-close{background: url(images/hongbao/icon-close.png) 0 0/100%;width: 37px*0.71;height: 36px*0.71;position: absolute;    z-index: 10;top: 0;right: 50px;-webkit-transition:all 0.3s;transition:all 0.3s;cursor:pointer;  
            &:hover{-webkit-transform: rotateZ(90deg);transform: rotateZ(90deg);}
        }
        //hongbao element
        .hongbao{background: url(images/hongbao/hongbao_open_bg.png) 0 0/100%;width: 319px*0.71;height: 451px*0.71;    position: absolute; bottom: 0; left: 50%;  margin-left: -159px*0.71;z-index: 2;
            //hongbao open btn
            .icon-open{background: url(images/hongbao/icon-open.png) no-repeat 0 0/100%;width: 126px*0.71;height: 128px*0.71;    position: absolute; left: 50%;  margin-left: -63px*0.71;  top: 80px*0.71;cursor: pointer;
                &:hover{background-image: url(images/hongbao/icon-open-hover.png);}
            }
            .hongbao-time-txt{font-size: 16px*0.71;color: #f7dc8b;text-align: center;margin-top: 221px*0.71;}
            .hongbao-time{font-size: 17px*0.71;font-weight: bold;color: #ffc000;text-align: center;}
            .btn-rule{display: block;margin: 34px auto 0;background: url(images/hongbao/icon-hongbao-rule.png) 0 0/100%;width: 200px*0.71;height: 63px*0.71;
                &:hover{background-image: url(images/hongbao/icon-hongbao-rule-hover.png);}
            }
            // hongbao disabled btn
            &.disabled{
                .icon-open{background-image: url(images/hongbao/icon-open-disabled.png);cursor: not-allowed;}
            }
            // hongbao rule btn
            .hongbao-rule{background: url(images/hongbao/hongbao-rule-bg.png) no-repeat center 10px/89%;width:319px*0.71;height: 440px*0.71;position: absolute; top: 0;  z-index: 2;display: none;
                .txt{    margin: 80px auto 0; width: 222px*0.71;  color: #8a080f;  font-size: 19px*0.71;  line-height: 1.5; height: 220px*0.71;  overflow: auto;}
                .icon-close-rule{display:block;background: url(images/hongbao/icon-close-rule.png) 0 0/100%;width: 129px*0.71;height: 55px*0.71;margin:40px auto 0;
                    &:hover{background-image: url(images/hongbao/icon-close-rule-hover.png);}
                }
            }
            // hongbao opened tips
            .tips{display: none;    line-height: 1.5;  position: absolute;  top: 60px*0.71;  text-align: center;  left: 0;   right: 0;
                .ttxt-1{font-size: 43px*0.71;color: #d11623;}
                .ttxt-2{font-size: 31px*0.71;color: #8c141c;font-weight: bold;}
                &.lose-hongbao{
                    .ttxt-2{font-size: 20px*0.71;}
                }
            }
        }
        .hongbao_extra{opacity:0;-webkit-animation:scaleIn 1s 1s forwards;animation:scaleIn 1s 1s forwards;background: url(images/hongbao/hongbao_open_extra.png) 0 0/100%;width: 473px*0.71;height: 501px*0.71;z-index: 1;    top: 80px*0.71; position: absolute;  left: 42px*0.71;}        
        &.opened{
            .hongbao{background: url(images/hongbao/opened_hongbao_bg.png) 0 0/100%;height: 501px*0.71;}
            .caidai{opacity:0;-webkit-animation:scaleIn 1s 1s forwards;animation:scaleIn 1s 1s forwards;background: url(images/hongbao/opened_line.png) 0 0/100%;width: 611px*0.71;height: 676px*0.71;}            
            .hongbao-light{-webkit-animation:rotateZ 50s infinite;animation:rotateZ 50s infinite;background: url(images/hongbao/opened_light.png) 0 0/100%;width: 594px*0.71;height: 594px*0.71;    position: absolute;  top: -72px*0.71;  z-index: 2;left: 50%; margin-left: -297px*0.71;}
            .btn-ok{     background: url(images/hongbao/icon-close-rule.png) 0 0/100%;    width: 129px*0.71;    height: 55px*0.71;    position: absolute;    bottom: 30px*0.71;    left: 50%;    margin-left: -64px*0.71;    z-index: 3;
                &:hover{background-image: url(images/hongbao/icon-close-rule-hover.png);}
            }
        }
    }
}
