@charset "UTF-8";
/*
 index style
 * */
/* api-grid */
.api-grid {
  min-height: 290px;
  width: 100%;
  /* 褰╃エ鍐呴〉鏍峰紡 */ }
  .api-grid > div > ul {
    padding: 0 5px !important; }
  .api-grid .mui-grid-view.mui-grid-9 .mui-table-view-cell {
    padding: 5px;
    height: 114px;
    border: 0;
    background: #fff;
    margin-bottom: 5px; }
    .api-grid .mui-grid-view.mui-grid-9 .mui-table-view-cell a {
      border-radius: 6px;
      padding: 8px 0; }
  .api-grid .api-item {
    display: inline-block;
    width: 70px;
    height: 72px;
    position: relative; }
    .api-grid .api-item:after {
      content: '';
      position: absolute;
      width: 70px;
      height: 34px;
      top: 6px;
      left: -13px;
      z-index: 2;
      border-top-left-radius: 34px;
      border-top-right-radius: 34px;
      -webkit-transform: rotateZ(-47deg);
      transform: rotateZ(-47deg); }
    .api-grid .api-item:before {
      content: '';
      position: absolute;
      width: 70px;
      height: 70px;
      top: 0;
      left: 0;
      z-index: 1;
      background: url(images/api-sprite.png) 0 0/70px no-repeat; }
    .api-grid .api-item.api-icon-2-3:before {
      background-position: -8.75px 0; }
    .api-grid .api-item.api-icon-1-16:before {
      background-position: 0 -70px; }
    .api-grid .api-item.api-icon-1-7:before {
      background-position: 0 -140px; }
    .api-grid .api-item.api-icon-1-17:before {
      background-position: 0 -210px; }
    .api-grid .api-item.api-icon-1-9:before, .api-grid .api-item.api-icon-2-9:before {
      background-position: 0 -280px; }
    .api-grid .api-item.api-icon-1-10:before, .api-grid .api-item.api-icon-2-10:before, .api-grid .api-item.api-icon-3-10:before {
      background-position: 0 -350px; }
    .api-grid .api-item.api-icon-1-5:before {
      background-position: 0 -420px; }
    .api-grid .api-item.api-icon-1-1:before {
      background-position: 0 -490px; }
    .api-grid .api-item.api-icon-1-33:before, .api-grid .api-item.api-icon-3-33:before {
      background-position: 0 -1750px; }
    .api-grid .api-item.api-icon-2-15:before {
      background-position: 0 -770px; }
    .api-grid .api-item.api-icon-2-6:before {
      background-position: 0 -630px; }
    .api-grid .api-item.api-icon-3-12:before {
      background-position: 0 -560px; }
    .api-grid .api-item.api-icon-3-19:before {
      background-position: 0 -700px; }
    .api-grid .api-item.api-icon-2-26:before {
      background-position: 0 -840px; }
    .api-grid .api-item.api-icon-2-20:before {
      background-position: 0 -910px; }
    .api-grid .api-item.api-icon-1-24:before, .api-grid .api-item.api-icon-3-23:before {
      background-position: 0 -980px; }
    .api-grid .api-item.api-icon-2-25:before {
      background-position: 0 -1050px; }
    .api-grid .api-item.api-icon-2-31:before {
      background-position: 0 -1681.25px; }
    .api-grid .api-item.api-icon-2-32:before {
      background-position: 0 -1612.5px; }
    .api-grid .api-item.api-icon-3-4:before {
      background-position: 0 -1120px; }
    .api-grid .api-item.api-icon-2-27:before {
      background-position: 0 -1190px; }
    .api-grid .api-item.api-icon-1-2:before {
      background-position: 0 -1260px; }
    .api-grid .api-item.api-icon-2-28:before {
      background-position: 0 -1330px; }
    .api-grid .api-item.api-icon-5-1:before {
      background-position: 0 -1541.25px; }
    .api-grid .api-item.api-icon-2-35:before {
      background-position: 0 -1820px; }
    .api-grid .api-item.api-icon-3-21:before {
      background-position: 0 -1890px; }
    .api-grid .api-item.api-icon-3-36:before {
      background-position: 0 -1960px; }
      .api-grid .api-item.api-icon-3-37:before {
      background-position: 0 -2030px; }
      .api-grid .api-item.api-icon-3-37.site119:before {
      background: url(images/api-icon-3-37-site119.png) 0 0/70px no-repeat;}
      .api-grid .api-item.api-icon-3-37.site270:before {
      background: url(images/api-icon-3-37-site270.png) 0 0/70px no-repeat;}
    .api-grid .api-item.lt:before {
      background-position: 0 -1400px; }
    .api-grid .api-item.yzt:before {
      background-position: 0 -1470px; }
    .api-grid .api-item.gns:before {
      background-position: 0 -1541.25px; }
    .api-grid .api-item.prg:before {
      background-position: 0 -1615px; }
  .api-grid .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
    margin-top: 0;
    font-size: 13px; }
  .api-grid ul[data-list="lottery"] .lottery-nav {
    display: block;
    height: 40px;
    font-size: 12px;
    margin: 0 0 8px;
    text-align: center; }
    .api-grid ul[data-list="lottery"] .lottery-nav .mui-scroll-wrapper {
      height: 40px; }
    .api-grid ul[data-list="lottery"] .lottery-nav .mui-scroll {
      width: 100%; }
    .api-grid ul[data-list="lottery"] .lottery-nav ul {
      height: 40px;
      display: block;
      border: 0;
      white-space: nowrap;
      text-align: center; }
    .api-grid ul[data-list="lottery"] .lottery-nav li {
      display: inline-block;
      font-size: 12px;
      width: 33.3333%; }
      .api-grid ul[data-list="lottery"] .lottery-nav li .mui-tab-item {
        padding: 0;
        height: 40px;
        display: block;
        width: 100%;
        line-height: 39px;
        padding-left: 40px;
        background-position: 4px center;
        background-size: 30px;
        background-repeat: no-repeat;
        text-align: left; }
        .api-grid ul[data-list="lottery"] .lottery-nav li .mui-tab-item.api-icon-4-22-2 {
          background-image: url(images/icon-yzt.png); }
        .api-grid ul[data-list="lottery"] .lottery-nav li .mui-tab-item.api-icon-4-22-1 {
          background-image: url(images/icon-lt.png); }
        .api-grid ul[data-list="lottery"] .lottery-nav li .mui-tab-item.api-icon-4-2 {
          background-image: url(images/icon-kg.png); }
        .api-grid ul[data-list="lottery"] .lottery-nav li .mui-tab-item.api-icon-4-10 {
          background-image: url(images/icon-bb.png); }
  .api-grid .lottery-content li {
    font-size: 12px; }
    .api-grid .lottery-content li .lottery-img {
      width: 70px;
      height: 70px;
      display: inline-block; }
  .api-grid .fish-img, .api-grid .card-img {
    width: 70px;
    height: 70px;
    display: inline-block; }

/* banner-loading */
.banner-loading .loader.api-loader, .api-loading .loader.api-loader {
  align-items: center; }
.banner-loading .ball-pulse.api-div div, .api-loading .ball-pulse.api-div div {
  width: 10px;
  height: 10px;
  background-color: #666;
  vertical-align: middle; }

.content-slide.mui-slider .mui-slider-group {
  height: 400px; }

/*# sourceMappingURL=index.css.map */
