/*
 index style
 * */
/* api-grid */
.api-grid{min-height: 290px;
    width: 100%;
    &>div>ul{padding: 0 5px !important;}
    .mui-grid-view.mui-grid-9 .mui-table-view-cell{padding: 5px;height: 114px;border: 0;background: #fff;margin-bottom: 5px;
        a{    border-radius: 6px;padding: 8px 0;}
    }
    .api-item{display: inline-block;width:70px;height:72px;position: relative;
        &:after{    content: '';
    position: absolute;
    width: 70px;
    height: 34px;
    top: 6px;
    left: -13px;
    z-index: 2;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    -webkit-transform: rotateZ(-47deg);
    transform: rotateZ(-47deg);}
        &:before{content: '';position: absolute;width: 70px;height: 70px;top: 0;left: 0;z-index: 1;background: url(images/api-sprite.png) 0 0/70px no-repeat;}
        &.api-icon-2-3:before{background-position: (-7px/0.8) 0;}        
        &.api-icon-1-16:before{background-position: 0 -70px;}     
        &.api-icon-1-7:before{background-position: 0 -140px;}    
        &.api-icon-1-17:before{background-position: 0 -210px;}    
        &.api-icon-1-9:before,&.api-icon-2-9:before{background-position: 0 -280px;}     
        &.api-icon-1-10:before,&.api-icon-2-10:before,&.api-icon-3-10:before{background-position: 0 -350px;}   
        &.api-icon-1-5:before{background-position: 0 -420px;}   
        &.api-icon-1-1:before{background-position: 0 -490px;}   
        &.api-icon-1-33:before,&.api-icon-3-33:before{    background-position: 0 -1750px;}
        &.api-icon-2-15:before{background-position: 0 -770px;}   
        &.api-icon-2-6:before{background-position: 0 -630px;}  
        &.api-icon-3-12:before{background-position: 0 -560px;}   
        &.api-icon-3-19:before{background-position: 0 -700px;}   
        &.api-icon-2-26:before{background-position: 0 (-672px/0.8);}   
        &.api-icon-2-20:before{background-position: 0 (-728px/0.8);}   
        &.api-icon-1-24:before,&.api-icon-3-23:before{background-position: 0 (-784px/0.8);}   
        &.api-icon-2-25:before{background-position: 0 (-840px/0.8);}    
        &.api-icon-2-31:before{background-position: 0 (-1345px/0.8);}    
        &.api-icon-2-32:before{background-position: 0 (-1290px/0.8);}
        &.api-icon-2-38:before{background-position: 0 (-1290px/0.8);}  
        &.api-icon-3-4:before{background-position: 0 (-896px/0.8);}  
        &.api-icon-2-27:before{background-position: 0 (-952px/0.8);}  
        &.api-icon-1-2:before{background-position: 0 (-1008px/0.8);}  
        &.api-icon-2-28:before{background-position: 0 (-1064px/0.8);} 
        &.api-icon-5-1:before{background-position: 0 (-1233px/0.8);} 
        &.api-icon-2-35:before{background-position: 0 -1820px;}
        &.api-icon-3-21:before{background-position: 0 -1890px;}
        &.api-icon-3-36:before{background-position: 0 -1960px;}
        &.lt:before{background-position: 0 (-1120px/0.8);}
        &.yzt:before{background-position: 0 (-1176px/0.8);}
        &.gns:before{background-position: 0 (-1233px/0.8);}
        &.prg:before{background-position: 0 (-1292px/0.8);}
        &.api-icon-3-37:before{background-position: 0 -2030px;}
        &.api-icon-3-37.site119:before {background: url(images/api-icon-3-37-site119.png) 0 0/70px no-repeat;}
        &.api-icon-3-37.site270:before {background: url(images/api-icon-3-37-site270.png) 0 0/70px no-repeat;}
        &.api-icon-3-37.site209:before {background: url(images/api-icon-3-37-site209.png) 0 0/70px no-repeat;}
    }
    .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{margin-top: 0;    font-size: 13px;}
    /* 彩票内页样式 */
    ul[data-list="lottery"]{
        .lottery-nav{
    display: block;
    height: 40px;
    font-size: 12px;
    margin: 0 0 8px;text-align: center;
        .mui-scroll-wrapper{height: 40px;}
        .mui-scroll{width: 100%;}
        ul{height: 40px;   display: block;       border: 0;white-space: nowrap;text-align: center;}
            li{    display: inline-block;font-size: 12px;    width: 33.3333%;
                .mui-tab-item{padding: 0;   height: 40px;   display: block;    width: 100%;    line-height: 39px;   padding-left: 40px;background-position: 4px center;
    background-size: 30px;
    background-repeat: no-repeat;    text-align: left;
                    &.api-icon-4-22-2{background-image: url(images/icon-yzt.png);}  
                    &.api-icon-4-22-1{background-image: url(images/icon-lt.png);} 
                    &.api-icon-4-2{background-image: url(images/icon-kg.png);} 
                    &.api-icon-4-10{background-image: url(images/icon-bb.png);}                   
                }
            }
        }        
    }
    .lottery-content{
        li{font-size: 12px;
            .lottery-img{width: 70px;height: 70px;display: inline-block;}
        }
    }
    .fish-img,.card-img{width: 70px;height: 70px;display: inline-block;}
}

/* banner-loading */
.banner-loading,.api-loading{
    .loader.api-loader {
        align-items: center;
    }
    .ball-pulse.api-div div {
        width: 10px;
        height: 10px;
        background-color: #666;
        vertical-align: middle;
    }
}
.content-slide{
    &.mui-slider .mui-slider-group{height: 400px;}
}
