@charset "UTF-8";
/* style of other pages */
/* mui-content-without-footer-address */
.mui-content-without-footer-address { padding: 44px 0 0 0 !important; }

/* page promo */
.banner { text-align: center; }
.banner img { width: 100%; }

.promo { position: relative; z-index: 1; border-radius: 4px; }
.promo .promo-list .swiper-slide .promo-item { margin-bottom: 10px; display: block; border-radius: 8px; border: 1px solid #e3e2e2; }
.promo .promo-list .swiper-slide .promo-item .img-wrap { padding: 12px; background: #fff; border-top-left-radius: 8px; border-top-right-radius: 8px; }
.promo .promo-list .swiper-slide .promo-item .pro-txt { height: 30px; line-height: 30px; background: #f2f2f2; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; padding: 0 12px; }
.promo .promo-list img { width: 100%; vertical-align: middle; }

.promo-head { height: 86px; }

.promo-header { position: fixed; top: 44px; height: 42px; left: 0; right: 0; z-index: 99; background: #fff; }

.btn-promo-sort { padding: 0 5px 0 0 !important; height: 34px; border: 0; border-radius: 0; margin-bottom: 10px; margin-top: 10px; }
.btn-promo-sort span { display: block; border-radius: 0; width: 100%; height: 34px; line-height: 34px; background: transparent; border: 0; border-bottom: 2px solid transparent; }

.btn-promo-sort.swiper-slide-active span { color: #327fc3; border-bottom: 2px solid #327fc3; }

.promo { height: 100%; }
.promo .swiper-container { height: 100%; }
.promo .swiper-container .swiper-slide .mui-scroll { padding: 10px; }

.promo-content { padding-top: 86px !important; background: #fff !important; position: absolute; padding-bottom: 53px !important; top: 0; width: 100%; bottom: 0; }

.promo-sorts { margin: 0 10px; }

/* blue-bar */
.mui-bar-blue { background-color: #1766bb; -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2) !important; box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2) !important; }
.mui-bar-blue .mui-icon-arrowleft, .mui-bar-blue .mui-title, .mui-bar-blue .mui-icon { color: #fff !important; }

/* mine page */
.icon-message { background: url(./images/icon-message.png) no-repeat center; background-size: 20px auto; width: 44px; height: 44px; }
.icon-message .mui-badge { font-size: 7px; top: 9px; margin-left: -17px; padding: 1px 4px; }

.icon-gift { background: url(./images/icon-gift.png) no-repeat center; background-size: 20px auto; width: 44px; margin-right: -10px !important; margin-left: 0 !important; height: 44px; }
.icon-gift i { display: inline-block; width: 12px; height: 12px; background: url(./images/ico-gift.png); background-size: cover; position: absolute; bottom: 10px; right: 10px; }

.mine-content { padding-bottom: 63px !important; }
.mine-content .user-info-wrap { height: 60px; position: relative; margin-bottom: 50px; }
.mine-content .user-info-wrap .gb-userinfo { position: absolute; height: 100px; left: 10px; right: 10px; -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1); box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1); border-radius: 5px; }
.mine-content .user-info-wrap .gb-userinfo .ct { overflow: hidden; border-bottom: 1px solid #efefef; height: 56px; padding: 13px 10px 0; display: -webkit-box; display: -ms-flexbox; display: flex; }
.mine-content .user-info-wrap .gb-userinfo .ct .avatar { width: 34px; height: 34px; }
.mine-content .user-info-wrap .gb-userinfo .ct p { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; line-height: 34px; padding: 0 10px; color: #666; }
.mine-content .user-info-wrap .gb-userinfo .ct .user-logout { height: 32px; }
.mine-content .user-info-wrap .gb-userinfo .money-info { display: -webkit-box; display: -ms-flexbox; display: flex; height: 44px; margin: 0; line-height: 44px; }
.mine-content .user-info-wrap .gb-userinfo .money-info .span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; }
.mine-content .user-info-wrap .gb-userinfo .money-info .span + .span { border-left: 1px solid #efefef; }
.mine-content .user-info-wrap .gb-userinfo .money-info .green { color: #35b386; }
.mine-content .user-info-wrap .gb-userinfo .money-info .orange { color: #e9a400; }
.mine-content .list-mine-item { margin: 0 0 10px; background: #fff; overflow: hidden; }
.mine-content .list-mine-item li { float: left; text-align: center; font-size: 14px; color: #333; height: 98px; border-right: 1px solid #efefef; }
.mine-content .list-mine-item li a { color: inherit; padding-top: 15px; display: block; }
.mine-content .list-mine-item li a p { color: inherit; margin-top: 8px; margin-bottom: 0; line-height: 16px; }
.mine-content .list-mine-item li a .ext-info { color: #999; font-size: 10px; }
.mine-content .list-mine-item li a .ext-info.with-icon { padding-left: 50px; }
.mine-content .list-mine-item li a .ext-info.icon-bank1 { background: url(images/banks-1.png) no-repeat 0/auto 11px; }
.mine-content .list-mine-item li:nth-child(3) { border-right: 0; }
.mine-content .list-mine-item li .item-img-wrap { height: 31px; display: block; position: relative; }
.mine-content .list-mine-item li .mine-item-img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; -webkit-transform: scale(0.5); transform: scale(0.5); }

/* download page */
.download-content { background: url(images/appBg.jpg) no-repeat center 0/100% !important; }
.download-content .app-logo { width: 100px; height: 100px; margin: 40px auto 0; display: block; }
.download-content .tit { font-size: 24px; color: #fff; margin-top: 10px; text-align: center; line-height: 24px; }
.download-content .des { font-size: 12px; color: #fff; text-align: center; line-height: 24px; }
.download-content .btn-wrap { margin-top: 60px; }
.download-content .btn-wrap .btn-download { width: 238px; height: 44px; line-height: 44px; font-size: 17px; color: #fff; display: block; margin: 0 auto 20px; border: 1px solid #fff; border-radius: 6px; padding-left: 74px; }
.download-content .btn-wrap .btn-download.android { background: url(images/icon-android.png) no-repeat 40px/24px; }
.download-content .btn-wrap .btn-download.ios { background: url(images/icon-ios.png) no-repeat 40px/24px; }

.download-content-ios { background: #fff !important; position: relative; margin-top: 44px; }
.download-content-ios .h-bg { width: 100%; }
.download-content-ios .app-logo { width: 100px; height: 100px; position: absolute; top: 40px; left: 50%; margin-left: -50px; }
.download-content-ios .btn-install { display: block; margin: 20px auto 0; width: 165px; height: 40px; text-align: center; line-height: 40px; color: #eb0002; font-size: 15px; border: 1px solid #eb0002; border-radius: 6px; }
.download-content-ios .down-step { width: 100%; }

/* casino-list */
.casino-list-bar { background-color: #efefef; border-bottom: 1px solid #ccc; }
.casino-list-bar .mui-icon-back { color: #666; }

.mui-content-casino-list { padding-top: 44px !important; background: #fff; }
.mui-content-casino-list .casino-wrap { padding: 10px; }
.mui-content-casino-list .electronic-search { position: relative; margin: 10px; }
.mui-content-casino-list .electronic-search input { margin: 0; height: 35px; font-size: 14px; border: 1px solid #ccc; padding-right: 100px; color: #333; }
.mui-content-casino-list .electronic-search .btn-search { position: absolute; right: 0; top: 0; font-size: 14px; color: #333; height: 35px; line-height: 35px; text-align: center; width: 84px; background: #ccc; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.mui-content-casino-list .electronic-search .mui-icon-clear { right: 80px; top: 8px; }
.mui-content-casino-list .casino-list { margin-left: -5px; margin-right: -5px; }
.mui-content-casino-list .casino-list a { text-align: center; display: block; padding: 0 5px; }
.mui-content-casino-list .casino-list a p { height: 24px; line-height: 24px; margin-bottom: 5px; color: #333; font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.mui-content-casino-list .casino-list .img-wrap { background: #fff; padding: 8px 0; }
.mui-content-casino-list .casino-list .img-wrap img { width: 70px; height: 70px; vertical-align: middle; }

.casino-game-type .g-t-slide-indicators .swiper-slide { width: 80px; height: 34px; line-height: 34px; text-align: center; }

/* about */
.about-wrap { padding: 10px 20px; }
.about-wrap p { font-size: 12px; color: #333; }

/* content style */
.content-without-notice { padding-top: 44px !important; }

.content-without-footer { padding-bottom: 0 !important; }

/* promo-detail */
.promo-detail-content.mui-content { padding-bottom: 0; background: #f2f2f2; }
.promo-detail-content table { color: #333; border: 1px solid #666; }
.promo-detail-content table td { border: 1px solid #666; }
.promo-detail-content .gb-select { display: block; }
.promo-detail-content .gb-select img { max-width: 100%; }
.promo-detail-content .gb-imgs > .ct { padding: 10px; }
.promo-detail-content .gb-imgs > .ct ul { padding: 0; margin: 0; list-style: none; }
.promo-detail-content .gb-imgs > .ct ul li > a { width: 100%; line-height: 0; display: inline-block; }
.promo-detail-content .gb-imgs > .ct ul li > a img { width: 100%; }
.promo-detail-content .gb-imgs > .ct ul li > .ct { background-color: #fff; padding: 5px 15px; border-radius: 5px; margin-top: 5px; }
.promo-detail-content .gb-imgs > .ct ul li > .ct h5 { font-size: 14px; font-weight: normal; color: #8f8f94; position: relative; text-align: center; }
.promo-detail-content .gb-imgs > .ct ul li > .ct h5 > i { display: block; border-bottom: 1px dashed #e2e2e2; position: absolute; top: 50%; left: 0; right: 0; }
.promo-detail-content .gb-imgs > .ct ul li > .ct h5 span { display: inline-block; height: 23px; padding: 0 7px; border-radius: 3px; line-height: 23px; color: #fff; background-color: #1766bb; font-size: 12px; position: relative; z-index: 1; }
.promo-detail-content .gb-imgs > .ct ul li > .ct p { padding: 5px 0; line-height: 18px; color: #999; font-size: 12px; margin-bottom: 0; }
.promo-detail-content .gb-form-foot { padding: 10px; }
.promo-detail-content .gb-form-foot .submit { border: 1px solid #1766bb; background-color: #1766bb; width: 100%; padding: 10px 12px; font-size: 13px; }
.promo-detail-content .gb-form-foot.new_foo { overflow: hidden; margin: 10px -10px 40px; padding: 0; }
.promo-detail-content .gb-form-foot.new_foo .mui-btn { float: left; width: 50%; border-radius: 0; font-size: 14px; padding: 0; height: 45px; line-height: 45px; }
.promo-detail-content .gb-form-foot.new_foo .mui-btn.btn-deposit { background: #1766bb; border-color: #1766bb; }
.promo-detail-content .gb-form-foot.new_foo .mui-btn.btn-apply { background: #0ec392; border-color: #0ec392; }
.promo-detail-content .table-scroll { padding: 0 10px; }
.promo-detail-content .table-scroll .mui-scroll { height: auto; }

/* promo-records */
.mui-bar-nav.promo-record .top-info { float: right; font-size: 10px; line-height: 15px; color: #fff; padding-top: 10px; text-align: right; }
.mui-bar-nav.promo-record .top-info .mone { display: inline-block; padding-left: 18px; background: url(images/promo/icon-money.png) no-repeat 0/12px; }

.promo-record-content .promo-nav { height: 42px; background: #fff; padding: 0 10px; line-height: 42px; }
.promo-record-content .promo-nav .mui-segmented-control { border: 0; border-radius: 0; }
.promo-record-content .promo-nav .mui-segmented-control .mui-control-item { font-size: 14px; color: #333; border: 0; border-bottom: 2px solid transparent; border-radius: 0; }
.promo-record-content .promo-nav .mui-segmented-control .mui-control-item.mui-active { color: #317ec2; border-color: #317ec2; background-color: transparent; }
.promo-record-content .promo-cont.mui-scroll-wrapper { top: 87px; }
.promo-record-content .promo-cont.mui-scroll-wrapper .mui-control-content { padding-bottom: 10px; }
.promo-record-content .promo-records-warp { padding: 0 10px; margin-top: 10px; height: 85px; }
.promo-record-content .promo-records-warp i { display: block; width: 4px; height: 85px; position: absolute; top: 0; left: -3px; background-repeat: repeat-y; background: url(../images/pro-bg.png); }
.promo-record-content .promo-records-warp .pro-bg-left { background-position: 0 0; }
.promo-record-content .promo-records-warp .pro-bg-right { background-position: right top; left: -1px; }
.promo-record-content .promo-box-left { background: #fff; padding: 10px 10px; height: 85px; width: 68%; float: left; position: relative; font-size: 12px; color: #333; line-height: 17px; }
.promo-record-content .promo-box-left .tit { color: #666; }
.promo-record-content .promo-box-right { border-radius: 4px; position: relative; padding: 10px 10px; color: #fff; line-height: 16px; height: 85px; width: 32%; float: left; }
.promo-record-content .promo-box-right.promo-gray { background: #7b7b7b; }
.promo-record-content .promo-box-right.promo-blue { background: #3488e7; }
.promo-record-content .promo-box-right.promo-green { background: #1fbd66; }
.promo-record-content .promo-box-right.promo-orange { background: #f07e11; }
.promo-record-content .promo-box-right span { display: block; font-size: 12px; text-align: center; }
.promo-record-content .promo-box-right .num { font-size: 20px; margin-top: 15px; }
.promo-record-content .promo-box-right .annotation { line-height: 16px; margin-top: 10px; font-size: 14px; }
.promo-record-content .promo-box-right .round { position: absolute; z-index: 999; width: 10px; height: 10px; border-radius: 10px; background: #f2f2f2; }
.promo-record-content .promo-box-right .radio-up { left: -3px; top: -5px; }
.promo-record-content .promo-box-right .radio-dwon { left: -3px; bottom: -5px; }
.promo-record-content .org { color: #f1aa4d; }
.promo-record-content .no-promo { display: block; text-align: center; padding: 50px 0; border: 1px solid #e2e2e2; background: #fff; border-radius: 3px; font-size: 14px; color: #979797; margin: 10px; }

.promo-apply-content.mui-content { background: #f2f2f2; font-size: 12px; color: #666; }
.promo-apply-content .top_title { padding: 10px; background: #fff; margin-bottom: 10px; }
.promo-apply-content .top_title .sub_tit { font-size: 10px; color: #999; }
.promo-apply-content .top_title .tit { font-size: 15px; color: #317ec2; }
.promo-apply-content .promo_con_list { font-size: 14px; color: #666; }
.promo-apply-content .promo_con_list .mui-table-view:before, .promo-apply-content .promo_con_list .mui-table-view:after { content: none; }
.promo-apply-content .promo_con_list .mui-table-view-cell { padding: 15px 35px 15px 15px; }
.promo-apply-content .promo_con_list .mui-table-view-cell .icon-pass, .promo-apply-content .promo_con_list .mui-table-view-cell .icon-fail, .promo-apply-content .promo_con_list .mui-table-view-cell .icon-pass-disa { position: absolute; top: 50%; right: 15px; width: 18.5px; height: 18.5px; background-size: 100%; background-repeat: no-repeat; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.promo-apply-content .promo_con_list .mui-table-view-cell .icon-pass { background-image: url(images/promo/icon-pass.png); }
.promo-apply-content .promo_con_list .mui-table-view-cell .icon-fail { background-image: url(images/promo/icon-fail.png); }
.promo-apply-content .promo_con_list .mui-table-view-cell .icon-pass-disa { background-image: url(images/promo/icon-pass-disa.png); }
.promo-apply-content .promo_con_list .mui-table-view-cell:after { left: 0; }
.promo-apply-content .promo_status { padding: 45px 10px 10px; text-align: center; }
.promo-apply-content .promo_status .icon-success { display: block; width: 69.5px; height: 69.5px; margin: 0 auto 10px; background: url(images/promo/icon-success.png) no-repeat center/100%; }
.promo-apply-content .promo_status .suc_tip { font-size: 15px; color: #317ec2; margin-bottom: 15px; }
.promo-apply-content .promo_status p { font-size: 12px; color: #666; margin-bottom: 0; }
.promo-apply-content .promo_status .btn_cust_serv { margin-top: 50px; margin-bottom: 0; padding: 0; height: 40px; line-height: 40px; font-size: 15px; color: #fff; background: #317ec2; border-color: #317ec2; }
.promo-apply-content .promo_status .fai_tip { font-size: 15px; color: #333; line-height: 22px; }
.promo-apply-content .promo_status .icon-failure { display: block; width: 57px; height: 65.5px; margin: 0 auto 10px; background: url(images/promo/icon-failure.png) no-repeat center/100%; }
.promo-apply-content.promo-apply2-content { padding-bottom: 40px; }
.promo-apply-content.promo-apply2-content .promo_item_list .promo_item { padding: 10px; position: relative; font-size: 12px; color: #333; background: #fff; margin-bottom: 10px; }
.promo-apply-content.promo-apply2-content .promo_item_list .promo_item .ti { color: #666; }
.promo-apply-content.promo-apply2-content .promo_item_list .promo_item .promo_item_sta { width: 100px; position: absolute; right: 0; top: 0; bottom: 0; color: #fff; text-align: center; line-height: 104px; font-size: 14px; }
.promo-apply-content.promo-apply2-content .promo_item_list .promo_item .promo_item_sta.suc { background: #1fbd66; }
.promo-apply-content.promo-apply2-content .promo_item_list .promo_item .promo_item_sta.awa { background: #f07e11; }
.promo-apply-content.promo-apply2-content .promo_item_list .promo_item .promo_item_sta.fai { background: #999; line-height: 24px; padding-top: 25px; }
.promo-apply-content.promo-apply2-content .promo_item_list .promo_item .promo_item_sta.proc { background: #317ec2; }
.promo-apply-content.promo-apply2-content .btn_cust_serv { position: fixed; z-index: 10; bottom: 0; left: 0; right: 0; border-radius: 0; margin: 0; padding: 0; height: 40px; line-height: 40px; font-size: 15px; color: #fff; background: #317ec2; border-color: #317ec2; }
.promo-apply-content.promo-apply3-content .promo_con_list { margin-bottom: 10px; }
.promo-apply-content.promo-apply3-content .pro_mone { padding: 10px; overflow: hidden; background: #fff; font-size: 14px; color: #333; }
.promo-apply-content.promo-apply3-content .btn_apply { margin: 32px 10px 12px; width: auto; padding: 0; height: 40px; line-height: 40px; font-size: 15px; color: #fff; background: #317ec2; border-color: #317ec2; }
.promo-apply-content.promo-apply3-content .btn_apply.disabled { background: #e2e2e2; color: #999; border-color: #e2e2e2; }
.promo-apply-content.promo-apply3-content .color-green { color: #1f9316; }
.promo-apply-content.promo-apply3-content .color-gray { color: #666; }
.promo-apply-content.promo-apply3-content .color-blue { color: #317ec2; }
.promo-apply-content.promo-apply3-content .app_num { font-size: 12px; color: #999; text-align: center; }

/* casino-transfer */
.link-all-game.mui-icon { color: #fff; font-size: 14px; line-height: 44px; padding: 0 10px; }

.header-casino-transfer { background: transparent; position: fixed; }
.header-casino-transfer.mui-bar-nav .mui-action-back { color: #fff; }

.content-casino-transfer { padding-top: 0 !important; }
.content-casino-transfer .mui-hide { display: none !important; }
.content-casino-transfer .game-item { padding: 15px 10px; }
.content-casino-transfer .game-item .game-detail { margin-left: 13px; }
.content-casino-transfer .game-item .game-detail h1 { font-size: 18px; color: #333; font-weight: normal; }
.content-casino-transfer .game-item .game-detail .g-money { font-size: 15px; color: #333; margin-top: 8px; }
.content-casino-transfer .game-item .game-detail .g-money .rmb-c { font-size: 12px; color: #999ba4; margin-right: 5px; }
.content-casino-transfer .game-item .game-detail .icon-refresh { display: inline-block; width: 24px; height: 24px; vertical-align: middle; }
.content-casino-transfer .game-item .unlogin-status a { font-size: 12px; color: #999ba4; }
.content-casino-transfer .api-item { display: inline-block; width: 70px; height: 72px; position: relative; }
.content-casino-transfer .api-item:after { content: ''; position: absolute; width: 70px; height: 34px; top: 6px; left: -13px; z-index: 2; border-top-left-radius: 34px; border-top-right-radius: 34px; -webkit-transform: rotateZ(-47deg); transform: rotateZ(-47deg); }
.content-casino-transfer .api-item:before { content: ''; position: absolute; width: 70px; height: 70px; top: 0; left: 0; z-index: 1; background: url(images/api-sprite.png) 0 0/70px no-repeat; }
.content-casino-transfer .api-item.api-icon-2-3:before { background-position: -8.75px 0; }
.content-casino-transfer .api-item.api-icon-1-16:before { background-position: 0 -70px; }
.content-casino-transfer .api-item.api-icon-1-7:before { background-position: 0 -140px; }
.content-casino-transfer .api-item.api-icon-1-17:before { background-position: 0 -210px; }
.content-casino-transfer .api-item.api-icon-1-9:before, .content-casino-transfer .api-item.api-icon-2-9:before { background-position: 0 -280px; }
.content-casino-transfer .api-item.api-icon-1-10:before, .content-casino-transfer .api-item.api-icon-2-10:before, .content-casino-transfer .api-item.api-icon-3-10:before { background-position: 0 -350px; }
.content-casino-transfer .api-item.api-icon-1-5:before { background-position: 0 -420px; }
.content-casino-transfer .api-item.api-icon-1-1:before { background-position: 0 -490px; }
.content-casino-transfer .api-item.api-icon-1-33:before, .content-casino-transfer .api-item.api-icon-3-33:before { background-position: 0 -1750px; }
.content-casino-transfer .api-item.api-icon-2-15:before { background-position: 0 -770px; }
.content-casino-transfer .api-item.api-icon-2-6:before { background-position: 0 -630px; }
.content-casino-transfer .api-item.api-icon-3-12:before { background-position: 0 -560px; }
.content-casino-transfer .api-item.api-icon-3-19:before { background-position: 0 -700px; }
.content-casino-transfer .api-item.api-icon-2-26:before { background-position: 0 -840px; }
.content-casino-transfer .api-item.api-icon-2-20:before { background-position: 0 -910px; }
.content-casino-transfer .api-item.api-icon-1-24:before, .content-casino-transfer .api-item.api-icon-3-23:before { background-position: 0 -980px; }
.content-casino-transfer .api-item.api-icon-2-25:before { background-position: 0 -1050px; }
.content-casino-transfer .api-item.api-icon-2-31:before { background-position: 0 -1681.25px; }
.content-casino-transfer .api-item.api-icon-2-32:before { background-position: 0 -1612.5px; }
.content-casino-transfer .api-item.api-icon-3-4:before { background-position: 0 -1120px; }
.content-casino-transfer .api-item.api-icon-2-27:before { background-position: 0 -1190px; }
.content-casino-transfer .api-item.api-icon-1-2:before { background-position: 0 -1260px; }
.content-casino-transfer .api-item.api-icon-2-28:before { background-position: 0 -1330px; }
.content-casino-transfer .api-item.api-icon-5-1:before { background-position: 0 -1541.25px; }
.content-casino-transfer .api-item.api-icon-2-35:before { background-position: 0 -1820px; }
.content-casino-transfer .api-item.api-icon-3-21:before { background-position: 0 -1890px; }
.content-casino-transfer .api-item.api-icon-3-36:before { background-position: 0 -1960px; }
.content-casino-transfer .api-item.lt:before { background-position: 0 -1400px; }
.content-casino-transfer .api-item.yzt:before { background-position: 0 -1470px; }
.content-casino-transfer .api-item.gns:before { background-position: 0 -1541.25px; }
.content-casino-transfer .api-item.prg:before { background-position: 0 -1615px; }
.content-casino-transfer .e-btn-group { text-align: center; padding: 0 10px; background: #929292; border-top: 1px solid #efeff4; border-bottom: 1px solid #efeff4; color: #fff; font-size: 12px; }
.content-casino-transfer .e-btn-group a { color: #fff; }
.content-casino-transfer .e-btn-group .e-btn { display: inline-block; width: 55px; height: 55px; background: url(images/e-btn-group.png) 0 0/174px no-repeat; margin-top: 12px; }
.content-casino-transfer .e-btn-group .e-btn.btn-in { background-position-x: 0; }
.content-casino-transfer .e-btn-group .e-btn.btn-start-game { background-position-x: -60px; }
.content-casino-transfer .e-btn-group .e-btn.btn-out { background-position-x: -119px; }
.content-casino-transfer .game-description { padding: 27px 10px; }
.content-casino-transfer .game-description p { color: #333; font-size: 12px; line-height: 18px; }

.allgame-popover { width: 160px; }
.allgame-popover .mui-table-view-cell a { color: #333; }

.allgame-scroll { height: 300px; margin: 0 !important; background: #fff; }

.mui-popup.app_suc .mui-popup-buttons { display: none; }
.mui-popup.app_suc .mui-popup-inner { width: 217px; height: 191px; padding: 0; border-radius: 10px; margin: 0 auto; padding-top: 24px; }
.mui-popup.app_suc .icon-sus { display: block; background: url(images/promo/icon-suc1.png) no-repeat center/100%; width: 97.5px; height: 97.5px; margin: 0 auto; }
.mui-popup.app_suc .tips { font-size: 15px; color: #333; margin-top: 5px; }
.mui-popup.app_suc .p_tim { font-size: 15px; color: #666; margin-top: 5px; }

.mui-toast-container.app_fai { top: 50%; bottom: auto; transform: translateY(-50%); }
.mui-toast-container.app_fai .mui-toast-message { background: #fff; color: #333; font-size: 13px; padding: 11px 5px; }

/* 忘记密码样式  */
body.forget-password .mui-content { background: #efefef; }
body.forget-password .a-block { display: block; }
body.forget-password .diy-list { font-size: 14px; color: #666; display: flex; height: 55px; line-height: 54px; border-top: 1px solid #f2f2f2; background: #fff; }
body.forget-password .diy-list .label { width: 46px; text-align: center; }
body.forget-password .diy-list .label.label_txt { width: 100px; text-align: left; padding-left: 10px; }
body.forget-password .diy-list .input { flex: 1; }
body.forget-password .diy-list .input .txt { padding: 0 10px; }
body.forget-password .diy-list .input input[type="text"], body.forget-password .diy-list .input input[type="password"] { border: 0; margin: 0; height: 54px; line-height: 54px; padding: 0 10px; font-size: 12px; color: #333; vertical-align: top; }
body.forget-password .diy-list .input input[type="text"].text-right, body.forget-password .diy-list .input input[type="password"].text-right { text-align: right; }
body.forget-password .diy-list .ext { padding-right: 10px; }
body.forget-password .diy-list .ext .txt { font-size: 12px; color: #666; }
body.forget-password .btn-wrap { margin: 40px 10px 10px; }
body.forget-password .btn-wrap .btn-blo { padding: 0; line-height: 40px; height: 40px; background: #1766bb; color: #fff; border-radius: 5px; font-size: 14px; border-color: #1766bb; }
body.forget-password .account_input { background: #fff; padding: 30px 0; }
body.forget-password .account_input input { margin: 0 auto; display: block; width: 250px; height: 50px; line-height: 50px; outline: 0; border-radius: 5px; background: #f2f2f2; border: 1px solid #e2e2e2; padding: 0 10px; font-size: 14px; color: #333; }
body.forget-password .code-txt { text-align: center; background: #fff; font-size: 14px; color: #333; padding: 30px 0; }
body.forget-password .code-txt span { display: block; color: #1766bb; }

.not_bind_phone_dialog.mui-popup .mui-popup-inner { padding: 0; }
.not_bind_phone_dialog.mui-popup .mui-popup-inner .mui-popup-title { font-size: 14px; color: #333; padding: 15px 0; }
.not_bind_phone_dialog.mui-popup .mui-popup-inner .mui-popup-text { margin: 0; }
.not_bind_phone_dialog.mui-popup .mui-popup-inner .mui-popup-text .cont { font-size: 12px; color: #333; }
.not_bind_phone_dialog.mui-popup .mui-popup-inner .btn_wra { height: 41px; line-height: 40px; border-top: 1px solid #e2e2e2; margin-top: 15px; }
.not_bind_phone_dialog.mui-popup .mui-popup-inner .btn_wra a { display: block; font-size: 14px; color: #1766bb; width: 50%; float: left; }
.not_bind_phone_dialog.mui-popup .mui-popup-inner .btn_wra a + a { border-left: 1px solid #e2e2e2; }
.not_bind_phone_dialog.mui-popup .mui-popup-buttons { display: none; }

.password_set_success_dialog.mui-popup .mui-popup-inner { padding: 0; border-radius: 13px; background: #fff; }
.password_set_success_dialog.mui-popup .mui-popup-text { margin-top: 0; overflow: hidden; }
.password_set_success_dialog.mui-popup .mui-popup-text .icon-gongxi { background: url(./images/icon-gongxi.png) no-repeat center/100%; width: 116px; height: 106px; margin: 55px auto 35px; }
.password_set_success_dialog.mui-popup .mui-popup-text .txt { font-size: 14px; color: #333; margin-bottom: 70px; }
.password_set_success_dialog.mui-popup .mui-popup-buttons { height: 80px; line-height: 80px; }
.password_set_success_dialog.mui-popup .mui-popup-button { background: transparent; height: 80px; line-height: 80px; }
.password_set_success_dialog.mui-popup .mui-popup-button .mui-icon { background: #fff; border-radius: 50%; width: 50px; height: 50px; vertical-align: top; margin-top: 24px; font-size: 63px; }
.password_set_success_dialog.mui-popup .mui-popup-button .mui-icon:before { position: absolute; left: 50%; margin-left: -31px; top: 17px; }

body.bind-mobile { font-size: 14px; }
body.bind-mobile .mui-content { background: #efefef; }
body.bind-mobile .input { background: #fff; font-size: 14px; padding: 10px; }
body.bind-mobile .input input { border: none; font-size: 14px; display: inline-block; margin-bottom: 5px; color: #666; padding: 0 5px; }
body.bind-mobile .input .mobile, body.bind-mobile .input .yzm { display: flex; }
body.bind-mobile .input .yzm input { margin-bottom: 0; }
body.bind-mobile .input .yzm a { white-space: nowrap; line-height: 40px; display: inline-block; }
body.bind-mobile .input i.icon-mobile { width: 37px; display: inline-block; height: 40px; background: url(../images/phone.png) center no-repeat/12px; }
body.bind-mobile .input i.icon-yzm { width: 45px; display: inline-block; height: 40px; background: url(../images/safe.png) center no-repeat/16px; }
body.bind-mobile .btn-wrap { margin: 40px 10px 10px; }
body.bind-mobile .btn-wrap .btn-blo { padding: 0; line-height: 40px; height: 40px; background: #1766bb; color: #fff; border-radius: 5px; font-size: 14px; border-color: #1766bb; }
body.bind-mobile .cue { font-size: 12px; color: #666; padding: 20px 10px 0; line-height: 22px; }
body.bind-mobile .bind-success { text-align: center; color: #444; line-height: 26px; padding: 25px 0; background: #fff; font-size: 14px; }

.login .mui-content { background: #f2f2f2; }
.login .user-img { background: url(../images/login-user.png) center no-repeat/100px, linear-gradient(#1767bd, #1767bd); width: 100px; height: 100px; border-radius: 100%; box-shadow: 3px 5px 15px 6px rgba(23, 103, 189, 0.25); margin: 50px auto; }
.login .login-form { padding: 0 35px; color: #666; }
.login .login-form .password, .login .login-form .username { position: relative; }
.login .login-form .password label, .login .login-form .username label { line-height: 30px; }
.login .login-form .password input, .login .login-form .username input { font-size: 14px; border-color: #ddd; }
.login .login-form .warn { color: #333; font-size: 12px; position: absolute; right: 0; top: 5px; }
.login .login-form .warn .icon-warn { width: 14px; height: 14px; display: inline-block; border-radius: 100%; background: #f65d5d; color: #fff; text-align: center; line-height: 14px; font-style: normal; margin-right: 3px; }
.login .login-form .forget-pas { text-align: right; }
.login .login-form .forget-pas a { color: #666; }
.login .login-form a.btn { display: block; text-align: center; height: 40px; line-height: 40px; border-radius: 2px; }
.login .login-form .btn-login { background: #1766bb; color: #fff; margin-bottom: 15px; }
.login .login-form .btn-regist { color: #445dc2; border: 1px solid #445dc2; }

/*# sourceMappingURL=otherpage.css.map */
