.mui-hide-bar {
  width: 100%;
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
}

/* go game */
.game-mask {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}
.game-mask .game-loading {
  width: 200px;
  height: 100px;
  left: 50%;
  margin-left: -100px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.9);
  border:1px solid #353741;
  position: fixed;
  z-index: 999;
  padding: 10px 20px;
}
.game-mask .game-loading .loader {
  min-height: 24px;
  margin-top: 18px;
}
.game-mask .game-loading .loader-tip {
  font-size: 12px;
  width: 100%;
  text-align: center;
  color: #807d7d;
}
.game-mask .game-loading .ball-pulse > div {
  background: #807d7d;
}

.com-loading {
  display: none;
  width: 100%;
  text-align: center;
}
.loader {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
  width: 100%;
  min-height: 160px;
  align-items: center;
  justify-content: center;
}
.mui-hide {
  display: none!important;
}

.mui-show {
  display: block!important;
}


@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.ball-pulse > div:nth-child(0) {
  -webkit-animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
}
.ball-pulse > div:nth-child(1) {
  -webkit-animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
}
.ball-pulse > div:nth-child(2) {
  -webkit-animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
}
.ball-pulse > div:nth-child(3) {
  -webkit-animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
}
.ball-pulse > div {
  background-color: #807777;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}

/* promoDetail */
.gb-form-foot .submit {
  width: 100%;
  padding: 10px 12px;
  font-size: 13px;
}

/*我的优惠记录卡片式*/
.promo-records-warp{padding:0 10px;margin-top: 10px;height: 5em; }
.promo-box-left{background:#fff;padding:10px 10px;height: 5em;width:68%;float: left;position:relative;}
.promo-box-left h5{font-size:12px;color: #333;line-height:15px;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;margin-top:0;margin-bottom:7px;min-height:45px;}
.promo-box-left h5.title {min-height: 30px;}
.promo-box-left .text{font-size:10px !important;color: #999;line-height:16px;}
.promo-box-left .text .time{display:inline-block;float:right;margin-right:20px;}
.promo-box-left .text .state{margin-right:10px}
.promo-box-left .text .sum{float: left;}
.promo-box-left .text em{font-style: normal;margin-left: 5px;}
.promo-box-right{border-radius:4px; position:relative;padding:10px 10px;color:#fff;line-height:16px;height: 5em;width:32%;float: left;}
.promo-box-right.promo-blue{background:#3488e7;}
.promo-box-right.promo-green{background:#1fbd66;}
.promo-box-right.promo-gray{background:#7b7b7b;}
.promo-box-right.promo-orange{background: #f07e11;}
.org{color:#f1aa4d}
.promo-box-right span{display:block;font-size: 12px;text-align: center;}
.promo-box-right .rmb{font-size: 10px;}
.promo-box-right .num{font-size:20px;margin-top: 15px;}
.promo-box-right .annotation{line-height:16px; margin-top:10px;font-size: 10px;}
.promo-records-warp i{display: block;width:4px;height:5em;position:absolute;top:0;left:-3px;background-repeat:repeat-y;background:url(../images/pro-bg.png)}
.promo-records-warp .pro-bg-left{background-position:0 0;}
.promo-records-warp .pro-bg-right{background-position:right top;left:-1px}
.promo-records-warp .promo-box-right .round{position:absolute;z-index:999;width:10px; height:10px;border-radius:10px;background:#f2f2f2;}
.promo-records-warp .promo-box-right .radio-up{left:-3px;top:-5px;}
.promo-records-warp .promo-box-right .radio-dwon{left:-3px;bottom:-5px;}

.b-t-0 {border-top: none}
.mui-input-group.mui-notice:before {
  height: 0;
}
.width-all {width: 100%!important;}

