.main-left-xyft {
    width: 740px !important;
}

.lot-content .main-right-xyft {
    padding-right: 0px !important;
}

table.touzhuArea {
    width: 100%
}

.touzhuArea th {
    border: 1px solid #e1e1e1;
    background: #fff;
    height: 25px;
    line-height: 25px;
    color: #333;
    margin-top: 3px;
    font-weight: bold !important;
}
.touzhuArea tr td{
    width: 33.3%;
}
.touzhuArea thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.xyft-table{  border:none!important; }
.xyft-table .touzhuArea tr th,.xyft-table .touzhuArea tr td {
    font-size: 0.8rem!important;
}

.xyft-table tr td:first-child {
    vertical-align: top !important;
}
.touzhuArea tr td:first-child {
    color: #511E02;
    font-weight: 700;
}
.table-common .touzhuArea{
    border: 1px solid #c6c6c6;
    margin-bottom: 5px;
    border-collapse: collapse;
}
.table-common .xyft-table .td_style{
    width: 25%;
    border: 0;
}
.table-common .xyft-table .td_style_pm{
    width: 20%;
    border: 0;
}
.touzhuArea .pl-color{color: red;font-weight: bold;}
.table-common .touzhuArea tr td:last-child {
    line-height: 0;
}
.touzhuArea .amount-input {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
    width: 48px;
    height: 20px;
    line-height: 20px;
    border-radius: 3px;
    border:1px solid #B0B0B0;
    background-color:transparent
}
.touzhuArea_pm .number {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    background: url(../images/ball-pk.png) no-repeat;
}
.table-common .touzhuArea_pm td{line-height:0;height: auto;}
.table-common .touzhuArea_pm td span{margin-top: 1px;}
.touzhuArea_pm .num1 {
     background-position: 0 0;
}
.touzhuArea_pm .num2 {
    background-position: 0 -21px;
}
.touzhuArea_pm .num3 {
    background-position: 0 -42px;
}
.touzhuArea_pm .num4 {
    background-position: 0 -63px;
}
.touzhuArea_pm .num5 {
    background-position: 0 -84px;
}
.touzhuArea_pm .num6 {
    background-position: 0 -105px;
}
.touzhuArea_pm .num7 {
    background-position: 0 -126px;
}
.touzhuArea_pm .num8 {
    background-position: 0 -147px;
}
.touzhuArea_pm .num9 {
    background-position: 0 -168px;
}
.touzhuArea_pm .num10{
    background-position: 0 -189px;
}

.touzhuArea_pm tr th:first-child,.touzhuArea_pm tr td:first-child{width: 22%;}
.touzhuArea_pm tr th:last-child,.touzhuArea_pm tr td:last-child{width: 34%;}
.touzhuArea_pm tr{height: 25px;}

.table-common .touzhuArea_gyjh{margin-bottom: 0!important;}
.touzhuArea_gyjh_content tr{height: 31px;}
.touzhuArea_gyjh_content tr td .number{margin-top: 3.5px;}


/*幸运飞艇*/
.body_table,.head_table{
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    border: solid #C6C6C6 1px;
}
.body_table td{height: 20px!important;width: 21px!important;line-height: 20px!important;margin: 0;padding: 0;cursor: default!important;}
.table-common .head_table{margin-bottom: 0;border-bottom: 0;}
.table-common .head_table tr th{border-bottom: 0; }
#rttt{cursor: pointer;}
.table-common .body_table .gyds,.table-common .body_table .gyhz{display: none;}
.th_bg{background: #888888;color: #FFFFFF!important;}
.table-common .xyft-ta-one{margin-top: 10px; margin-bottom: 0px!important;}
.xyft-ta-two{margin-top: -5px!important;}
.kjjg_hz_style{width: 98%!important;padding-bottom: 4px;}

.lm_height{margin-top: 31px!important;}

/*冠亚军和大小*/
.dishReload_small {
    width: 20px;
    height: 20px;
    background: url(../img/dishReload_small.png) no-repeat !important;
    cursor: pointer;
}
.dishReload_da {
    width: 20px;
    height: 20px;
    background: url(../img/dishReload_da.png) no-repeat !important;
    cursor: pointer;
}
.dishReload_dan {
    width: 20px;
    height: 20px;
    background: url(../img/dishReload_dan.png) no-repeat !important;
    cursor: pointer;
}
.dishReload_shuang {
    width: 20px;
    height: 20px;
    background: url(../img/dishReload_shuang.png) no-repeat !important;
    cursor: pointer;
}
.touzhuArea_pm tr th:first-child, .touzhuArea_pm tr td:first-child{line-height:25px}

.ss_xclass{position:relative;}
.ss_x_var{position:absolute; right: 0;top: 0;}

.log_col{
    background:none!important;
}
.re_reg_col{
    width: 450px;
    height: 450px;
    margin-left: -225px;
    margin-top: -200px;
}
.re_img{
    top: -25%!important;
}
.recopy{
    bottom: -26%!important;
}
/*分分时时彩*/
.game_name .rebox2_stage{
    width: 380px!important;
}
/*江苏快3*/
.re-main-left,.re-main-right{
    margin-top: 5px!important;
}
/*金额按钮*/
.img-10000,.img-5000,.img-1000,.img-500,.img-100,.img-50,.img-20,.img-10,.img-5{
    background-repeat: no-repeat;
    background-position: 0px 0px;
    float: left;
    width: 38px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    margin-left: 0px;
}
.img-10000{
    background-image: url(../img/10000.png) !important;
    background-size: 121px 30px;
}
.img-5000{
    background-image: url(../img/5000.png) !important;
    background-size: 121px 30px;
}
.img-1000{
    background-image: url(../img/1000.png) !important;
    background-size: 121px 30px;
}
.img-500{
    background-image: url(../img/500.png) !important;
    background-size: 121px 30px;
}
.img-100{
    background-image: url(../img/100.png) !important;
    background-size: 121px 30px;
}
.img-50{
    background-image: url(../img/50.png) !important;
    background-size: 121px 30px;
}
.img-20{
    background-image: url(../img/20.png) !important;
    background-size: 121px 30px;
}
.img-10{
    background-image: url(../img/10.png) !important;
    background-size: 121px 30px;
}
.img-5{
    background-image: url(../img/5.png) !important;
    background-size: 121px 30px;
}
.main-left .rehd{
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 35px!important;
}

.main-left .rehd .kjanniu{
    float: left;
    margin-left: 5px;
}

.kjanniu .img-10000:link {
    background-position: 0px 0px;
}

.img-visited{
    background-position: -45px 0px;
}

.kjanniu .img-10000:hover,.kjanniu .img-5000:hover,.kjanniu .img-1000:hover,.kjanniu .img-500:hover,.kjanniu .img-100:hover,.kjanniu .img-50:hover,.kjanniu .img-20:hover,.kjanniu .img-10:hover,.kjanniu .img-5:hover {
    background-position: -45px 0px;
}

.kjanniu .img-10000:active,.kjanniu .img-5000:active,.kjanniu .img-1000:active,.kjanniu .img-500:active,.kjanniu .img-100:active,.kjanniu .img-50:active,.kjanniu .img-20:active,.kjanniu .img-10:active,.kjanniu .img-5:active {
    background-position: -86px;
}



.tzgz span.fr a{
    color: #3999ff;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    float: right;
}
.tzgz span {
    line-height: 28px;
}
.tzgz span.fr a var {
    position: absolute;
    background: #000000;
    width: 187px;
    padding: 0 15px;
    color: #fff;
    font-family: "";
    left: -72px;
    bottom: 25px;
    margin: 0;
    line-height: 2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: none;
}
.lot-content{overflow:inherit;}
#sscContent, .Single .layout .Playmethod ul{overflow:inherit;}
.tzgz span.fr a:hover var {
    display:block;
    z-index:999999;
}

#toptouzhu{
    padding-left: 5px;
}
.retoptz{
    display: inline-block;
}

.main-left .reclearfix{
    margin-top: -25px;
}
.lot-content .re-cl-10{
    margin-top: 30px;
}

.relm_height {
    margin-top: 41px!important;
}