/*@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");*/
/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   Copyright 2014 Webapplayers.com
 *
*/

body {
  font-family: 'Microsoft YaHei', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}

.modal-dialog {
    display: block;
}
/*火狐虚线*/
a:focus, a:active, 
button::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
select::-moz-focus-inner, 
input[type="file"] > input[type="button"]::-moz-focus-inner { 
border: 0; 
outline : 0; 
}
.fa-question-circle{
    color: #666;
}
div,p{word-break: break-all;}
h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
}
h1 {font-size: 30px;}
h2 {font-size: 24px;}
h3 {font-size: 16px;}
h4 {font-size: 14px;}
h5 {font-size: 12px;}
h6 {font-size: 10px;}
h3,h4,h5 {margin-top: 5px; font-weight: 600;}
.ft-bold{ font-weight: 600;}
.co-red,a.co-red{color:#f34235}
.co-red2,a.co-red2{color:#fe0000}
.co-red3,a.co-red3{color:#f34235}/*手续费*/
.co-blue,a.co-blue{color:#3077DC}/*充值金额*/
.co-orange,a.co-orange{color:#ea9100}
.co-green,a.co-green{color:#00cc33}/*优惠*/
.co-green2,a.co-green2{color:#4caf50}
.co-tomato,a.co-tomato{color:#ff6600}
.co-black,a.co-black{color:#000000}
.co-gray3,a.co-gray3{color:#333333}
.co-gray6,a.co-gray6{color:#666666}
.co-gray9,a.co-gray9{color:#999999}
.co-grayd,a.co-grayd{color:#dddddd}
.co-gray,a.co-gray{color:#a2a2a2}
.co-grayc2,a.co-grayc2{color:#c2c2c2}
.co-blue3,a.co-blue3{color:#36a1d7}
.co-yellow,a.co-yellow{color:#f8ac59}/*充值总额*/
.al-left{text-align:left}
.al-right{text-align:right}
.table > tbody > tr > td.al-top{vertical-align: top}
.al-center{text-align:center}
.bg-gray{background-color: #f3f3f3;/*height: 40px;*/}
.bg-white{background-color: #ffffff}
.fs12{
    font-size: 12px;
}
.fs13{
    font-size: 13px;
}
.fs16{
    font-size: 16px;
}
.fs18{
    font-size: 18px;
}
.fs20{
    font-size: 20px;
}
.fs24{
    font-size: 24px;
}
.fs25{
    font-size: 25px;
}
.fs30{
    font-size: 30px;
}
.fs34{
    font-size: 34px;
}
.fs36{
    font-size: 36px;
}
.line-hi34{
    line-height: 34px;
}
.line-hi25{
    line-height: 25px;
}

.border_1_tb{border: 1px solid #dbdbdb; border-left:0; border-right: 0;}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-top-color: transparent;
}
.form-control,
.single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #d3d3d3;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 14px;
}
.top a .iconfont{
	font-size:24px;
}
.label-green,
.badge-green {
  background-color: #52ad30;
  color: #ffffff;
}
.label-orange,
.badge-orange {
  background-color: #fda000;
  color: #ffffff;
}
/*链接颜色*/
a{color:#36a1d7;}
a:hover,a:focus{color:#0c628e;}
/* 去掉列表前的标识, li 会继承 */
ol, ul, li {
	margin:0;
	padding:0;
	border:0;
	outline:0;
    list-style:none;
	font-size: 100%;
	vertical-align: baseline;
}
em{
    font-size: 14px;
    width: 30px;
    margin: 0;
    display: inline-block;
    text-align: center;
  /*  line-height: 30px;*/
}
.nav > li > a {
	color:#9da9bc;
	font-family:'Microsoft YaHei';
}
.nav.navbar-right > li > a {
  color: #999c9e;
}
nav .nav > li.active > a {
    color: #fff;
    font-weight:bold;
}
.top .nav > li > a {
	color:#fff;
	font-family:'Microsoft YaHei';
}
.top .nav > li.active > a {
    color: #fff;
    font-weight:bold;
}
.top .nav > li > a:hover,
.top .nav > li > a:focus {
  background-color: #4b5869;
  color: #fff;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: #495769;
  color: #f8f9fa;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: #fff;
}
.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
  background-color: transparent;
}
.nav > li > a i {
  margin-right: 6px;
}
.navbar {border: 0;}
.shadow{
  box-shadow: 0 0 3px rgba(221, 221, 221, 1);
  border: 1px solid #dddddd;
}
nav.shadow {
    box-shadow: none;
    border: 0;
}
.navbar-default {
  background-color: #ffffff;
  transition: all .5s;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.dropdown-messages li a,
.dropdown-alerts li a {
  font-size: 12px;
}
.nav.navbar-top-links .dropdown-alerts a {
  font-size: 12px;
}
/*.nav-header {
  padding: 33px 25px;
  background: url("patterns/header-profile.png") no-repeat;
}*/
.pace-done .nav-header {
  transition: all 0.5s;
}
.nav > li.active {
	font-weight:bold;
    background: #495769;
}
.top .nav > li.active {
	font-weight:bold;
    background: #36b3d1;
}
.top .nav > li.active a:hover{
	font-weight:bold;
    background: #36b3d1;
}
.top .logo-m-l{margin-right: 22px;}
.nav.nav-second-level > li.active {
  border: none;
}
.nav.nav-second-level.collapse[style] {
  height: auto !important;
}
.nav-header a {
  color: #DFE4ED;
}
.navbar-form-custom .form-group {
  margin-bottom: 0;
}
.nav.navbar-top-links a {
  font-size: 14px;
}
.navbar-form-custom .form-control {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  font-size: 14px;
  height: 60px;
  margin: 0;
  z-index: 2000;
}
.count-info .label {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 6px;
  top: 12px;
}
.arrow {
  float: right;
}
.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}
.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}
.nav-second-level li a {
  padding: 7px 10px 7px 10px;
  padding-left: 52px;
}
.nav-third-level li a {
  padding-left: 62px;
}
.nav-second-level li:last-child {
  margin-bottom: 10px;
}
nav ul.nav li.active>a>.pull-right i {
    top: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
nav ul.nav li a>.pull-right i {
    position: relative;
    top: 5px;
    width: 1.2em;
    text-align: right;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
body:not(.fixed-sidebar).mini-navbar .nav li:hover > .nav-second-level{display: none;}
body:not(.fixed-sidebar).mini-navbar .nav li.active:hover > .nav-second-level{
  display: block;
  border-radius: 0 2px 2px 0;
  min-width: 140px;
  height: auto;
}
body.mini-navbar .navbar-default .nav > li > .nav-second-level li a {
  font-size: 12px;
  border-radius: 3px;
}
body.mini-navbar .navbar-static-side {
  width: 60px;
}
body.mini-navbar .navbar-static-side .nav > li > a{
	padding:15px;
}
body.mini-navbar .profile-element,
body.mini-navbar .nav-label,
body.mini-navbar .navbar-default .nav li a span {
  display: none;
}
body:not(.fixed-sidebar).mini-navbar .nav-second-level {
  display: none;
}
body.mini-navbar .navbar-default .nav > li > a {
  font-size: 16px;
}
body.mini-navbar .logo-element {
  display: block;
}
body.mini-navbar .nav-header {
  padding: 0;
  background-color: #1ab394;
}
body.mini-navbar #page-wrapper {
  margin: 0 0 0 60px;
}

.pace-done .navbar-static-side,
.pace-done .nav-header,
.pace-done li.active,
.pace-done #page-wrapper,
.pace-done .footer {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
body.rtls .footer.fixed {
  margin-right: 220px;
  margin-left: 0;
}
@media (max-width: 992px) {
  body.rtls .chat-users,
  body.rtls .chat-statistic {
    margin-right: 0px;
  }
}
.top-navigation .footer.fixed {
  margin-left: 0 !important;
}
body.rtls.mini-navbar .footer.fixed,
body.body-small.mini-navbar .footer.fixed {
  margin: 0 70px 0 0;
}
body.rtls.mini-navbar.fixed-sidebar .footer.fixed,
body.body-small.mini-navbar .footer.fixed {
  margin: 0 0 0 0;
}
body.fixed-sidebar.mini-navbar .footer {
  margin: 0 0 0 0px;
}
body.mini-navbar #page-wrapper {
  margin: 0 0 0 60px;
}
.fixed-nav .slimScrollDiv #side-menu {
  padding-bottom: 60px;
}
.mini-navbar .nav-second-level li a {
  padding: 10px 10px 10px 15px;
}
.mini-navbar .nav-second-level {
  position: absolute;
  left: 60px;
  top: 0px;
  background-color: #2f4050;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
}
.mini-navbar li.active .nav-second-level {
  left: 60px;
}
.navbar-default .special_link a {
  background: #1ab394;
  color: white;
}
.navbar-default .special_link a:hover {
  background: #17987e !important;
  color: white;
}
.navbar-default .special_link a span.label {
  background: #fff;
  color: #1ab394;
}
.navbar-default .landing_link a {
  background: #1cc09f;
  color: white;
}
.navbar-default .landing_link a:hover {
  background: #1ab394 !important;
  color: white;
}
.navbar-default .landing_link a span.label {
  background: #fff;
  color: #1cc09f;
}
.navbar-fixed-top,
.navbar-static-top {
  background: #f3f3f4;
}
.fixed-nav #wrapper {
  margin-top: 60px;
}
/* PAGINATIN */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #f4f4f4;
  border-color: #DDDDDD;
  color: inherit;
  cursor: default;
  z-index: 2;
}
.pagination-pages > li > span{
 padding: 7px 12px;
 border-right:none;
}
.pagination > li > a,
.pagination > li > span
{
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: inherit;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 7px 14px;
  position: relative;
  text-decoration: none;
}
.pagination li.current a{ background-color:#2772ee; color: #fff; font-weight: bold;text-decoration: none;}
.pagination{
    margin: 0;
}
.easypiechart img {
  margin-top: -4px;
}

.fc-border-separate tbody {
  background-color: #F8F8F8;
}
.fc-event,
.fc-agenda .fc-event-time,
.fc-event a {
  padding: 4px 6px;
  background-color: #1ab394;
  border-color: #1ab394;
}
.chat-element > .pull-left {
  margin-right: 10px;
}
.chat-element img.img-circle,
.dropdown-messages-box img.img-circle {
  width: 38px;
  height: 38px;
}
.right.chat-element > .pull-right {
  margin-left: 10px;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
/* WRAPPERS */
#wrapper {
  width: 100%;
  overflow-x: hidden;
}
.wrapper {
  padding: 0;
}
.wrapper-content {
  padding: 20px 10px 40px;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
  transition: all .5s;
}
ul.unstyled,
ol.unstyled {
  list-style: none outside none;
  margin-left: 0;
}
.panel-heading h1,
.panel-heading h2 {
  margin-bottom: 5px;
}
/* TABLES */
/*
.table-bordered {
  border: 1px solid #EBEBEB;
}
*/
/*
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
*/
/*
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}
*/
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  line-height: 1.42857;
  /*text-align:center;*/
  vertical-align:middle;
  padding:5px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th{
	padding:5px 5px;
    border-bottom: 0;
}
/* BACKGROUNDS */
.white-bg {
  background-color: #ffffff;
}
.gray-bg {
    background-color: #f6f6f6;
}
/* MARGINS & PADDINGS */
.table > tbody > tr > td.p-x{
	padding:0;
}
.p-x{
	padding:0;
}
.p-xxs {
  padding: 5px;
}
.p-xs {
  padding: 10px;
}
.p-sm {
  padding: 15px;
}
.p-m {
  padding: 20px;
}
.p-md {
  padding: 25px;
}
.p-lg {
  padding: 30px;
}
.p-xl {
  padding: 40px;
}
.p-l-sm {
  padding-left:15px;
}
.p-r-sm {
  padding-right:15px;
}
.p-t-sm{
  padding-top: 15px
}
.p-t-xs{
  padding-top: 10px
}
.p-t-xxs{
  padding-top: 5px
}
.p-b-sm{
  padding-bottom: 15px
}
.p-b-xs{
  padding-bottom: 10px
}
.p-b-xxs{
  padding-bottom: 5px
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-xxl {
  margin-top: 50px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
    margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.contact-box a {
  color: inherit;
}
.panel.blank-panel {
    background: none;
    margin: 0;
}
.popover.top{
	width:auto;
	height:auto;
	line-height:inherit;
	color:#676a6c;
	background:#ffffff;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-family: 'Microsoft YaHei', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    
}
.help-popover{outline:none;}

/* CSS nav 顶部菜单栏&导航条 */
.top{
	width:100%;
	/*height:50px;*/
	line-height:57px;
	color:#ffffff;
	background:#3a4656;
    padding-right: 15px;
    border-bottom: 3px solid #36b3d1;
}
.top a{
	color:#ffffff;
}
.top a:hover,.top a:focus{
    text-decoration: none;
}
.row a:hover{
    cursor: pointer;
}
.top .nav > li a.rborder,.top ul.tips li a.rborder{
	padding:0 12px;
	border-left:1px solid #2b2a33;
	border-right:1px solid #2b2a33;
}
/* 阴影 */
/*.nav-shadow{box-shadow:3px 3px 3px  rgba(0,0,0,0.2),-3px 3px 3px  rgba(0,0,0,0.2); }*/
.top .show-info{
    cursor: pointer;
    margin-top: 15px;
}
/*.top .show-info.open a{
    color: #666;
}*/
/*增加鼠标效果-有改动*/
.fa-angle-down{width: 20px;
    text-align:center;
    transition:transform 0.2s,vertical-align 0.2s;
    -o-transition:transform 0.2s,vertical-align 0.2s;
    -ms-transition:transform 0.2s,vertical-align 0.2s;
    -moz-transition:transform 0.2s,vertical-align 0.2s;
    -webkit-transition:transform 0.2s,vertical-align 0.2s;
}
.open .fa-angle-down{
	width: 20px;
    text-align:center;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
/*个人资料详情*/
.top ul.tips li.show-info{
    color:#ffffff;
}
.top ul.tips li.show-info.open{
	/*background:#fff;
	color:#5c697d;*/
}
.top ul.tips li ul.information,
.top ul.tips li ul.language{
	display:none;
}
.top ul.tips li.show-info.open ul.information,
.top ul.tips li.show-info.open ul.language{
	display:block;
	width:120px;
	padding:0;
	position:absolute;
	top:62px;
	right:0;
	z-index:1001;
	background:#fff;
	font-family:'Microsoft YaHei';
    border: 1px solid #36b3d1;
}
.top ul.tips li.show-info .acc-name-1{
    display: block;
    float: left;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.top ul.tips li.show-info .acc-name-2{
    display: block;
    float: left;
    max-width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.top ul.tips li.show-info ul.information li{
	float:none;
	width:100%;
	padding:0;
	line-height:32px;
	border-bottom:1px solid #eee;
}
.top ul.tips li.infos-img{
    background-color: #36b3d1;
    border-bottom: 0;
}
.top ul.tips li.infos-img:before{
	  content: "";
	  width: 10px;
	  height: 10px;
	  position: absolute;
	  background: #36b3d1;
	  top:-7px;
	  right: 9px;
	  transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
		 
    
}

/* flipInX */
.animated.animated-short {
  -webkit-animation-duration: 0.6s !important;
  animation-duration: 0.6s !important;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}


@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}



.top ul.tips li.infos-img a img{
    border-radius: 0;
    margin-right: 8px;
    border-bottom: 1px solid rgb(95, 152, 183);
    height: 35px;
    float: left;
}
.top ul.tips li.show-info ul.information li a{
	display:block;
	color:#585f69;
	padding:0 7px;
}
.top ul.tips li.show-info ul.information li.infos-img a{
    padding: 0;
    color: #fff;
}
.top ul.tips li.show-info ul.information li:hover{
	background:#eeeeee;
}
.top ul.tips li.show-info ul.information li a:hover{
	color:#585f69;
}
.top ul.tips li.show-info ul.information li.infos-img:hover{
	background:#36b3d1;
}
.top ul.tips li.show-info ul.information li.infos-img a:hover{
	 color: #fff;
}
.top ul.tips li.show-info ul.information li.last-sign,
.top ul.tips li.show-info ul.information li.off{
	width:100%;
	border:none;
	background:none;
}
.top ul.tips li.show-info ul.information li.off{
	width:100%;
	padding:0;
	margin-left:none;
}
.top ul.tips li.show-info ul.information li.off a,
.top ul.tips li.show-info ul.information li.off a:hover{
	padding:0;
	color:#585f69;
	text-align:center;
	background:none;
}
/*宽度修改*/
.top ul.tips li.show-info.open ul.language{
	padding:0;
}
.top ul.sm-tips li.show-info.open ul.language{
    width:49px;
    padding:0;
}
.top ul.tips li.show-info a{
    display: block
}
/*新消息提示*/
/*li.informations.open{
	background:#3399e4;
}*/
dl.infos_list{
	display:none;
}
dl.infos_list:before{
	content:'';
	position: absolute;
    left: 551px;
	width:12px;
	height:6px;
	margin:-6px auto 0;
    background:url(../../../static/mcenter/images/icon_arrow_dil.png) no-repeat;
}

.taks>dl.infos_list:before{
	content:'';
	position: absolute;
    left: 271px;
	width:12px;
	height:6px;
	margin:-6px auto 0;
    background:url(../../../static/mcenter/images/icon_arrow_dil.png) no-repeat;
}

/*头部*/
.open dl.infos_list{
	display: block;
    position: absolute;
    top: 60px;
    z-index: 1001;
    background: #fff;
    font-family: 'Microsoft YaHei';
}
.open dl.infos_list{
	width:585px;
	right: -12px;
}
.nav-shadow {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2),-3px 3px 3px rgba(0,0,0,0.2);
}

dl.infos_list dt{
	color:#585f69;
	font-size:16px;
	height:50px;
	line-height:50px;
	padding:0 30px;
	background:#eee;
}
dl.infos_list dd{
	margin:0 20px;
	padding:10px;
	line-height:24px;
	border-bottom:1px solid #eee;
}
dl.infos_list dd:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
dl.infos_list dd a{
	float:left;
	display:block;
	color:#585f69;
	max-width:420px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
dl.infos_list dd a.co-blue{
    float: right;
	color:#36a1d7;
}
dl.infos_list dd span{
	float:right;
	color:#585f69;
	font-size:13px;
}
dl.infos_list dd span.tip{
    display: block;
    float: left;
    color: #999;
    max-width: 180px;
    overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
dl.infos_list dd a:hover,
dl.infos_list dd a:hover i{
	color:#36a1d7;
}

dl.infos_list dd.more{
    border: none;
}
dl.infos_list dd.more a{
	float:right;
	font-family:'-webkit-body';
}
dl.infos_list dd.more:hover{
	background:#fff;
	font-family:'-webkit-body';
}
dl.infos_list dd.infos-none,
dl.infos_list dd.infos-load
{
     color: #aaaaaa;
    padding: 17px 17px;
    height: auto;
    text-align: center;
}
dl.infos_list dd.infos-none i{
     margin-right: 10px;
}
dl.infos_list dd.infos-load i{
    color: #36a1d7;
    font-size: 20px;
     animation:spin 2s infinite linear;
}
/*账号下拉小屏幕*/
.top ul.tips li.adown.open{
    padding:0;
    margin:0 5px;
    background:none;
}
.top ul.tips li.adown.open a{
    color:#5c697d;
}
.top ul.tips li.adown a{
	padding:0 5px;
	border:none;
}
div.adown_list{
    display:none;
    position:absolute;
    top:45px;
    z-index:900;
    width:100%;
    background:#fff;
}
/*.adown_list ul.tips-sm li,*/
.top ul.tips li{
	float:left;
	position:relative;
	padding:0 5px;
}
.top ul.tips li.portrait{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.top ul.tips li.portrait a{
    float: left;
}
.top ul.tips li.portrait img{
    float: left;
    height: 60px;
}
/*账号下拉*/
.top ul.tips li.adown.open{
    padding:0;
    margin:0 5px;
}
.top ul.tips li.adown.open a{
    color:#ffffff;
}
div.adown_list{
    display:none;
    position:absolute;
    top:45px;
    z-index:1900;
    width:100%;
    background:#fff;
	box-shadow:0 3px 3px rgba(0,0,0,0.2);
}

/* CSS Button 公共按钮样式 */
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px} 
.btn-lg{padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px}
.btn-sm{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}
.btn-xs{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px}
.btn {
  border-radius: 3px;
}

.btn-xxxs{padding: 0;
    height: 16px;
    line-height: 14px;
    border-radius: 6px;
    font-size: 12px;
}
.float-e-margins .btn {
  margin-bottom: 5px;
}
.btn-w-m {
  min-width: 120px;
}
.btn-filter.btn-outline{
	color:#a0aab2;
	border-color: #e6e9ee;
}
.btn-filter{
	font-family:'Microsoft YaHei';
}
.btn-filter.btn-outline:hover {
  color: #fff;
}
.btn-filter {
  background-color: #2095f2;
  color: #FFFFFF;
}
.btn-filter:hover,
.btn-filter:focus,
.btn-filter:active,
.btn-filter.active,
.open .dropdown-toggle.btn-filter {
  background-color: #2095f2;
  border-color: #2095f2;
  color: #FFFFFF;
}
.btn-filter:active,
.btn-filter.active,
.open .dropdown-toggle.btn-filter {
  background-image: none;
}
.btn-filter.disabled,
.btn-filter.disabled:hover,
.btn-filter.disabled:focus,
.btn-filter.disabled:active,
.btn-filter.disabled.active,
.btn-filter[disabled],
.btn-filter[disabled]:hover,
.btn-filter[disabled]:focus,
.btn-filter[disabled]:active,
.btn-filter.active[disabled],
fieldset[disabled] .btn-filter,
fieldset[disabled] .btn-filter:hover,
fieldset[disabled] .btn-filter:focus,
fieldset[disabled] .btn-filter:active,
fieldset[disabled] .btn-filter.active {
   background-color: #e5e6e7;
    border-color: #e5e6e7;
    color: #fff;
}
.btn-default {
    color: #676a6c;
    background-color: #fff;
    border-color: #e5e6e7;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #bababa;
  border-color: #bababa;
  color: #FFFFFF;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-link {
  color: inherit;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
  color: #1c84c6;
}
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
  background-image: none;
}
.btn-link.disabled,
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link.disabled:active,
.btn-link.disabled.active,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
.btn-link[disabled]:active,
.btn-link.active[disabled],
fieldset[disabled] .btn-link,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:active,
fieldset[disabled] .btn-link.active {
  color: #cacaca;
}
.btn-white {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  color: inherit;
  border: 1px solid #d2d2d2;
}
.btn-white:active,
.btn-white.active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  background-image: none;
}
.btn-white.disabled,
.btn-white.disabled:hover,
.btn-white.disabled:focus,
.btn-white.disabled:active,
.btn-white.disabled.active,
.btn-white[disabled],
.btn-white[disabled]:hover,
.btn-white[disabled]:focus,
.btn-white[disabled]:active,
.btn-white.active[disabled],
fieldset[disabled] .btn-white,
fieldset[disabled] .btn-white:hover,
fieldset[disabled] .btn-white:focus,
fieldset[disabled] .btn-white:active,
fieldset[disabled] .btn-white.active {
  color: #cacaca;
}
.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar {
  box-shadow: none;
}
.btn-outline {
  color: inherit;
  background-color: #fff;
  transition: all .5s;
}
.btn-rounded {
  border-radius: 50px;
}
@media (max-width:955px){
    .navbar-nav{padding:0;}
    
	.home-wrap li.home{display:none}
    ul.home-wrap li.logo { display: block;}
	.logo-wrap{display:block;}
	.home-wrap .logo img{width:110px;}
	.top a.menu{border:none}
    li.clock span{display: none;}
    li a.meun-shortcut-icon,
    li a.meun-shortcut{
        text-align:center;
    }
    li a.meun-shortcut,
    li.shut a.meun-shortcut-icon,
    li.open a.meun-shortcut-icon{
        display:block;
        width: 50px;
    }
    li.shut a.meun-shortcut,
    li.open a.meun-shortcut{
        display: none;
    }

        .top .home-wrap li.menu:hover,
    .top .home-wrap li.menu.shut:hover,
    .top .home-wrap li.menu.open{
        padding: 1px 0;
        width: 50px;
    }
    .top .home-wrap dl.menu-item,
    .top .home-wrap dl.menu-item{
        display:none;
        width:550px;
        position:absolute;
        top:45px;
        left:138px; 
        z-index:1199;
        background:#fff;
        padding:7px;
    }
    .tips li.open span.clock-show {
    display: block;
    position: absolute;
    top: 60px;
    left: -111px;
    z-index: 1001;
    width: 270px;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    color: #585f69;
    background: #fff;
    border:1px solid #d3d3d3;
}
     .tips li.open span.clock-show:before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    right: 132px;
    top: -4px;
    background: #fff;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
}

.label-useless, .badge-useless {
    background-color: #d4d4d4;
    color: #FFFFFF;
}

/*标签样式*/
.label {
  background-color: #d1dade;
  color: #5e5e5e;
  font-size: 12px;
  font-weight: 600;
  padding: 6px 8px;
  text-shadow: none;
}
.badge {
  background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 100;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 6px;
    text-shadow: none;
}
.label-primary,
.badge-primary {
  background-color: #2095f2;
  color: #FFFFFF;
}
.label-success,
.badge-success {
  background-color: #00cc33;
  color: #FFFFFF;
}
.label-warning,
.badge-warning {
  background-color: #f8ac59;
  color: #FFFFFF;
}
.label-warning-light,
.badge-warning-light {
  background-color: #f8ac59;
  color: #ffffff;
}
.label-danger,
.badge-danger {
  background-color: #f34235;
  color: #FFFFFF;
}
.label-filter,
.badge-filter {
  background-color: #2095f2;
  color: #FFFFFF;
}
.label-info,
.badge-info {
  background-color: #36a1d7;
  color: #FFFFFF;
}
.label-inverse,
.badge-inverse {
  background-color: #262626;
  color: #FFFFFF;
}

.label-useless,
.badge-useless{
  background-color: #d4d4d4;
  color: #FFFFFF;
}

.label-white,
.badge-white {
  background-color: #FFFFFF;
  color: #5E5E5E;
}
.label-white,
.badge-disable {
  background-color: #2A2E36;
  color: #8B91A0;
}
.label-green,
.badge-green {
  background-color: #52ad30;
  color: #ffffff;
}
.label-orange,
.badge-orange {
  background-color: #fda000;
  color: #ffffff;
}
.label-blue,
.badge-blue {
  background-color: #3183eb;
  color: #ffffff;
}
.badge-mr,.label-mr{
    color: #e04035;
    background-color: #fff;
    border: 1px solid #e04035;
}
.label-timeout,
.badge-timeout {
  background-color: #1CDCD1;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 210px;
    min-height: 1200px;
/*    box-shadow: 1px -5px 5px #ddd inset;*/
    border-left: 1px solid #dddddd;
  }
  .navbar-static-side {
    z-index: 101;
    position: absolute;
    width: 210px;
  }
    .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

}
@media (max-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 0px;
    min-height: 1000px;
  }
    
    
    
  .body-small .navbar-static-side {
    display: none;
    z-index: 101;
    position: absolute;
    width: 70px;
  }
  .body-small.mini-navbar .navbar-static-side {
    display: block;
  }
  .navbar-header {
    display: inline;
    float: left;
  }
  .fixed-sidebar.body-small .navbar-static-side {
    display: none;
    z-index: 101;
    position: fixed;
    width: 220px;
  }
  .fixed-sidebar.body-small.mini-navbar .navbar-static-side {
    display: block;
  }
   dl.infos_list:before{
	content:'';
	position: absolute;
    left:406px;
	width:12px;
	height:6px;
	margin:-6px auto 0;
    background:url(../../../static/mcenter/images/icon_arrow_dil.png) no-repeat;
}
.open dl.infos_list{
	width:585px;
	right:-154px;
}
    
}

@media (max-width: 900px) {
    .top ul.navbar-nav{position: absolute;
    z-index: 100;
    padding: 0;
    width: 100%;
    margin: 0;
    background-color: #3a4656;
    top: 63px;
    display: none;
    }
    ul.navbar-nav.open{
    display: block;
				z-index: 1000;
    border-bottom: 1px solid #142D3C;
    box-shadow: 0px 4px 5px rgb(27, 39, 41);
    }
    .open dl.infos_list {
    right: -12px;
}   
    dl.infos_list:before {
    left: 551px;
}
    }
@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-icon i {
    margin-left: -12px;
    margin-top: -10px;
  }
}
.vertical-timeline-content h2 {
  font-weight: 400;
  margin-top: 4px;
}
@media only screen and (min-width: 768px) {
  .vertical-timeline-content h2 {
    font-size: 18px;
  }
  .vertical-timeline-content p {
    font-size: 13px;
  }
  .nav-menu-switch{display: none;}
}
@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .center-orientation .vertical-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .center-orientation .vertical-timeline-content .btn {
    float: left;
  }
  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .btn {
    float: right;
  }
}
@media (max-width:2000px){
    .table-responsive {
        width: 100%;
        margin-bottom: 0;
        overflow-y: hidden;
        /*border: 0;*/
    }
    .table-responsive > .table{
        margin-bottom: none;
    }
    .table-responsive.bdnone{
        border: 0;
    }
}
.table-responsive.bdnone{
    overflow-x: inherit;
}
@media (max-width:1095px){
	.navbar-toggle{display:none}
	.top-navigation .nav > li{width:82px; overflow:hidden; float:left}
	.top-navigation .nav > li > a{width:82px; overflow:hidden; font-size:12px;}
    .show-hide-1095{display:none; background: #ffffff;}
}

@media (max-width:415px){
	.top .logo-wrap li.open dl.menu-item{
		left:-130px;
	}
}
@media(max-width: 1000px){.nav-tabs > li > a{
	padding:5px;
	
}}
.animated.modal.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.modal-footer {
  margin-top: 0;
  padding:0 15px 15px;
  border-top:0;
}

/* FOOTER */
.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}
.footer.fixed_full {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 20px;
  background: white;
  border-top: 1px solid #e7eaec;
}
.footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0;
  z-index: 1000;
  padding: 10px 20px;
  background: white;
  border-top: 1px solid #e7eaec;
  margin-left: 220px;
}
body.mini-navbar .footer.fixed,
body.body-small.mini-navbar .footer.fixed {
  margin: 0 0 0 60px;
}
body.fixed-sidebar.body-small.mini-navbar .footer.fixed {
  margin: 0 0 0 220px;
}
body.body-small .footer.fixed {
  margin-left: 0px;
}

.page-skip{margin:3px 0 0;}
.page-skip>form.form-inline label{ margin-bottom: 0;}

.fixed-width-80{ width: 80px;}

/* Validation */
label.error {
  color: #cc5965;
  display: inline-block;
  margin-left: 5px;
}
.form-control.error {
  border: 1px solid #f34235;
}
.error {
  border: 1px solid #f34235;
}


@media (max-width: 768px){.footer{margin:0;}
    li.show-hide-768{display: none;}
}

.table-responsive .nav-tabs{min-width: 1030px;}
/*@media (max-width: 580px){
ul.tips li{
    display: none;
}}*/

.table-min-h {
    min-height: 360px;
}

.btn-filter.btn-outline {
    color: #787E82;
    border-color: #D3D3D3;
}

.open dl.tasks_list dd a i {
    margin: 0 2px;
    font-style: normal;
}
div.tooltip.top{
    width:auto;
	height:auto;
	line-height:14px;
	color:#ffffff;
	background:none;
    border: 0;
}
.border-b-1 {
    border-bottom: 1px solid #e5e6e7;
}
.table.border {
    border: 1px solid #e7eaec;
}
.htm-5-logo{ 
    float: left;
    width: 24px;
    height: 26px;
    margin-top: -4px;
    margin-left: 15px;
    background-image: url(../../../mcenter/images/badge-samples-c.png);
}
.htm-5-logo:hover{
    background-image: url(../../../mcenter/images/badge-samples.png);
}

.modal-dialog > .modal-content > .modal-body{ padding: 0;}

form > .modal-body { 
    border: 1px solid #e0e0e0;
    overflow-y: auto;
    overflow-x: hidden;
}
form > .modal-footer{padding: 15px 15px 0;}
/*
 *  Usage: 加载动画
 *
 *    <div class="sk-spinner sk-spinner-fading-circle">
 *      <div class="sk-circle1 sk-circle"></div>
 *      <div class="sk-circle2 sk-circle"></div>
 *      <div class="sk-circle3 sk-circle"></div>
 *      <div class="sk-circle4 sk-circle"></div>
 *      <div class="sk-circle5 sk-circle"></div>
 *      <div class="sk-circle6 sk-circle"></div>
 *      <div class="sk-circle7 sk-circle"></div>
 *      <div class="sk-circle8 sk-circle"></div>
 *      <div class="sk-circle9 sk-circle"></div>
 *      <div class="sk-circle10 sk-circle"></div>
 *      <div class="sk-circle11 sk-circle"></div>
 *      <div class="sk-circle12 sk-circle"></div>
 *    </div>
 *
 */
.sk-spinner-fading-circle.sk-spinner {
    margin: 0 auto;
    width: 25px;
    height: 30px;
    position: relative;
}
.sk-spinner-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-spinner-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 12%;
    height: 22%;
    background-color: #2095f2;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-out;
    animation: sk-circleFadeDelay 1.2s infinite ease-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.sk-spinner-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sk-spinner-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.sk-spinner-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sk-spinner-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.sk-spinner-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}
.sk-spinner-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sk-spinner-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}
.sk-spinner-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}
.sk-spinner-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sk-spinner-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}
.sk-spinner-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}
.sk-spinner-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.sk-spinner-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.sk-spinner-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.sk-spinner-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.sk-spinner-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.sk-spinner-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.sk-spinner-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.sk-spinner-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.sk-spinner-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.sk-spinner-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.sk-spinner-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
@keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
@media screen and (max-width: 2000px){
.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
}
}
.condition-options-wraper div.clearfix.save{
    padding: 5px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background-color: #fff;
}
 div.clearfix.save{
	padding:7px 10px 0 10px;
}
 div.clearfix.save.lgg-version{
     height: 36px;
     margin: 0px -10px 9px 0px;
     padding: 7px 10px 0 0px;
}
 div.clearfix.save.lgg-version > a{
     display: block;
     float: left;
	 color:#5c697d;
	 font-size:13px;
     margin-right: -1px;
	 padding:9px 13px 10px;
     border: 1px solid #e5e5e5;
}
 div.clearfix.save.lgg-version > a span{
	 color:#c2c2c2;
	 font-size:12px;
	 margin-left:5px;
}
 div.clearfix.save.lgg-version > a.current{
	 color:#ffffff;
	 background:#36b3d1;
     border: 1px solid #36b3d1;
}
 div.clearfix.save.lgg-version > a.current span{
	 color:#fff;
}
 div.clearfix.save.lgg-version > span.more{
     display: block;
     float: left;
     padding: 4px 5px 0;
     text-align: center;
 }
 div.clearfix.save.lgg-version > span.more a{
     color: #5d646e;
     font-size: 20px;
 }
 div.clearfix.save span.cz{
	 padding:1px 3px 2px;
	 color:#fff;
	 background:#f8ac59;
}
.dataTables_info span,
.dataTables_info select{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}
.dataTables_info select{
    display: inline;
    width: auto;
    height:28px;
    padding:4px 10px 3px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
.dataTables_info .pagination>li>span:hover{
    height:34px;
    background:none;
    color: inherit;
}
th.bg-tbcolor {
    max-width: 198px!important;
}

/*当前时区*/
.home-wrap li.open span.clock-show{
  position:none;
  top:0;
  left:0;
  z-index:1001;
  width:270px;
  height:35px;
  padding:0;
  line-height:35px;
  color:#ffffff;
  background:#none; 
}

.home-wrap li.clock.open span:before{
  content:'';
  width:12px;
  height:6px;
  margin:-6px auto 0;
  background:url(../../../static/mcenter/images/icon_arrow_dil.png) no-repeat;
}
.top-time{border-left:1px solid #2d3745;border-right:1px solid #2d3745;padding: 0 10px!important;
    height: 60px;margin-right: 12px;}
  .top-time-ico{
  vertical-align: top;
  line-height: 54px;
  }
  .top-time-number{
  vertical-align: top;
  line-height: 58px;
  }


/* DATATABLES */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc{cursor: pointer;}
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
  color: #2095f2;
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
  padding:0 0 0 6px;
  font: normal normal normal 14px/1 FontAwesome;
}

table.dataTable thead .sorting_asc:after{
  content: "\f0de";
  padding:0 0 0 6px;
  font: normal normal normal 14px/1 FontAwesome;
  vertical-align: bottom;
}

table.dataTable thead .sorting_desc:after{
  content: "\f0dd";
  padding:0 0 0 6px;
  font: normal normal normal 14px/1 FontAwesome;
  vertical-align: top;
}

/*资金管理存款*/
.bank-deposit{margin-left:15px;display:block;overflow:hidden;margin-bottom:15px;}
.bank-total{}
.bank-total .radio{}
.bank-deposit h1{font-size:14px;font-weight:normal}
.rgeechar{margin-left:20px;margin-top:23px}
.rgeechar .title{background:#fff6ee;border:1px solid #f2c79d;margin-right:20px;padding:10px;border-radius:3px;color:#333}
.rgeechar .notfound{width:600px}
.controls img{vertical-align:top}
.bank{float:left;cursor:pointer;border:1px solid #d3d3d3;margin-right:8px;display:inline-block;margin-top:8px;width:150px;height:34px;padding:8px 0px 6px 8px;margin-left:0}
.pay-bank{cursor:pointer;vertical-align:middle;}
.moneydetail .pay-bank{margin-top: 10px; vertical-align: top;}

/*实时通知菜单模块*/
.real-time-inform{
    position: fixed;
    bottom: 67px;
    right:16px;
    z-index: 1000;
    display: none;
    z-index: 1001;
}
.real-time-inform .max-ccc{
    overflow-x: hidden;
    max-height: 413px;
    padding: 3px;
    transition: max-height 0.4s,vertical-align 0.4s;
    -o-transition: max-height 0.4s,vertical-align 0.4s;
    -ms-transition: max-height 0.4s,vertical-align 0.4s;
    -moz-transition: max-height 0.4s,vertical-align 0.4s;
    -webkit-transition: max-height 0.4s,vertical-align 0.4s;
}
.real-time-inform.max-h .max-ccc{
    max-height: 74px;
    overflow: auto;
}


.real-time-inform .inform-success{
    background: -webkit-linear-gradient(top, #ebf5fa , #c9dfea);
    background: -o-linear-gradient(top, #ebf5fa , #c9dfea);
    background: -moz-linear-gradient(top, #ebf5fa , #c9dfea);
    background: linear-gradient(to bottom, #ebf5fa , #c9dfea);
    padding: 10px;
    color: #36a1d7;
    border-radius: 4px;
    margin-bottom: 5px;
}
.real-time-inform .inform-success a{
    color: #36a1d7;
}

.real-time-inform .inform-warning{
    background: -webkit-linear-gradient(top, #FDF9E7 , #F7EBC8);
    background: -o-linear-gradient(top, #FDF9E7 , #F7EBC8);
    background: -moz-linear-gradient(top, #FDF9E7 , #F7EBC8);
    background: linear-gradient(to bottom, #FDF9E7 , #F7EBC8);
    padding: 10px;
    color: #E2913B;
    border-radius: 4px;
    margin-bottom: 5px;
}
.real-time-inform .inform-warning a{
    color: #E2913B;
}

.real-time-inform .in-details{
    /*float: right; */
    /*width: 365px;*/
}
.real-time-inform .btn-close{
    float: right;
}
.real-time-inform .btn-close a{
    display: block;
    margin: -15px -6px 0 0;
    font-size: 24px;
    font-weight: 600;
}

.in-details>.hint-text,
.in-details>.hint-time{
    display: block;
}
.in-details>.hint-text{
    font-size: 14px;
    font-weight: 100;
    width: 365px;
}

.in-details>.hint-time{
    opacity: 0.5;
    filter: "alpha(opacity=50)";
}
.real-time-inform .unfold{ float: right; background: rgba(0,0,0,0.6); padding: 2px 5px;}
.real-time-inform .unfold i{
    color: #fff;
    line-height: 18px;
    transition: transform 0.4s,vertical-align 0.4s;
    -o-transition: transform 0.4s,vertical-align 0.4s;
    -ms-transition: transform 0.4s,vertical-align 0.4s;
    -moz-transition: transform 0.4s,vertical-align 0.4s;
    -webkit-transition: transform 0.4s,vertical-align 0.4s;
}
.real-time-inform .unfold.open i{
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.real-time-inform .unfold a.unfold-z,
.real-time-inform .unfold.open a.unfold-s{
    display: block;
    float: left;
    color: #fff;
}
.real-time-inform .unfold a.unfold-s,
.real-time-inform .unfold.open a.unfold-z{
    display: none;
    float: left;
}
.preloader{width: 120px; position: absolute; left: 50%; display: none; padding:30px 0; background: url(../../images/loading.gif) #fff no-repeat center center; border-radius: 4px; border: 1px solid #ddd; opacity: 0.9; filter: alpha(opacity=90); text-align: center; z-index: 2000;}
.table-desc-list th, .table-desc-list td{height: 40px; padding-top: 12px!important; padding-bottom: 12px!important;}
.table-desc-list .major th, .table-desc-list .major td{padding-top: 20px!important; padding-bottom: 20px!important;}
.no-border th, .no-border td{border-top:none!important;}
.btn-primary-hide,.btn-info-hide,.btn-success-hide,.btn-warning-hide,.btn-danger-hide{color: #3d4346;background-color: #fff;border: 1px solid #b4b7bb;}
.btn-primary-hide i,.btn-info-hide i,.btn-success-hide i,.btn-warning-hide i,.btn-danger-hide i{margin-right:10px;}

.btn-primary-hide:hover{color: #fff; background-color:#2095f2;border-color:#2095f2;}

div.elli{
    overflow:hidden; /*超出部分隐藏*/
    white-space:nowrap;/*强制在一行显示*/
    text-overflow:ellipsis;
    height:30px;
    padding: 5px 10px;
}
div.clip{
    border:1px solid;
    overflow:hidden; /*超出部分隐藏*/
    white-space:nowrap;/*强制在一行显示*/
    text-overflow:clip;
    height:20px;
}
div.hide{
    overflow:hidden;
    border:1px solid;
    height:50px;
}
div.scroll{
    overflow-x:hidden;
    overflow-y: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
}
/* 游戏下拉样式 */
.type-search {
    display: none;
    position: absolute;
    background: #fff;
    left: 0;
    z-index: 999;
    min-width: 600px;
    width: 100%;
    padding: 15px;
    box-shadow: 0 3px 10px rgb(181, 181, 181);
    border: 1px solid #b4b7bb;
    margin-top: -1px;
}
.input-group-addon {
    background-color: #fff;
    border: 1px solid #b4b7bb;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 5px 12px;
    text-align: center;
}
.caret-a:after {
    content: "\f0dc";
    padding: 0 0 0 6px;
    font: normal normal normal 14px/1 FontAwesome;
    color: #b4b7bb;
}
#calendar option{background:#fff;}

/*彩票功能样式*/
.wrapper {
    padding-bottom: 5px;
}
.time-select-a .time-select-btn{
    border: 0;
    padding: 0 0 0 10px;
    }
.table.text-center  tr > th,.table.text-center  tr > td{
  padding: 5px 5px 5px 5px!important;
}
.table.text-center th,.table.text-center td{
  text-align: center!important;
}
.ssc-label{margin-right: 5px;}
.ssc-label:hover{background: #4da6ce!important;}
.ssc-label.ssc-active{
  background: #4da6ce;
    color: #FFFFFF;
}
.all-statistics{
  background: #f5f5f5;
  border-top: 1px solid #ddd;
}
/*彩票球样式*/
.cpq-cqssc{
	position:relative;
	display:inline-block;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: 23px;
    border-radius: 50%;
    background-color: #f92003;
}
/*六合彩三色波*/
/*红波*/
.cpq-num[num="1"],
.cpq-num[num="2"],
.cpq-num[num="7"],
.cpq-num[num="8"],
.cpq-num[num="01"],
.cpq-num[num="02"],
.cpq-num[num="07"],
.cpq-num[num="08"],
.cpq-num[num="12"],
.cpq-num[num="13"],
.cpq-num[num="18"],
.cpq-num[num="19"],
.cpq-num[num="23"],
.cpq-num[num="24"],
.cpq-num[num="29"],
.cpq-num[num="30"],
.cpq-num[num="34"],
.cpq-num[num="35"],
.cpq-num[num="40"],
.cpq-num[num="45"],
.cpq-num[num="46"]{
  background-color: #f92003;
}
/*绿波*/
.cpq-num[num="5"],
.cpq-num[num="6"],
.cpq-num[num="05"],
.cpq-num[num="06"],
.cpq-num[num="11"],
.cpq-num[num="16"],
.cpq-num[num="17"],
.cpq-num[num="21"],
.cpq-num[num="22"],
.cpq-num[num="27"],
.cpq-num[num="28"],
.cpq-num[num="32"],
.cpq-num[num="33"],
.cpq-num[num="38"],
.cpq-num[num="39"],
.cpq-num[num="43"],
.cpq-num[num="44"],
.cpq-num[num="49"]{
  background-color: #5ce21a;
}
/*蓝波*/
.cpq-num[num="3"],
.cpq-num[num="4"],
.cpq-num[num="9"],
.cpq-num[num="03"],
.cpq-num[num="04"],
.cpq-num[num="09"],
.cpq-num[num="10"],
.cpq-num[num="14"],
.cpq-num[num="15"],
.cpq-num[num="20"],
.cpq-num[num="25"],
.cpq-num[num="26"],
.cpq-num[num="31"],
.cpq-num[num="36"],
.cpq-num[num="37"],
.cpq-num[num="41"],
.cpq-num[num="42"],
.cpq-num[num="47"],
.cpq-num[num="48"]{
  background-color: #2b9bd0;
}    


/*彩票二级目录*/
.lot_two_menu {
    line-height: 45px;
    padding: 0 15px;
    border-bottom: 1px solid #e6e6e6;
    color:#b3b2b2;
}
.lot_two_menu a{
  color:#b3b2b2;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 2px 5px;
  transition: all 0.2s;
  white-space:nowrap;
}
.lot_two_menu a:hover,.lot_two_menu a.active{
  color: #f39503;
  border: 1px solid #f39503;
  padding: 2px 5px;
  background: #fff7eb;
}

.odds-add-subtract a.btn{
    border-radius: 2px;
    padding: 0px 5px;
    vertical-align: top;
    display: inline-block;
    margin: 4px 2px 0 2px;
}
.odds-add-subtract input.form-control{
    border-radius: 2px!important;
    display: inline-block;
    float: none;
    width: 100px;
}

/*单元格宽度限制*/
.td-width-120,.td-width-150,.td-width-200{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.td-width-120{max-width: 120px;}
.td-width-150{max-width: 150px;}
.td-width-200{max-width: 200px;}