<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <add value="index.shtml" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
