@charset "utf-8";
*{font-size:14px; font-family:"微软雅黑";margin:0;padding:0;}
li{list-style:none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
body{overflow-x: hidden;}
h1,h2,h3,h4,h5,h6,p,ul,ol{margin:0;}
.hide-y{overflow-y:hidden;}
.row{margin:0;}
.swp .info-1,.swp .info-3{color: #000000;}
.swp .info-2,.swp .info-4{color: #007bff;}
$MainColor: #e4edf7;

//------------------------------公共样式 Start：-------------------------------  
    .container{max-width:1355px;display:flex;padding:0;
        .content{ padding:0 20px; box-shadow:inset 0 4px 10px #dae3ec;}
    }
//  左侧导航：
     .menu{width:230px;padding:0 10px;background:url('../images/nav-bg.png') top no-repeat;min-height:800px;float:left;
            .name{font-size:1.5rem;color:#dbf8fd;text-align:center;padding:70px 0 25px 0;
                font{font-size:11px;display:block;text-transform:uppercase;letter-spacing: 0.5px;}
            }
            .list-group{
                .list-group-item{background:none;border:none;text-align:center;padding:0;margin:0 0 5px;position:relative;
                    .tit{height:35px;line-height: 35px;margin:0;border-radius:17px;padding:0 33px 0 10px;font-size:1.1rem;}
                    .tit:hover{background:#1c89f3;}    
                    a{font-size:1.1rem;color:#b5d9fe}
                    i{width:24px;height:22px;float:left;margin-top:7px;}
                    i.gaikuang{background:url(../images/menu-left-1.png) center no-repeat;}
                    i.player{background:url(../images/menu-left-2.png) center no-repeat;}
                    i.deposit{background:url(../images/menu-left-3.png) center no-repeat;}
                    i.game{background:url(../images/menu-left-4.png) center no-repeat;}
                    &:after{content: "";display:block;width:17px;height:17px;background:url(../images/menu-right-2.png) center no-repeat;position:absolute;right:10px;top:8px;}
                }
                .active{
                    &:after{background:url(../images/menu-right-1.png)}
                    .tit{ background:rgba(#fff,0.3); }
                    .tit:hover{ background:rgba(#fff,0.3); }   
                }
                
                .hideMenu{padding:10px;display:none;
                    li a{line-height:30px;font-size:1rem;color:#b5d9fe;}
                    li.active a{font-weight:bold;color:#fff;}
                }
            }
        }
//      sweiper
        .dataBox{width: 100%;
                .swiper-container{margin: 0 43px;padding:25px 0 0 0;text-align: center;
                    .swiper-wrapper{width: 100%;
                        .swiper-slide{
                            border-radius: 10px;border: solid 1px #e2e2e2;
                            .info-1{ font-size: 14px;}                           
                            .info-2{font-size: 25px;font-weight: bold;}
                            .info-3{font-size: 12px;}
                            .info-4{font-size: 12px;}                       
                        }
                    }
                }
        }
//      右侧头部样式：    
        .top-info{height:50px;background:#fff;padding-right:20px;display:flex;
            .icon-menu{width:70px;background:url(../images/menu.png) center no-repeat;display:none;}
            ul{flex:1;}
            li{display:inline-block;margin-left:11px;height:36px;line-height:36px;border-radius:17px;background-color:$MainColor;margin-top:8px;overflow:hidden;white-space: nowrap;
                width:auto;transition: width 0.3s ease-in-out;
                &.active{width:42px;} 
                span{height:100%;width:42px;display:inline-block;float:left;}
                p{display:inline-block;overflow:hidden;white-space: nowrap;padding-right:15px;}
            }
            
            li.time span{background:url(../images/top-1.png) no-repeat center /100%;}
            li.webName span{background:url(../images/top-2.png) no-repeat center /100%;}
            li.username span{background:url(../images/top-3.png) no-repeat center /100%;}
            .chooseSite,.chooseAdmin{display:inline-block;padding-right:30px;
                .dropdown-toggle{cursor:pointer;position:relative;padding:0;
                    &:after{display:none}
                    &:before{display:inline-block;content:'' ;width:7px;height:7px;border-left:1px solid #666;border-bottom:1px solid #666;transform: rotate(-45deg);position:absolute;right:-15px;top:5px;}
                }
                .dropdown-menu{min-width:8rem;
                    &.show{margin:10px 0 0 -40px;}  
                    .dropdown-item{text-align: center;padding:0;width:85%;margin:0 auto;border-radius:1.5rem;color:#999;
                        &:hover{background:#e4edf7;color:#666;}
                    }
                }
            }
            .chooseAdmin{
                .dropdown-menu.show{margin-left:-35px;}
            }
        }
//      左侧菜单切换：附加样式：
        ._drawer-mask{position:absolute;top:0;left:0;width:100%;height:100%;transition: opacity .38s ease-in-out,visibility .38s ease-in-out;background:rgba(#000,0.4);visibility: hidden;z-index:999;opacity:0;
            &.active{visibility: visible;opacity:1;}
        }
        .main-content{background:$MainColor;padding:0;flex:1;max-width: 1125px;
            transition: transform .38s ease-in-out,visibility .38s;    transform: translateX(0px);
            &.drawer-body{ transform: translateX(230px);visibility: visible;}
        }

//      走势标题：
        .run-title{height:55px;line-height: 55px;overflow:hidden;
            h1{font-size:1.15rem;font-weight: bold;color:#666666;line-height: 55px;
                span{font-weight:normal;color:#999999;}                
            }
            .group{
                .btn{border-radius:7px;margin-left:5px;}
            }
        }
//      按钮：
        .public-btn-group{margin:0 auto;background:$MainColor;display:flex;border-radius:15px;
            .btn{height:30px;border-radius:15px;flex:1;background:transparent;color:#999999;}
            .btn-primary{background:linear-gradient(to right, #00c6ff,#0072ff);color:#fff;}
        }

        
//      分页：
        .page{text-align: center;height:55px;
            .pageNum{display:inline-block;margin:20px 50px 0 15px;color:#666;float: left;}
            ul{margin: 15px 15px 0 0;}
            li{height: 26px;}
            .chooseNum{display:inline-block;
                .btn{line-height:1rem;border:1px solid #c8d9ec;border-radius:4px;padding:0.4rem 1rem;}
                .dropdown-menu{min-width:3rem;overflow:hidden;
                    .dropdown-item{padding:0.25rem 1.3rem;}
                    .dropdown-item:focus{background:#999;}
                }         
            }
//          右侧页码框：
            .page-item{
                &.active .page-link{background:linear-gradient(to right, #00c6ff,#0072ff);border:none;}
                .page-link{background:#e4edf7;cursor: pointer;  }
            }
            .page-link{margin:2px;width:26px;height:26px;border-radius:5px;padding:0;line-height: 26px;text-align: center;border:none;}
            .previous,.first-page{
                &:after{display:inline-block;content:'';width:0;height:0;border-top:5px solid transparent;border-right:8px solid #727c87;border-bottom:5px solid transparent;}
            }
            .next,.last-page{
                &:before{display:inline-block;content:'';width:0;height:0;border-top:5px solid transparent;border-left:8px solid #727c87;border-bottom:5px solid transparent;}
            }
            .last-page:after{display:inline-block;width:2px;height:10px;background:#727c87;content:'';}
            .first-page:before{display:inline-block;width:2px;height:10px;background:#727c87;content:'';}
            input.num{background:none;border:1px solid #c8d9ec;width:35px;}
            .jump{position:relative;
                &:before{display:inline-block;content:'';width:8px;height:5px;border-left:2px solid #727c87;border-bottom:2px solid #727c87;position:absolute;top:50%;margin-top:-4px;}
                &:after{display:inline-block;content:'';width:0;height:0;border-top:5px solid transparent;border-left:8px solid #727c87;border-bottom:5px solid transparent;margin:1px 0 0 7px;}
            }
        }
        
//      表格：
    .tableBox{background:#fff;border-radius:8px;margin-bottom:15px;
        .top{border-bottom:1px solid #eee;padding:0 15px;display:flex;align-items:center;height:50px;line-height:50px;
            h3{font-size:1.15rem;color:#4c789f;font-weight:bold;}
            .date-box{}
        }
        table{table-layout: fixed;width:100%;text-align:center;color:#666666;
            tr:first-child{height:50px;line-height:50px;border-bottom:2px solid #cfd8e2;background:none !important;}
            tr{height:40px;line-height:40px;border-bottom:1px solid #e2e2e2;white-space: nowrap;cursor: pointer;
                th:first-child, td:first-child{}
                &:nth-child(odd){background:#eef5fc;}
                .what{width:17px;height:17px;border-radius:100%;background:#1997e8;color:#fff;text-align:center;line-height: 17px;display: inline-block;font-style: normal;margin-right:5px;}
            }
        }
    }
    
    //      日期 按钮、选择：：
    .date-box{flex:1;text-align:right;
        .public-date-group{display:inline;
            .btn{width:30px;height:30px;border-radius:100%;text-align: center;padding:0;}
        }
        .date{height:30px;border:1px solid #e2e2e2;border-radius:15px;display: inline-block;vertical-align: middle;overflow:hidden;
            padding:0 10px 0 30px;background:url(../images/date.png) 10px center no-repeat;line-height: 30px;color:#999;
            input{height:31px;vertical-align: top;border:none;width:85px;text-align: center;color:#999;cursor: pointer;}
        }
    }
    .daterangepicker.opensright{
        &:before{left:49px !important;}
        &:after{left: 50px !important;}
        .glyphicon{
            position: relative;
            top: 1px;
            display: inline-block;
            width:20px;height:20px;
            background:url(../images/data-go-left.png) center no-repeat;
        }
        .fa-chevron-right{
            background:url(../images/data-go-right.png) center no-repeat;
        }
    }
    .daterangepicker.opensright:last-child{
        &:before{left:79px !important;}
        &:after{left: 80px !important;}
    }
    
    
//------------------------------公共样式 End：-------------------------------  
        
//--------------------------- 媒体查询样式Start：--------------------------------
 @media (max-width : 1200px){
    .menu{position: absolute;height:100%;top:0;transition: transform .38s ease-in-out,visibility .38s;transform: translateX(-100%);z-index:999;visibility: hidden;}
    .drawer-active{transform: translateX(0);visibility: visible;}
    .top-info{
        .icon-menu{display:block;}
    }
 }

//          手机屏幕：
 @media (max-width : 768px){
    *{font-size:12px;}
    .menu{width:180px;}
    .main-content{
        &.drawer-body{ transform: translateX(180px);}
    }
    .container{
      .content{margin:0 10px;}  
    }
    
    .run-title{height:50px;line-height:50px;}
    
    .gaikuang-page{
      .dataBox1,.dataBox2{margin:0;
          .list{margin-bottom:10px;
              h2{line-height:45px;}
              .cont{margin:0;padding:0 10px;}
          }
      }  
    }  
    .top-info{padding-right:10px;height:45px;
        .icon-menu{width:50px;background-size:20px;}
        li{width:36px;transition: width 0.3s ease-in-out;height:32px;line-height:32px;margin:6px 5px 0 0;
            span{width:36px;}
            &.active{width:auto};
        }  
    } 
    
    .date-box{height:45px;line-height:45px;text-align: justify;
        .btn{width:25px;height:25px;}
        .date{height:30px;line-height: 30px;float:right;margin-top:8px;
            input{height:30px;width:70px;}
        }
    }
    
    .baobiao-page{
        .main-content{
            .content{padding:0;}
            .tableBox{
                .swiper-wrapper{height:250px;width:100%;
                    table{table-layout: auto;position:absolute;left:0;width:100%;
                        th{padding:0 14px;}
                        th:first-child{padding:0 40px;}
                    }
                }
                .top{padding: 0 10px;display: block;height:auto;line-height:auto;
                    h3{padding-top:15px;}
//                  .date-box{height:45px;line-height:45px;text-align: justify;
//                      .btn{width:25px;height:25px;}
//                      .date{height:26px;line-height: 26px;float:right;margin-top:12px;
//                          input{height:25px;width:70px;}
//                      }
//                  }
                }
            }
        }
    }
    
    .tableBox{
        table tr{height:35px;line-height:35px;
            &:first-child{height:40px;line-height: 40px;}   
        }
    }
    
    .xinzengwanjia-page,.activePlayer-page,.effectPlayer-page,.remain-page{
        .content{margin:0;padding:0 10px;}
        .dataBox {
            div.top{display:block;height:auto;line-height: none;padding:5px 10px 0  ;
                .public-btn-group{width:75%;margin: 5px 0 0;}
                .date-box{text-align:left;
                    .date{float:right;margin-top:8px;}
                }
            }   
        }

    }
    
//      手机屏幕下分页样式：
    .page{padding:0px;
        .pageNum{margin-right:0;float:left;}
        .txt,.jump,input.num{display:none;}
    }
    
//  日历：
    .daterangepicker.opensright{
        &:before{ right:auto; left:114px !important;}
        &:after{right:auto;left: 115px !important;}
    }
    .daterangepicker.opensright:last-child{
        &:before{ right:59px; left:auto !important;}
        &:after{right:60px;left: auto !important;}
    }
 }
//--------------------------- 媒体查询样式 End：--------------------------------
        
// 概况页：       
.gaikuang-page{
    .dataBox1,.dataBox2{margin:0 0 20px 0;
        .list{padding:0;
            .cont{margin-right:20px;background:#fff;border-radius:8px;padding:0 20px;}
            h2{font-size:1.15rem;color:#4c789f;font-weight:bold;line-height:55px;
                span{color:#00bd78;font-weight:normal;}
            }
        }    
    }
    .dataBox2{
        .list{
            .group{display:block;text-align:left;
                .btn{padding:0 10px;width:auto;flex:auto;}
            }    
        }
        
    }
} 
   
.shishitongji-page{
    .dataBox{width:1120px;margin-bottom:15px;background:#fff;
        .swiper-container{width:100%;}
        .swiper-slide{display:inline-block;width:155px;height:120px;}
    }
}
.wanjiaqushi-page{
    .tableBox{
        .top{
            h3 span{font-weight:normal;color:#666;}
        }
        .condition{
            .list{padding:0;}
            .list:last-child .box{margin-right:15px;}
            .box{border:1px solid #e2e2e2;border-radius:5px;margin:0 0 15px 15px;text-align:center;height:190px;
                .info-1{line-height:3.5rem;font-size:1.15rem;font-weight:bold;color:#666;}   
                .info-2{font-size:3.85rem;color:#007bff;padding-bottom:10px;
                    font{font-size:1.7rem;}
                }        
                .info-3{font-size:1.15rem;color:#999;
                    font{font-size:1.43rem;color:#ff5050;vertical-align: middle;margin-right:5px;}
                } 
            }
        }
    }
    
}
.xinzengwanjia-page,.activePlayer-page,.effectPlayer-page,.remain-page{
    .dataBox{background:#fff;border-radius:8px;margin-bottom:15px;
        .top{border-bottom:1px solid #eee;padding:0 15px;display:flex;align-items:center;height:50px;line-height:50px; }
        
    }    
    .tableBox{
        .top{
            h3{flex:1;}
            .export{}
        }
        table tr th:first-child{width:auto;}
    }
    
}
.remain-page{
    .tableBox{
        .time-tr{background:#dbe2e9;color:#4c789f;font-weight:bold;}
    }
    
}


