/**
 * 日本語
 */
.login-page .no-account {
    margin-left: -87px;
    width: 168px;
}
.jp-btn-distance{
    width: 70px !important;
}
.jp-btn-distance-90{
    width: 90px!important;
}
.jp-btn-distance-80{
    width: 80px!important;
}