
/*快3走势图*/
.k3_varW{width: 35px;height: 21px;}
.k3_varW i{margin: 0 auto!important;}


/*走势图重庆*/
#box #Right .main .main-box .qhbox .main-li-cq{
    height: 25px;
}
.main-li-cq .main-ul-box1 .main-ul-box .main-ul-1 li:first-child{
    padding-left: 0!important;
}

/*选中颜色*/
.active {
    color: red !important;
}
.cl-jb{
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-left: 0;

}
.cl-28 {
    width: 156px;
}
.cl-29 {
    width: 255.5px;
}
.sm-qh, .sm-jh {
    width: 107px;
}
.sm-w var{
    width: 26px;
}
.sm-w .zh{
    width: 36.5px;
}
.sm-w var i{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.sm-lh-w var i{
    width: 100%;
    border-radius: 0;
    margin-left: 0;
    text-align: center;
    background: none;
}
.long,.zongda,.zongshuang,.sm-bg-1-ds{
    background: #e70f0f!important;
    color: #fff!important;
    border-radius: 25px;
}
.hu,.zongxiao,.zongdan,.sm-bg-1-xd{
    background: #58adff!important;
    color: #fff!important;
    border-radius: 25px;
}

.sm-bg-3-he{
    background: #F86300!important;
    color: #fff!important;
    border-radius: 25px;
}
.sm-bg-3-zhi{
    background: #683535!important;
    color: #fff!important;
    border-radius: 25px;
}
.sm-bg-a{
    background: #FFF5EE!important;
}
.sm-bg-b{
    background: #EDF6FF!important;
}
.sm-lh-bg,.sm-head{
    background: #FBFBFB!important;
}
.smzhexian{
    position: absolute;
}
.remain-box{
    width:1252px!important;
    overflow:hidden;
}

.remain-box-11x5{
    width:1357px!important;
    overflow:hidden;
}

/*.long{*/
    /*background: #fac0b4!important;*/
/*}*/
/*.hu{*/
    /*background: #9bd4ff!important;*/
/*}*/
/*.zongda{*/
    /*background: #f2d5cf!important;*/
/*}*/
/*.zongxiao{*/
    /*background: #c0e3fe!important;*/
/*}*/
/*.zongdan{*/
    /*background: #f9eae7!important;*/
/*}*/
/*.zongshuang{*/
    /*background: #e4f3ff!important;*/
/*}*/
.he{
    /*background: #fdf1f7!important;*/
    background: green!important;
    color: #fff!important;
}

#shuju6 .chu-box{
    /*background: #FBFBFB;*/
}
#shuju6 .chu-box .sm_clong{
    color:black;
    /*width: 800px;*/
}
.regame_tables{
    margin-top: 0!important;
}
.rechu-box .chu{
    width: 100%;
}
.re-content-tab{
    width: 50%;
}
.re-c-t-first{
    float: left;
}

/*广东11选5*/
.recl-34{
    width: 231px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-left: 0;
}