<script id="user_table" type="text/html">
    <ul>
        <li>
            姓名：<input type="text" name="userName" value="{{:userName}}"/>
        </li>
        <li>
            所在地：
                <select name="city">
                    <option value="">请选择</option>
                    <option value="Manila" {{if city==='Manila'}} selected {{/if}}>Manila</option>
                    <option value="BeiJing" {{if city==='BeiJing'}} selected {{/if}}>Beijing</option>
                    <option value="XiangGang" {{if city==='XiangGang'}} selected {{/if}}>Xianggang</option>
                </select>
        </li>
        <li>
            年龄：<input type="text" name="age" value="{{:age}}"/>
        </li>
        <li>
            喜好：{{:favorite}}
        </li>
    </ul>
</script>
<script id="user_msg" type="text/html">

</script>