.ball-pulse>div {background-color: rgba(224, 26, 123, 0.8) !important;}
.game-loading .ball-white>div {background-color:rgba(224,26,123,0.8)!important;}
.ball-pulse.api-div div {background-color: #eee!important;}