.Single .layout .Pick .title p {
	padding: 5px;
	text-align: center;
	font-size: 18px
}

.Single .layout .Pick ul li b.title {
	width: 95px;
	text-align: center;
	height: 27px;
	margin-top: 5px;
	margin-bottom: 5px
}

.Single .layout .Pick ul li b.title i {
	background: url(../img/ico55-1.png) no-repeat center;
	margin-top: 0;
	margin-bottom: 0
}

.Single .layout .Pick ul.cl-ssc-hs li {
	width: 235px;
	float: left
}

.Single .layout .Pick ul.cl-ssc-lh li {
	width: 310px;
	float: left
}

.red {
	color: red
}

.Single .layout .Pick {
	width: 100%;
	padding-right: 0
}

.lot-content {
	overflow: hidden;
	padding: 0
}

.lot-content .main-left {
	width: 730px;
	padding-left: 24px
}

.lot-content .main-right {
	margin-top: 5px;
	float: right;
	padding-right: 15px
}

.lot-content .main-left .hd {
	margin: 0;
	height: 30px;
	line-height: 30px
}

.Single .layout .Playmethod {
	height: 74px
}

.Single .lay {
	margin-top: 5px
}

.lot-content {
	background: #fff;
	padding: 0
}

.Single .layout .Playmethod ul {
	margin-top: 5px
}

.type_top .left .left_div .alert_log h5 img {
	margin-left: 0;
	margin-top: 0;
	float: right
}

.table-common .item {
	margin-left: 2px
}

.lot-content .cl-9 {
	margin-top: 0
}

.game_name .box2_stage .number span {
	background: red;
	border-radius: 25px
}

.game_name .box2_stage .pt10 {
	overflow: hidden;
	padding-top: 5px;
	width: 23pc
}

.game_name .box2_stage .kl8 {
	width: 338px
}

.game_name .box2_stage .pk10 {
	width: 388px
}

.Account .state {
	margin: 0;
	margin: 15px 11px
}

.menu_left .logo {
	height: 75pt
}

.menu_left .logo img {
	display: inline-block;
	margin: auto;
	height: 50px;
	padding: 25px
}

.Account {
	height: 60px;
	border: none
}

#rightContent,
.Account {
	overflow: hidden
}

.con_right .top {
	width: 100%;
	overflow: hidden
}

.con_right {
	overflow: hidden;
	width: 0
}

.list_ject {
	margin-top: 30px
}

.bj28 {
	height: 30px!important;
	margin-top: 8px!important
}

.bj28 i {
	margin: 2px 0 0 4px!important
}

.menu_left {
	width: 15pc;
	overflow: hidden
}

.game_name {
	margin-top: 0
}

#subContent,
.Single .layout .Playmethod ul {
	margin: auto;
	width: 950px;
	overflow: hidden;
	float: none
}

.Account p {
	line-height: 60px
}

.Betting,
.Betting .list_wrap {
	min-height: 0
}

.Betting .list_wrap ul li {
	overflow: hidden
}

@media screen and (max-width:1010px) {
	body {
		min-width: 750pt
	}
}

#rightContent,
.con_right,
.con_right .Account,
.con_right .top {
	width: 0;
	overflow: hidden
}

.menu_left {
	width: 0
}

.Account,
.menu_left,
.top {
	position: static
}

.menu_left {
	height: 0
}

.con_right {
	float: left
}

.add_menu .list_menu ul li h2 span {
	margin-left: 0;
	margin-right: 0;
	width: 40px;
	text-align: center;
	overflow: hidden
}

.Single .layout .Playmethod ul li p {
	margin: 0
}

.bg-1,
.bg-2,
.bg-3,
.bg-4,
.bg-5,
.bg-6,
.bg-7,
.bg-8,
.bg-9,
.bg-10 {
	border-radius: .03rem;
	color: #fff
}

.bg-1 {
	background: #dbd507!important
}

.bg-2 {
	background: #01b7ff!important
}

.bg-3 {
	background: #636862!important
}

.bg-4 {
	background: #e4670d!important
}

.bg-5 {
	background: #7bf8fc!important
}

.bg-6 {
	background: #2600f7!important
}

.bg-7 {
	background: #ceced6!important
}

.bg-8 {
	background: #f80509!important
}

.bg-9 {
	background: #690000!important
}

.bg-10 {
	background: #090!important
}

.Newest .Analysis .box2 ul li .box_num i.s0 {
	margin-right: 7px
}

.Newest .Analysis .Liuhe ul li .liuhe_num .liuhe_cirl i.m10,
.Newest .Analysis .bjpk ul li .pk_num .cilr i.m10 {
	margin-left: 0
}

.Newest .Analysis .Liuhe ul li .liuhe_num .tex_p i {
	width: auto;
	min-width: 19px
}

.Newest .Analysis .Liuhe ul li .liuhe_num .kl8 {
	margin-top: 3px;
	margin-bottom: 3px
}

.main_layout .right_layotu .right_wrap .code_layout {
	width: 100%
}

.con_right .top {
	overflow: visible
}

.main_layout .right_layotu .right_wrap .login ul.state {
	overflow: hidden
}

.main_layout .right_layotu .right_wrap .login ul.state li {
	display: block;
	width: 100%
}

.Resultt .latyout .Thelottery ul li.kl8 {
	height: 105px
}

.Resultt .latyout .Thelottery ul li.kl8 .box1 var {
	height: 85px;
	padding-top: 20px
}

.Resultt .latyout .Thelottery ul li.kl8 .box1 .text {
	margin-top: 35px
}

.Resultt .latyout .Thelottery ul li.kl8 .box3,
.Resultt .latyout .Thelottery ul li.kl8 .box4 {
	margin-top: 20px
}

.Resultt .latyout .Thelottery ul li.pk10 .box2 .box_num span {
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 0
}

.Resultt .latyout .Thelottery ul li .box2 .box_num span {
	background: red;
	border-radius: 25px
}

.Resultt .latyout .Thelottery ul li .box2 p i {
	width: auto
}

.hide {
	display: none
}

#box #Right .main .main-box .qhbox #shuju1 .table .bghui td,
#box #Right .main .main-box .qhbox #shuju1 .table .wei,
#box #Right .main .main-box .qhbox #shuju1 .tongjitd td {
	overflow: hidden;
	margin: 0;
	float: left
}

#box #Right .main .main-box .qhbox #shuju1 .table .wei {
	height: 37px
}

#box #Right .main .main-box .qhbox #shuju1 .tdbor2 {
	border-right: 2px solid #d8d8d8
}

#box #Right .main .main-box .qhbox #shuju1 .table .cl-9,
#box #Right .main .main-box .qhbox #shuju1 .tongjitd td.cl-9 {
	border-right-style: none
}

#box #Right .main .main-box .qhbox #shuju1 .tongjitd td:first-child {
	width: 157px
}

.cl-40 {
	color: #000
}

.cl-31,
.cl-32 {
	width: 75pt;
	height: 67px;
	line-height: 67px;
	text-align: center
}

.cl-34 {
	width: 210px;
	height: 45px;
	line-height: 45px;
	text-align: center
}

.cl-40 var {
	float: left;
	display: inline-block;
	font-style: normal;
	text-align: center
}

.cl-31,
.cl-32,
.cl-34,
.cl-40 var {
	border: 1px solid #e3e3e3;
	border-top: 0;
	border-left: 0
}

.cl-31,
.cl-32,
.cl-33 {
	border-top: 1px solid #e3e3e3
}

.cl-40 var i {
	color: #000;
	width: 18px;
	line-height: 18px;
	height: 18px;
	display: block;
	margin: 1px;
	font-style: normal;
	position: relative
}

.cl-40 var i.bg-4,
.cl-40 var i.bg-5,
cl-40 var i.red {
	color: #fff;
	background: red;
	border-radius: 25px
}

.cl-30 .number,
.cl-30 .openCode {
	height: 21px;
	line-height: 21px;
	border-top: 0
}

.cl-30 .number {
	background: #f4f3f3
}

.cl-30 .openCode {
	background: #f3f2f2;
	color: #983f3f
}

.cl-40 var.bg-1 {
	background: #f4fbff!important
}

.cl-40 var.bg-2 {
	background: #fff5ee!important
}

.bg-white .cl-51,
.bg-white var {
	background: #fff!important
}

.bg-gray .cl-51,
.bg-gray var {
	background: #f7f7f7!important
}

.clean {
	clear: both
}

.zhexian {
	position: absolute
}

.cl-40 var i.bg-4 {
	background: #622e2e!important;
	color: #fff!important
}

.cl-40 var i.bg-5 {
	background: #c00!important;
	color: #fff!important
}

.cl-33 var i {
	color: #000
}

.cl-40 var i.transparent {
	color: transparent
}

.cl-40 var i.not-transparent {
	color: #999
}

.cl-40 var.ylfc-bg {
	background: #d8e2eb!important
}

.cl-40 var.ylfc-bg i {
	color: #999!important
}

.cl-51 {
	width: 200px;
	height: 21px;
	line-height: 21px
}

#box #Right .main .main-box .qhbox .shuoming {
	clear: both
}

.cl-41 p {
	padding: 5px 0;
	margin-left: 10px;
}

#box #Right .main .main-box .qhbox .shuoming .shuomingright .tou h4 {
	width: 260px
}

#box #Right .main .main-box .qhbox .shuoming .shuomingright .jiezhi h3 {
	padding-left: 15px;
	padding-right: 15px
}

.chu-box .chu {
	float: left;
	width: auto;
	clear: both
}

#zhexianData {
	overflow: hidden;
	clear: both
}

.lot-content .cl-10 {
	margin-top: 40px
}

.Betting .wdtz ul li span,
.Betting .wdtz ul li.not span {
	height: 44px;
	width: 14%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.Betting .kjhm ul li span,
.Betting .kjhm ul li.not span {
	height: 44px;
	width: 25%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

#shuju5 .bg-10 {
	width: 25px;
	height: 25px;
	display: inline-block;
	line-height: 25px;
	font-size: 1pc;
	margin: 0 5px
}

#shuju5 .bg-10,
.cl-40 var i.bg-red {
	background: red!important;
	border-radius: 25px;
	color: #fff
}

.table-common table td.bg-yellow {
	background: #ff0!important
}

.ball-blue {
	background: #0074ff!important
}

.ball-red {
	background: #f13030!important
}

.ball-green {
	background: #5bae1c!important
}

.color-blue {
	color: #0074ff!important
}

.color-red {
	color: #f13030!important
}

.color-green {
	color: #5bae1c!important
}

.ball-blue,
.ball-green,
.ball-red {
	color: #fff!important
}

.round {
	border-radius: 25px!important
}

.small-round {
	border-radius: 5px!important
}

.fang {
	border-radius: 0!important
}

.top .nav {
	cursor: pointer
}

#box #Right .main .main-box .qhbox .shuoming .shuomingleft {
	height: auto
}

#shuju5 table tbody tr td span {
	margin-right: 5px
}

#rightContent {
	pointer-events: auto!important
}

.layui-layer-popup .layui-layer-title {
	background: #fa6200;
	color: #fff
}

.layui-layer-popup .layui-layer-content {
	padding: 15px 20px
}

.record {
	padding-bottom: 65px;
	margin-bottom: 0
}

.left {
	float: left
}

.right {
	float: right
}

.alert {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	z-index: 99999
}

.alert_col {
	width: 50pc;
	height: 25pc;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -25pc;
	margin-top: -200px;
	border-radius: 5px
}

.alert_col h5 {
	width: 100%;
	height: 60px;
	background: #fa6200;
	border-radius: 5px 5px 0 0
}

.alert_col h5 span {
	margin-left: 15px;
	line-height: 60px;
	color: #fff;
	font-size: 14px
}

.alert_col h5 i {
	float: right;
	margin-right: 15px;
	font-weight: 100;
	font-style: normal;
	color: #fff;
	line-height: 60px;
	font-size: 24px;
	cursor: pointer
}

.alert_col h2 {
	text-align: center;
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 10px
}

.alert_col p {
	font-size: 14px;
	line-height: 30px;
	text-indent: 28px
}

.alert_col h4 {
	float: right;
	margin-right: 20px;
	font-size: 1pc;
	width: 760px;
	text-align: right
}

.alert_col div {
	width: 100%;
	height: 180px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 760px;
	margin-left: 20px;
	overflow-y: auto;
	overflow-y: scroll
}

.alert_col div::-webkit-scrollbar {
	height: 0;
	width: 5px
}

.alert_col div::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #f60
}

.alert_col div::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #f5f5f5
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400
}

.alert_col div {
	word-wrap: break-word
}

.Newest .Analysis,
.num_bett {
	display: none
}

.main_layout .right_layotu .left_wrap {
	height: 462px;
	overflow: hidden
}

.main_layout .right_layotu .right_wrap {
	height: 451px;
	overflow: hidden
}

.main_layout .right_layotu .chart {
	height: 203px;
	overflow: hidden
}

.main_layout {
	height: 681px
}

.main_layout .right_layotu .left_wrap .scroll_pic {
	height: 189px;
	overflow: hidden;
}

.Newest .layout {
	overflow: hidden;
}

.main_layout .right_layotu .right_wrap .login ul.state li a {
	margin: 0 5px;
}

#xyxhContent_1,
#xyxhContent_2,
#xyxhContent_3 {
	width: 370px;
	padding-left: 80px;
}

#xyxhContent_1 span,
#xyxhContent_2 span,
#xyxhContent_3 span {
	margin-top: 18px;
}

#xyxhContent_9 span {
	margin-top: 25px;
	width: 32px;
}

.cl-100 {
	margin-top: 5px;
}

.lot-content .main-left {
	padding-left: 0;
}


/*#box #Right .main .main-box .qhbox .main-li{display:none;}*/

.layui-layer-popup .layui-layer-content {
	line-height: 22px;
}

.eveb_form .eveb_form_box {
	height: 50px;
}

.color-888 {
	color: #888
}

.list ul li .slide p.acti {
	background: #fa6200;
	color: #fff;
}

.list ul li .slide p.acti a {
	color: #fff;
}

.Betting .list_wrap .txt {
	margin: 15px;
	padding: 0;
	line-height: 24px;
}

.Betting .list_wrap.wdzj ul li span {
	height: 44px;
	width: 14%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tail {
	margin-top: 20px;
}

#dataTable tr {
	border-bottom: 1px solid #ddd;
}

.game_name .box3_timer p.cl-2000 {
	text-align: center;
	font-size: 32px;
	line-height: 80px;
}

.list_ject ul li .Time p.cl-2001 {
	text-align: center;
	font-size: 32px;
	line-height: 80px;
}

.cl-200,
.cl-201 {}

.cl-200 {
	float: left;
	width: 610px
}

.cl-201 {
	float: right;
	width: 350px
}

.cl-202 i {
	background: none!important;
}

.cl-200 ul li span,
.cl-201 ul li span {
	margin-left: 10px!important
}

.cl-204 {
	text-align: center;
	padding: 10px 0;
	padding-left: 85px;
	position: relative
}

.cl-204 strong {
	color: #ba2636;
	font-size: 16px;
}

.cl-204 span {
	color: #c4c4c4;
	font-size: 12px;
}

.cl-205 {
	padding-left: 0
}

.cl-205 strong {
	color: #1e50a2
}

.cl-204 .fl {
	position: absolute;
	left: 85px;
}

.yilou {
	position: relative;
	padding-right: 10px;
	width: auto;
	height: 18px;
}

.Single .layout .Pick ul li span {
	height: 59px;
}

.Single .layout .Pick ul li var.yilou i {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border-width: 4px 0 4px 4px;
	border-style: solid;
	_border-style: dashed solid;
	border-color: transparent #b6b6b6;
	background: none;
	top: 0;
	right: 0;
}

#subContent.kjjg {
	width: initial;
}

.cl-201 ul li span.acti i {
	background-image: url(../img/ico_45_01.png)!important;
	background-size: 38px!important
}

.Detailedlist .layout .boxt .left ul li span.sp1,
.Detailedlist .layout .boxt .left ul li span.sp2,
.Detailedlist .layout .boxt .left ul li span.sp3,
.Detailedlist .layout .boxt .left ul li span.sp4 {
	height: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	margin: auto;
}

.Detailedlist .layout .boxt .left ul li span.sp3,
.Detailedlist .layout .boxt .left ul li span.sp4 a {
	margin: auto!important
}

.Detailedlist .layout .boxt .left ul li span.sp1 {
	width: 100px;
}

.Detailedlist .layout .boxt .left ul li span.sp2 {
	width: 285px
}

.Single .layout .Pick ul li .cl-02251 {
	float: left;
	margin-left: 30px;
}

.Single .layout .Pick ul li.cl-02252 {
	height: 40px;
}

.Single .layout .add_spot .left .sopt_wrap .cl-02253 {
	width: 170px;
	border: none;
	overflow: hidden;
}

.Single .layout .add_spot .left .sopt_wrap .cl-02253 input {
	border: 1px solid #dadada;
	float: left;
	position: inherit
}

.Single .layout .add_spot .left .sopt_wrap .cl-02253 ul {
	margin-left: 5px;
	height: 22px;
	float: left;
	position: inherit;
	width: auto;
	display: inline-block;
	border: 1px #d9d9d9 solid;
}

.Single .layout .add_spot .left .sopt_wrap .cl-02253 ul li {
	width: 25px;
	line-height: 22px;
	height: 22px;
	display: inline-block;
	border-right: 1px solid #ddd;
	text-align: center;
	cursor: pointer
}

.Single .layout .add_spot .left .sopt_wrap .cl-02253 ul li:hover {
	background: #dedede;
}

.Single .layout .add_spot .left .sopt_wrap .cl-02253 ul li.acti {
	background: #fa6200;
	color: #fff
}

.Single .layout .add_spot .left .sopt_wrap .cl-02253 ul li:last-child {
	border-right: none
}

.Single .layout .add_spot .left .sopt_wrap .slide_sp i var {
	width: auto;
}

.Single .layout .add_spot .left .sopt_wrap .slide_sp p span {
	width: 0;
}

.Single .layout .add_spot .left .sopt_wrap .slide_sp p var {
	left: 0
}

.clearBet_template {
	margin: 15px;
}

.clearBet_template .l {
	vertical-align: middle;
	float: left;
	width: 50px;
	overflow: hidden;
	height: 100%
}

.clearBet_template .l span {
	display: block;
	height: 100%;
	position: relative;
}

.clearBet_template .l span i {
	text-align: center;
	background: url(../img/mdl-icon.png) no-repeat;
	background-position: 0 -42px;
	display: inline-block;
	width: 42px;
	height: 42px;
	background-size: 42px;
	position: absolute;
	bottom: 10px
}

.clearBet_template .r {
	float: right;
	width: 360px;
	overflow: hidden;
	height: 100%
}

.clearBet_template .r p {
	text-align: center;
	height: 40px;
	line-height: 40px
}

.clearBet_template .l,
.clearBet_template .r {
	height: 80px;
}

.clearBet_template .btns {
	margin-top: 15px;
	text-align: center
}

.clearBet_template .btns button {
	font-size: 16px;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #5d5d5d;
	color: #fff;
	border: none;
	margin: 0 15px
}

.clearBet_template .btns button:hover {
	background: #f13833
}

.Single .layout .Playmethod{height:auto;}
.Single .layout  .Playmethod ul li{margin:14px 0;float:inherit;display:block;overflow:hidden;}
.Single .layout .Playmethod ul li p.kuaiqian span {width: 61px;}
.cl-1001{float:left!important}
.Single .layout .Pick.cl-1002 ul li span{height:auto;}
.Single .layout .Pick ul li .clear i:hover{background:#fa6200;color:#fff}
.theme-green .back-bar .selected-bar{background:#fa6200!important;}
.cl-1003{background:url(../img/ico64.png) no-repeat;padding:5px 0;display: inline-block;vertical-align: middle;margin-top: -2px;width:180px;}
.cl-1003 .cl-1004{position: relative;padding:0 8px;}
.my-slide-theme .back-bar{background:none!important;}
.xzqd{font-size:16px!important;font-weight:bold!important;color:#fff!important;text-align:center!important;background-color:#fa6200!important}