.swiper-container {width: 100%;height: 2.4rem;margin-top: .45rem;position: fixed!important;left: 2.07rem}
.swiper-slide {text-align: center;height: 100%;color: white;}
body{background: url(../image/index/bg_center.png) 0 0/100% 100% no-repeat;font-size: .13rem;}
.carousel-box{width: 2.25rem;overflow: hidden;transition: 1s linear;left:0px;height: 2.4rem;top: .45rem;z-index: 10;position: fixed;}
.game-box{width: 1.2rem;display:flex;flex-direction:column;transition: 1s linear;right:0px}
.game-box-spc{width: 2.1rem;display:flex;flex-direction:column;transition: 1s linear;right:0px}
.game-box>div{height: 50%;width: 100%;user-select: none;}
    @keyframes swoperBtn{
        0%{transform: scale(1)}
        50%{transform: scale(.8)}
        100%{transform: scale(1)}
    }
    @keyframes swoperBtn1{
        0%{transform: scale(1) rotate(180deg)}
        50%{transform: scale(.8) rotate(180deg)}
        100%{transform: scale(1) rotate(180deg)}
    }
.slide-carousel{height: 100%;}
.slide-carousel>img{width: 83%;height: 90%;margin-left: -.06rem;}
.carousel-swiper-container{height: 100%;}
.swiper-pagination-bullet-active{background: #fdeb6e!important}
.swiper-pagination-bullet{background: #3060dc;border: 1px solid #8390c3!important;opacity: 1!important;width: .05rem!important;height: .05rem!important;}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 5.07px!important;
    width: 92%!important;
}
.game-box>div:active{transform: scale(.96)}

.game1{background: url(../image/home/gm1.png) 0 .15rem/1.10rem .97rem no-repeat}
.game2{background: url(../image/home/gm2.png) 0 0/1.10rem .97rem no-repeat}
.game3{background: url(../image/home/gm3.png) 0 .15rem/1.10rem .97rem no-repeat}
.game4{background: url(../image/home/gm4.png) 0 0/1.10rem .97rem no-repeat}
.game5{background: url(../image/home/gm5.png) 0 .15rem/1.10rem .97rem no-repeat}
.game6{background: url(../image/home/gm6.png) 0 0/1.10rem .97rem no-repeat}
.game7{background: url(../image/home/gm7.png) 0 .15rem/1.10rem .97rem no-repeat}
.game8{background: url(../image/home/gm8.png) 0 0/1.10rem .97rem no-repeat}
.game9{background: url(../image/home/gm9.png) 0 .15rem/1.10rem .97rem no-repeat}
.game10{background: url(../image/home/gm14.png) 0 0/1.10rem .97rem no-repeat}
.game11{background: url(../image/home/gm15.png) 0 .15rem/1.10rem .97rem no-repeat}
.game12{background: url(../image/home/gm12.png) 0 0/1.10rem .97rem no-repeat}
.game13{background: url(../image/home/gm13.png) 0 .15rem/1.10rem .97rem no-repeat}
.game14{background: url(../image/home/gm10.png) 0 0/1.10rem .97rem no-repeat}
.game15{background: url(../image/home/gm11.png) 0 .15rem/1.10rem .97rem no-repeat}
.game16{background: url(../image/home/gm16.png) 0 0/1.10rem .97rem no-repeat}
.game17{background: url(../image/home/gm17.png) 0 .11rem/1.13rem 1.03rem no-repeat}
.snow{
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;
}
