.pack {
    width: 100%;
    font-size: .13rem;
    padding-top: .5rem;
    position: absolute;
    top: 0;
    bottom: 0;
}

header {
    width: 100%;
    height: .5rem;
    background: url(../image/index/bg_top.png) 0 0/100% 100% no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 100;
}

footer {
    width: 100%;
    height: .36rem;
    background: url(../image/index/bg_bottom.png) 0 0/100% 100% no-repeat;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 100;
    overflow: visible;
}

iframe {
    width: 100%;
    height: 100%;
}

.shade-across {
    background: black url(../image/index/shade_across.png) 0 0/100% 100% no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    display: none;
}


.shade-across p {
    width: 100%;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    font-size: 16px;
    color: red;
}

.notice {
    width: 3rem;
    color: white;
    padding: .0rem .1rem;
    position: fixed;
    top: .6rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 20;
    border: 1px solid rgb(109, 112, 122);
    border-radius: 20px;
    background: #17204A;
    font-size: .10rem;
    box-shadow: 0px 0px 5px white;
    height: 0.15rem;
    overflow:hidden;
}
.notice ul li{float:left; padding:0 10px; line-height:.15rem;}

.notice_name,
notice_price {
    display: inline-block;
    margin: 0 .03rem;

}

.notice_name {
    color: #FFD800;
}

.notice_price {
    color: #76FFF4;
}
marquee>span{
    margin-right: .30rem;
}

.header_via{
    border: 1px solid #f7e698;
    width: .3rem;
    height: .3rem;
    border-radius: 100%;
    position: absolute;
    left: .2rem;
    margin: auto 0;
    top: 0;
    bottom: 0;
    z-index: 2;
   
}
.man{
    background: url(../image/index/header_left_icon_man.png) 0 0/108% 108% no-repeat
}
.woman{
    background: url(../image/index/header_left_icon_woman.png) 0 0/108% 108% no-repeat
}

.header_via img{
    width: 100%;
    height: 100%;
}

.header_name {
    /* border: 1px solid #f7e698; */
    width: 1rem;
    height: .20rem;
    /* border-radius: 24px; */
    position: absolute;
    left: .4rem;
    margin: auto 0;
    top: 0;
    bottom: 0;
    /* background: #0068B7;
    box-shadow: 10px 10px 5px #00468A inset; */
    color: #FFD94E;
    font-size: .11rem;
    line-height: .20rem;
    overflow: hidden;
    background: url(../image/index/user_info_bg.png) 0 0 /100% 100% no-repeat
}

.header_center {
    width: 2.2rem;
    height: .38rem;
    background: #3B4BA3;
    border-radius: 24px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.header_center a:active{
    transform: scale(.96)
}

.header_center_leftBtn {
    width: .37rem;
    height: .37rem;
    border-radius: 100%;
    background: url(../image/index/header_center_left.png) 0 0/100% 100% no-repeat;
    position: absolute;
    top: .0145rem;
    left: .02rem;
}
.header_center_leftBtn:active{
    animation: rota1 .5s linear;
}
@keyframes rota1{
    0%{transform:rotate(0deg)}
    50%{transform: rotate(360deg)}
    100%{transform: rotate(0deg)}
}

.header_center_rightBtn {
    width: .37rem;
    height: .37rem;
    border-radius: 100%;
    background: url(../image/index/heider_center_right.png) 0 0/100% 100% no-repeat;
    position: absolute;
    top: .0145rem;
    right: .02rem;
}

.header_center_ctop {
    width: 1.39rem;
    height: .15rem;
    border: 1px solid rgba(255, 217, 78, 0.801);
    position: absolute;
    left: 0;
    right: 0;
    top: .01rem;
    margin: auto;
    border-radius: 20px;
    background: #253880;
    line-height: .14rem;
}

.header_center_cbottom {
    width: 1.39rem;
    height: .15rem;
    border: 1px solid rgba(255, 217, 78, 0.801);
    position: absolute;
    left: 0;
    right: 0;
    bottom: .01rem;
    margin: auto;
    border-radius: 20px;
    background: #253880;
    line-height: .14rem;
}

.header_center_ctop span,
.header_center_cbottom span {
    font-size: .12rem;
    font-weight: bold;
}

.header_center_ctop span:nth-of-type(1),
.header_center_cbottom span:nth-of-type(1) {
    float: left;
    margin-left: .05rem;
    color: #FFD800;
}

.header_center_ctop span:nth-of-type(2),
.header_center_cbottom span:nth-of-type(2) {
    float: right;
    margin-right: .05rem;
    color: #FFF32D;
}

.header_right {
    width: 1.2rem;
    height: .4rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: .1rem;
    display: flex;
}

.header_right a {
    width: 50%;
    height: 100%;
}
.header_right a:active{
    transform: scale(.96)
}

.header_right a:nth-of-type(1) {
    background: url(../image/index/header_right_offe.png) 0 0/100% 100% no-repeat;
}

.header_right a:nth-of-type(2) {
    background: url(../image/index/header_right_gamer.png) 0 0/100% 100% no-repeat;
}

.footer_left{
    width: 1.3rem;
    height: .45rem;
    position: absolute;
    left: .17rem;
    bottom: .03rem;
    overflow: visible
}
.footer_left_val{
    width: 100%;
    height: 100%;
    background: url(../image/index/footer_left_val.png) 0 0/100% 100% no-repeat;
}
.footer_left_val:active{
    transform: scale(.96)
}
.footer_left_bg{
    width: 100%;
    height: 100%;
    background: url(../image/index/footer_left_bg.png) .32rem -.1rem/.9rem .7rem no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    animation: footer_left_bg 2s infinite linear;
}
@keyframes footer_left_bg{
    /* 0%{transform: rotate(0deg)}
    50%{transform: rotate(180deg)}
    100%{transform: rotate(360deg)} */
    0%{transform: scale(1)}
    50%{transform: scale(1.2)}
    100%{transform: scale(1)}
}

.footer_right{
    height: .5rem;
    width: 68%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer_right>div{
    height: 100%;
    float: left;
    margin-right: .12rem
}
.footer_right>div:active{transform: scale(.96)}
.footer_right>div:nth-of-type(1){
    background: url(../image/index/footer_right1.png) 0 0/100% 100% no-repeat;
    width: 1.35rem;
}
.footer_right>div:nth-of-type(2){
    background: url(../image/index/footer_right2.png) 0 0/100% 100% no-repeat;
    width: 1rem;
}
.footer_right>div:nth-of-type(3){
    background: url(../image/index/footer_right3.png) 0 0/100% 100% no-repeat;
    width: 1rem;
}
.footer_right>div:nth-of-type(4){
    background: url(../image/index/footer_right4.png) 0 0/100% 100% no-repeat;
    width: .8rem;
    position: absolute;
    right: .05rem;
    top: .135rem;
    margin: 0;
    height: .35rem;
}

.right_pop_box{
    width: 1.55rem;
    height: 100%;
   position: absolute;
   right: 0;
   top: 0;
   transition: .5s linear;
   right: -2rem;
}


.right_pop_box_top{
    height: 20%;
    background: url(../image/index/popRight_top.png) 0 0/100% 100% no-repeat;
    position: relative;
}

.right_pop_box_top_ing{
    position: absolute;
    left: .13rem;
    top: .03rem;
    width: .35rem;
    height: .35rem;
    border-radius: 50%;
}

.right_pop_box_top_id{
    position: absolute;
    left: .5rem;
    top: .11rem;
    color: #FFD94E;
    font-size: .09rem;
}

.right_pop_box_top_id::after{
    content: '欢迎光临';
    position: absolute;
    left: .01rem;
    top: .26rem;
    color: white;
    font-size: .09rem;
}

.right_pop_box_top_name{
    font-size: .12rem;
    text-align: center;
    position: absolute;
    left: 0.15rem;
    top: .55rem;
    color: white;
}

.right_pop_box_top_name span{
    color: #FFD94E;
    margin-left: 3px;
}

.right_pop_box_bottom{
    background: url(../image/index/popRight_down.png)0 0/100% 100% no-repeat;
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap
}


 .right_pop_box_bottom a{
    width: 1.2rem;
    height: .43rem;
   margin:.12rem auto -0.1rem auto;
    display: block;
    position: relative;
 }

.right_pop_box_bottom a:active{
transform: scale(.96)
}

 .right_pop_box_bottom a{
    background:url(../image/index/popRight_img.png) 0 0/100% 100% no-repeat;
    font-size: .16rem;
    text-align: center;
    line-height: .43rem;
    color: rgba(255, 255, 255, 0.808);
    letter-spacing: .03rem;
    font-weight: bold;
   }
   .clickhover::after{
       content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.521);
        border-radius: 8.5px;
   }

    .right_pop_box_bottom a:nth-of-type(5){
        width: .7rem;
    height: .25rem;
    margin:.07rem auto 0 auto;
        background: url(../image/index/popRight_img5.png) 0 0/100% 100% no-repeat;
        }

        #footer_backBtn{
           right: -200rem;
        }