body{background: black url(../image/loading/loading_bg.png) 0 0/100% 100% no-repeat;position: relative;}
.logo{width: 100%;height: 2.6rem;overflow:visible;position: absolute;top: .03rem;
    background: url(../image/loading/loading_logo.png) 0 0/100% 100% no-repeat;}
.shin{position: absolute;width: 4.3rem;height: 3.3rem;left: -.15rem;top:-.1rem;
    background: url(../image/loading/loading_shin1.png) 0 0/100% 100% no-repeat;z-index: -1;animation: shin .7s infinite linear}
    @keyframes shin{
        0%{background-image: url(../image/loading/loading_shin1.png);transform: scale(1)}
        50%{background-image: url(../image/loading/loading_shin2.png);transform: scale(.99)}
        100%{background-image: url(../image/loading/loading_shin3.png);transform: scale(1)}
        /* from{transform: scale(1)}
        to{transform: scale(2)} */
    }
/* .logo::after{content: '';background: url(../image/loading/loading_bg2.gif) 0 0/100% 100% no-repeat;width: .5rem;height: .5rem;
    position: absolute;right: 4.5rem;top: 0.29rem;} */

.loati{
    width: 100%;position: absolute;bottom: 0;height: .9rem;font-size: .13rem;text-align: center;color: white;letter-spacing:2px
}
.load_box{width: 2.72rem;height: 5px;position: absolute;margin: auto;left: 0;right: 0;bottom: .37rem;background: #4A004F;border-radius: 4px;}
.load_body{width: 20%;height: 100%;background: #cc9535;overflow: visible;position: relative;transition: .2s linear;border-radius: 4px;}
.load_body::after{content: '';background: url(../image/loading/loading_eaIcon.gif) 0 0/100% 100% no-repeat;width: .27rem;height: .21rem;
position: absolute;right: -9px;top: -.07rem;}
.load_body::before{content: '';background: url(../image/loading/loading_elbg.gif) 0 0/100% 100% no-repeat;width: .3rem;height: .3rem;
    position: absolute;right: -11px;top: -.11rem;}
.load_body_span{position: absolute;right: -.14rem;top: -.2rem;font-size: .10rem}