/* color and special images style */
/* default themes */
body { color: #333; }

header.mui-bar-nav a.mui-icon-bars { color: #666; }
header.mui-bar-nav .btn-login { background-color: #1dc28e; border: 1px solid #1dc28e; }
header.mui-bar-nav .btn-demo { background-color: #1279d9; border: 1px solid #1279d9; }
header.mui-bar-nav .btn-register { background-color: #f0af01; border: 1px solid #f0af01; }
header.mui-bar-nav .mui-action-back { color: #666; }

.yjym { color: #333; background: #e2e2e2; border-top: 1px solid #c4c4c4; }

/* notice */
.notice { background: #efefef; }
.notice .btn-title { background: #168df6; border: 1px solid #168df6; }
.notice .notice-list p a { color: #333; }

/* nav */
.nav { background: #efefef url(./images/nav-bg.png) 0 0/100% 56px repeat-x; border-top: 1px solid #d1d1d1; position: relative; }
.nav:after { content: ''; position: absolute; height: 1px; background: #d1d1d1; bottom: 7px; left: 0; right: 0; }
.nav .swiper-slide { color: #333; position: relative; }
.nav .swiper-slide.swiper-slide-active:after { content: ''; position: absolute; top: 0; left: 50%; margin-left: -32px; z-index: 1; width: 64px; height: 70px; background: url(images/nav-item-active-bg.png) center top/64px 61px no-repeat; }

/* api-grid */
.api-grid .mui-grid-view.mui-grid-9 { border-top: 0; border-left: 0; background-color: #efefef; }
.api-grid .api-item { background: url(./images/api-bg.png) no-repeat center/56px; }
.api-grid .api-item:after { background: rgba(255, 255, 255, 0.3); }
.api-grid .mui-grid-view.mui-grid-9 .mui-table-view-cell a { background: #fff; }
.api-grid ul[data-list="lottery"] .lottery-nav { color: #333; border-bottom: 1px solid #fff; }
.api-grid ul[data-list="lottery"] .lottery-nav ul { background: transparent; }
.api-grid ul[data-list="lottery"] .lottery-nav li .mui-tab-item { color: #333; border-bottom: 1px solid transparent; }
.api-grid ul[data-list="lottery"] .lottery-nav li .mui-tab-item.mui-active { border-bottom: 1px solid #168df6; }

/* mui-bar-footer */
.mui-bar-tab { background: #c2c2c2; border-top: 1px solid #b3b3b3; }
.mui-bar-tab .mui-tab-label { color: #666; }
.mui-bar-tab .mui-active .mui-tab-label { color: #007aff; }

/* mui-off-canvas-left */
.mui-off-canvas-left { background: #444; }
.mui-off-canvas-left .person-info { background: url(./images/off-canvas-sep.png) center bottom/100% 1px no-repeat; }
.mui-off-canvas-left .person-info .un-login p { color: #fff; }
.mui-off-canvas-left .person-info .un-login .btn-login { background: #eda527; border: 1px solid #eda527; }
.mui-off-canvas-left .person-info .login p { color: #fff; }
.mui-off-canvas-left .person-info .btn-person { background: #31955e; border: 1px solid #31955e; }
.mui-off-canvas-left .side-nav li { border-left: 3px solid transparent; background: transparent; }
.mui-off-canvas-left .side-nav li.active { border-left: 3px solid #445dc2; background: #333; }
.mui-off-canvas-left .side-nav li a { color: #fff; }
.mui-off-canvas-left .btn-logout { background: #eda527; border: 1px solid #eda527; }

/* lang-menu */
.lang-menu { background: #333; }

/* page promo */
.promo { background: #fff; -webkit-box-shadow: 0 0 8px 2px rgba(11, 3, 6, 0.1); box-shadow: 0 0 8px 2px rgba(11, 3, 6, 0.1); }
.promo .promo-sorts { border-bottom: 1px solid #f0efef; }
.promo .btn-promo-sort { background: #e3e2e2; border: 1px solid #e3e2e2; }
.promo .btn-promo-sort.active { background: #327fc3; border: 1px solid #327fc3; color: #fff; }

/* login and register page */
.type-header { border-bottom: 1px solid #fff; }

.login-content { background: #f2f2f2; }

.type-content .mui-control-content .mui-input-group .mui-button-row .mui-btn-block.btn-ok { background: #1766bb; border: 1px solid #1766bb; color: #fff; }
.type-content .mui-control-content .mui-input-group .mui-button-row .mui-btn-block.btn-ok:active { background: #114d8e; }
.type-content .mui-control-content .mui-input-group .mui-button-row .mui-btn-block.btn-cancel { background: #f2f2f2; border: 1px solid #1766bb; color: #1766bb; }
.type-content .mui-control-content .mui-input-group .mui-button-row .mui-btn-block.btn-cancel:active { background: #d9d9d9; }

/* mine page */
.mine-content { background: #efefef; }
.mine-content .user-info-wrap { background: #1766bb; }
.mine-content .user-info-wrap .gb-userinfo { background: #fff; }

.mui-bar-mine { -webkit-box-shadow: none !important; box-shadow: none !important; }

/* index-login-info */
.login-info { background: url(images/icon-open-offcanvas.png) no-repeat right center/5px; }

/* nots deficiency */
.deficiency-nots { background: #fff; text-align: center; padding: 15px 10px; margin: 5px; border-radius: 6px; word-break: break-word; font-size: 14px; }

/* loading */
.loading-wrap { background: fff; }
.loading-wrap:after { content: ""; display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.5); z-index: 2002; }
.loading-wrap .loading-img { position: absolute; z-index: 2003; left: 50%; top: 50%; text-align: center; -webkit-transform: translate3d(-50%, -50%, 0) scale(1); transform: translate3d(-50%, -50%, 0) scale(1); }
.loading-wrap .loading-img img { vertical-align: middle; }
.loading-wrap .loading-entirety { background: rgba(255, 255, 255, 0.95); width: 64px; height: 64px; line-height: 63px; border-radius: 12px; }
.loading-wrap .loading-entirety img { width: 48px; }

/*# sourceMappingURL=style.css.map */
