* {
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

ol, ul {
    list-style: none;
}

a {
    color: #333;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #555;
}

img {
    border: none;
}

body {
    color: #666;
    background: #f0f4f7;
    font: 14px/1.5em "Segoe UI", "Lucida Grande", "Helvetica", "Arial", "Microsoft YaHei";
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

/*common*/
.container {
    margin: 0 auto;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.container:before, .container:after {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.list-inline {
    list-style: none;
}

.list-inline > li {
    display: inline;
    padding: 0;
}

.row {
    margin-left: -10px;
    margin-right: -10px
}

.row:before, .row:after {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.col-left, .col-right {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    float: left
}

.row-gutter-0 {
    margin-left: 0;
    margin-right: 0
}

.row-gutter-0 > * {
    padding-left: 0;
    padding-right: 0
}

/*tool*/
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.m-l-40 {
    margin-left: 40px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
}

/*style*/
.top-box {
    background: #003551;
    color: #fff;
    height: 32px;
    line-height: 32px;
}

.main-box {
    margin: 10px 0;
}

.main {
    background: #fff;
    border: 1px solid #e8ecef;
}

.main > .main-top {
    border-bottom: 1px dashed #9ca6ac;
    padding: 35px 30px;
}

.main > .main-content {
    padding: 20px;
    text-align: center;
}

.main > .main-content .qrcode-title, .main > .main-content .qrcode-caption {
    height: 40px;
    line-height: 40px;
}

.main > .main-content .qrcode-img img {
    width: 100%;
    max-width: 240px;
    margin: 0 auto;
}

.main > .main-content .pay-desc {
    text-align: center;
}

.main > .main-content .pay-desc img {
    max-width: 100%;
    margin: 0 auto;
}

.main > .main-content .qrcode-caption {
    font-size: 1.1em;
    color: #2772ee;
}

.main > .main-content .pay-desc {
    padding-top: 60px;
}

.main > .main-footer {
    border-top: 1px dashed #e8e8e8;
    padding: 35px 30px;
}

.money-text {
    color: #FF8208;
    font-size: 2em;
}

.order-text {
    color: #00678a;
    font-size: 1.2em;
}

.btn-blue {
    background: #2772ee;
    color: #fff;
    padding: 10px 72px;
}

.btn-blue:hover {
    color: #ddd;
    background: #1b56e8;
}

/*Media Queries Style*/
@media (max-width: 480px) {
    .container {
        width: 100%;
    }

    .col-left, .col-right {
        width: 100%;
    }

    .qrcode-text {
        margin-left: 10px;
    }

    .order-text {
        display: block;
        margin-left: 0;
        font-size: 1em;
    }
}

@media (min-width: 480px) {
    .container {
        width: 460px;
    }

    .col-left, .col-right {
        width: 100%;
    }

    .qrcode-text {
        margin-left: 10px;
    }

    .order-text {
        display: block;
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    .order-text, .qrcode-text {
        display: inline-block;
        margin-left: 20px;
    }
}

@media (min-width: 980px) {
    .container {
        width: 960px;
    }

    .order-text, .qrcode-text {
        margin-left: 30px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .col-left {
        width: 35%
    }

    .col-right {
        width: 65%
    }

    .order-text, .qrcode-text {
        margin-left: 40px;
    }
}