/* ==========================================================================
 Help
========================================================================== */
.text-info{ color: #3897ff!important; }
.input-group-btn img{padding: 0 10px;}
/* Form */
.radio label,.radio-inline label,.checkbox label,.checkbox-inline label{padding-left:25px}
.radio input[type="radio"],.radio input[type="checkbox"],.radio-inline input[type="radio"],.radio-inline input[type="checkbox"],.checkbox input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="radio"],.checkbox-inline input[type="checkbox"]{margin-left:-25px}
select.form-control{color:#999}
input[type="radio"],.radio input[type="radio"],.radio-inline input[type="radio"]{position:relative;margin-top:6px;margin-right:4px;vertical-align:top;border:none;background-color:transparent;-webkit-appearance:none;appearance:none;cursor:pointer}
input[type="radio"]:focus,.radio input[type="radio"]:focus,.radio-inline input[type="radio"]:focus{outline:none}
input[type="radio"]:before,input[type="radio"]:after,.radio input[type="radio"]:before,.radio input[type="radio"]:after,.radio-inline input[type="radio"]:before,.radio-inline input[type="radio"]:after{content:"";display:block;width:18px;height:18px;border-radius:50%;-webkit-transition:240ms;-o-transition:240ms;transition:240ms}
input[type="radio"]:before,.radio input[type="radio"]:before,.radio-inline input[type="radio"]:before{position:absolute;left:0;top:-3px;background-color:#3897ff;-webkit-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0)}
input[type="radio"]:after,.radio input[type="radio"]:after,.radio-inline input[type="radio"]:after{position:relative;top:-3px;border:2px solid #ccc}
input[type="radio"]:checked:before,.radio input[type="radio"]:checked:before,.radio-inline input[type="radio"]:checked:before{-webkit-transform:scale(0.5);-ms-transform:scale(0.5);-o-transform:scale(0.5);transform:scale(0.5)}
input[type="radio"]:disabled:checked:before,.radio input[type="radio"]:disabled:checked:before,.radio-inline input[type="radio"]:disabled:checked:before{background-color:#7A8288}
input[type="radio"]:checked:after,.radio input[type="radio"]:checked:after,.radio-inline input[type="radio"]:checked:after{border-color:#3897ff}
input[type="radio"]:disabled:after,input[type="radio"]:disabled:checked:after,.radio input[type="radio"]:disabled:after,.radio input[type="radio"]:disabled:checked:after,.radio-inline input[type="radio"]:disabled:after,.radio-inline input[type="radio"]:disabled:checked:after{border-color:#7A8288}
input[type="checkbox"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"]{position:relative;border:none;margin-bottom:-4px;-webkit-appearance:none;appearance:none;cursor:pointer}
input[type="checkbox"]:focus,.checkbox input[type="checkbox"]:focus,.checkbox-inline input[type="checkbox"]:focus{outline:none}
input[type="checkbox"]:focus:after,.checkbox input[type="checkbox"]:focus:after,.checkbox-inline input[type="checkbox"]:focus:after{border-color:#3897ff}
input[type="checkbox"]:after,.checkbox input[type="checkbox"]:after,.checkbox-inline input[type="checkbox"]:after{content:"";display:block;width:18px;height:18px;margin-top:-2px;margin-right:5px;border:2px solid #ccc;border-radius:2px;-webkit-transition:240ms;-o-transition:240ms;transition:240ms}
input[type="checkbox"]:checked:before,.checkbox input[type="checkbox"]:checked:before,.checkbox-inline input[type="checkbox"]:checked:before{content:"";position:absolute;top:0;left:6px;display:table;width:6px;height:12px;border:2px solid #fff;border-top-width:0;border-left-width:0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
input[type="checkbox"]:checked:after,.checkbox input[type="checkbox"]:checked:after,.checkbox-inline input[type="checkbox"]:checked:after{background-color:#3897ff;border-color:#3897ff}
input[type="checkbox"]:disabled:after,.checkbox input[type="checkbox"]:disabled:after,.checkbox-inline input[type="checkbox"]:disabled:after{border-color:#7A8288}
input[type="checkbox"]:disabled:checked:after,.checkbox input[type="checkbox"]:disabled:checked:after,.checkbox-inline input[type="checkbox"]:disabled:checked:after{background-color:#7A8288;border-color:transparent}
/* Help-jumbotron */
.main-jumbotron{background-color:#3897ff;box-shadow:inset 1px 1px 15px 5px rgba(0,0,0,0.25); width: 100%;height:100%; padding:0;}
.main-jumbotron .branding{padding:15px 0;}
.main-jumbotron .tamashi-logo {max-width: 180px;}
/* Primary-navbar */
.primary-navbar{margin-bottom: 16px;background-color:#fff; border-radius: 0; border-bottom:1px solid rgba(158,164,169,0.7);box-shadow:1px 2px 1px rgba(0,0,0,0.05);transition:all 0.4s ease-in-out;}
.primary-navbar .navbar-nav > li > a{color:#6d878f;}
@media (min-width:992px){
	.primary-navbar .navbar-nav > li > a{border-top:3px solid transparent;border-bottom:3px solid transparent;}
}
.primary-navbar .navbar-nav > li > a:hover,.primary-navbar .navbar-nav > li > a:focus{color:#3897ff;background-color:transparent;}
.primary-navbar .navbar-nav > .active > a,.primary-navbar .navbar-nav > .active > a:hover,.primary-navbar .navbar-nav > .active > a:focus{color:#3897ff;border-bottom-color:#3897ff;}
.primary-navbar .navbar-nav > .open > a,.primary-navbar .navbar-nav > .open > a:hover,.primary-navbar .navbar-nav > .open > a:focus{background-color:transparent;border-color:transparent;}
.primary-navbar .glyphicon{color:#3897ff;}
.primary-navbar .navbar-toggle{background-image:-moz-linear-gradient(90deg,#fcfeff 0%,#fcfeff 3%,rgba(252,253,254,0.99) 7%,rgba(252,252,252,0.98) 20%,rgba(252,254,255,0.87843) 100%);background-image:-webkit-linear-gradient(90deg,#fcfeff 0%,#fcfeff 3%,rgba(252,253,254,0.99) 7%,rgba(252,252,252,0.98) 20%,rgba(252,254,255,0.87843) 100%);background-image:-ms-linear-gradient(90deg,#fcfeff 0%,#fcfeff 3%,rgba(252,253,254,0.99) 7%,rgba(252,252,252,0.98) 20%,rgba(252,254,255,0.87843) 100%);border:1px solid rgba(158,164,169,0.7);box-shadow:1px 2px 1px rgba(0,0,0,0.05);}
.primary-navbar .navbar-toggle:hover,.primary-navbar .navbar-toggle:focus{background-color:#dddddd;background-image:none;}
.primary-navbar .navbar-toggle .icon-bar{background-color:#3897ff;}
.primary-navbar.-transparent-nav{background-color:transparent;background-image:none;box-shadow:none;border:none;padding-top:10px;padding-bottom:10px;}
.primary-navbar.-transparent-nav .navbar-nav > li > a{color:rgba(255,255,255,0.7);font-weight:700;}
@media (min-width:992px){
	.primary-navbar.-transparent-nav .navbar-nav > li > a{border-top:3px solid transparent;border-bottom:3px solid transparent;}
}
.primary-navbar.-transparent-nav .navbar-nav > li > a:hover,.primary-navbar.-transparent-nav .navbar-nav > li > a:focus{color:#fff;background-color:transparent;}
.primary-navbar.-transparent-nav .navbar-nav > .active > a,.primary-navbar.-transparent-nav .navbar-nav > .active > a:hover,.primary-navbar.-transparent-nav .navbar-nav > .active > a:focus{color:#fff;border-bottom-color:#fff;}
.primary-navbar.-transparent-nav .navbar-nav > .open > a,.primary-navbar.-transparent-nav .navbar-nav > .open > a:hover,.primary-navbar.-transparent-nav .navbar-nav > .open > a:focus{border-color:transparent;}
/* Blue-btn */
.btn-link{color:#3897ff;}
.btn-link:hover,.btn-link:focus{color:#0070eb;text-decoration:none;}
.btn-link:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn-link:hover{color:#337ab7;}
.primary-btn.-blue{padding:10px 35px 12px 35px;border:1px solid #0070eb;background-image:-moz-linear-gradient(90deg,#5ca4ff 2%,#0f82ff 9%,#61a7ff 100%);background-image:-webkit-linear-gradient(90deg,#5ca4ff 2%,#0f82ff 9%,#61a7ff 100%);background-image:-ms-linear-gradient(90deg,#5ca4ff 2%,#0f82ff 9%,#61a7ff 100%);box-shadow:0px 1px 2px 0px rgba(0,0,0,0.25);font-size:15px;font-weight:700;color:white;text-shadow:0.5px 0.866px 2px #0064d1;text-align:center;}
.primary-btn.-blue:hover{color:rgba(255,255,255,0.8);text-decoration:none;background-position:0 3px;}
.primary-btn.-blue:active,.primary-btn.-blue.active{transform:scale(0.95);box-shadow:0px 1px 2px 0px rgba(0,0,0,0),inset 0 0 5px rgba(0,0,0,0.5);}
.primary-btn.-blue:before{background-color:#3897ff;}
.primary-btn.-blue .badge{border-color:#0064d1;color:#057cff;}
.primary-btn.-white{padding:10px 35px 12px 35px;border:1px solid #b8d1e2;background-image:-moz-linear-gradient(90deg,#ffffff 2%,#d1e1ec 9%,#ffffff 100%);background-image:-webkit-linear-gradient(90deg,#ffffff 2%,#d1e1ec 9%,#ffffff 100%);background-image:-ms-linear-gradient(90deg,#ffffff 2%,#d1e1ec 9%,#ffffff 100%);box-shadow:0px 1px 2px 0px rgba(0,0,0,0.25);font-size:15px;font-weight:700;color:#445862;text-shadow:0.5px 0.866px 2px #a6c5da;text-align:center;background-image:-moz-linear-gradient(90deg,#dce3e7 0%,#dce3e7 3%,rgba(236,240,242,0.99) 6%,rgba(252,252,252,0.98) 17%,rgba(236,240,243,0.87843) 100%);background-image:-webkit-linear-gradient(90deg,#dce3e7 0%,#dce3e7 3%,rgba(236,240,242,0.99) 6%,rgba(252,252,252,0.98) 17%,rgba(236,240,243,0.87843) 100%);background-image:-ms-linear-gradient(90deg,#dce3e7 0%,#dce3e7 3%,rgba(236,240,242,0.99) 6%,rgba(252,252,252,0.98) 17%,rgba(236,240,243,0.87843) 100%);text-shadow:none;border-color:#9ea4a9;color:#85939a;}
.primary-btn.-white:hover{color:rgba(68,88,98,0.8);text-decoration:none;background-position:0 3px;}
.primary-btn.-white:active,.primary-btn.-white.active{transform:scale(0.95);box-shadow:0px 1px 2px 0px rgba(0,0,0,0),inset 0 0 5px rgba(0,0,0,0.5);}
.primary-btn.-white:before{background-color:#eef4f8;}
.primary-btn.-white .badge{border-color:#a6c5da;color:#cadde9;}
.flat-btn.-white{padding:10px 35px;background-color:white;font-size:15px;font-weight:700;color:#8a9fa6;text-align:center;border:1px solid #8a9fa6;}
.flat-btn.-white:hover{background-color:#d9d9d9;}
.flat-btn.-white:active,.flat-btn.-white.active{transform:scale(0.95);}
.flat-btn.-white:before{background-color:white;}
.flat-btn.-blue{padding:10px 35px;background-color:#3897ff;font-size:15px;font-weight:700;color:white;text-align:center;}
.flat-btn.-blue:hover{background-color:#0070eb;}
.flat-btn.-blue:active,.flat-btn.-blue.active{transform:scale(0.95);}
.flat-btn.-blue:before{background-color:#3897ff;}
.flat-btn.-red{padding:10px 35px;background-color:#f44336;font-size:15px;font-weight:700;color:white;text-align:center;}
.flat-btn.-red:hover{background-color:#d2190b;}
.flat-btn.-red:active,.flat-btn.-red.active{transform:scale(0.95);}
.flat-btn.-red:before{background-color:#f44336;}
.flat-btn.-gray{padding:10px 35px;background-color:#445862;font-size:15px;font-weight:700;color:white;text-align:center;}
.flat-btn.-gray:hover{background-color:#252f35;}
.flat-btn.-gray:active,.flat-btn.-gray.active{transform:scale(0.95);}
.flat-btn.-gray:before{background-color:#445862;}
.btn.-sm{font-size:14px;padding:7px 20px 6px 20px;}
.btn.-xs{font-size:12px;padding:5px 13px;}
.btn.-lg{font-size:18px;padding:12px 40px;}
/* Side-menu */
.side-menu{padding-right:8px;}
.side-menu .list-group .list-group-item{border-radius:0;}
.side-menu .list-group .active,.side-menu .list-group a:hover{color:#3897ff;border-color:#ddd;background-color:rgba(96,116,127,0.04)!important;}
.side-menu .list-group-item{font-size:13px;outline:0;color:rgba(96,116,127,0.8);border-radius:0;}
.side-menu-fixed{position: fixed;margin-left: 0; min-width: 266px; top: 15px;}
/* Help-Content */
.help-content{padding-left:8px;}
.help-content .panel-heading {color: #47595e;}
.help-content hr {margin-top: 7px;margin-bottom: 7px;}
.help-content .title {margin-top: 15px; text-align: left;}
.help-content .content {border: 1px solid #eeeeee; padding: 20px;}
.help-content .help-list li:before{ content: "â—"; padding-right: 10px;}
/* Topcontrol */
.server-bar{z-index:99; position: fixed; bottom: 10px; right: 10px;}
.server-bar .topcontrol{display: none;}
/* Login-jumbotron */
.login-jumbotron{background-color: #445862;box-shadow: inset 0 20px 50px rgba(0, 0, 0, 0.2);}
.signin-card{background-color:#fff;border-radius:6px;box-shadow:0 5px 12px rgba(0,0,0,0.2);padding:20px 40px 55px 40px; margin-bottom: 30px;}
.signin-card .form-group{margin-top:20px;}
.signin-card button.btn{position:absolute;left:50%;transform:translateX(-50%);bottom:-20px;}
.signin-card button.btn:focus,.signin-card-1 button.btn:active{transform:scale(1) translateX(-50%)!important;}
.signin-card button.btn.disabled,.signin-card button.btn[disabled],.signin-card fieldset[disabled] button.btn{opacity:1;filter:alpha(opacity=100);}
/* Register Style */
.register{margin-top:15px;}
.register .input-group-btn img{padding:0 10px;}
.register .form-group .help-block{margin-top:10px;margin-bottom:0;}
.register .pass-strength{ height: 14px; line-height: 14px; margin-top: 15px; margin-bottom: 0; }
.register .pass-strength .progress-bar{line-height: 14px;}
/* nav-wizard */
.wizard .nav-pills>li.active>a,.wizard .nav-pills>li.active>a:hover,.wizard .nav-pills>li.active>a:focus{background-color:#3897ff;}
.wizard .tab-content{border-top: 1px solid transparent;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:3px; padding:12px 0; margin-top: 12px;}
.wizard .pass-strength{ height: 14px; line-height: 14px; margin-top: 15px; margin-bottom: 0; }