body{background:#fff}
.help_r_main{padding:0;margin:auto;}
.eveb_content{padding:30px;}
.help_r_main{width:auto;}
.eveb_nav_sub{padding-top:0;}
.eveb_transfer_box .center_wallet {width:22%;}
.Res{right:15px;}
#dataTable tr{border-bottom:1px solid #ddd;}
.eveb_content h2{overflow:hidden;padding-bottom:5px;height:auto;}
.eveb_search_h2 .suminp{margin:5px 0;height:auto;}